@slide(title = "Schleifen") {
} {
    <div class="sidebyside">
        <div>
            @snippet() {
                @sourceblock(fragment = false) {
                    |def countdown() {
                    |  var i = 10
                    |  while (i >= 0) {
                    |    print(i + " ");
                    |    i -= 1
                    |  }
                    |}
                }
                @callblock() {
                    |countdown()
                }
                @outblock() {
                    |10 9 8 7 6 5 4 3 2 1 0
                }
            }
        </div>

        <div>
            @snippet() {
                @sourceblock() {
                    |def countdown() {
                    |  var i = 10
                    |  do {
                    |    print(i + " ")
                    |    i -= 1
                    |  } while (i >= 0)
                    |}
                }
                @callblock() {
                    |countdown()
                }
                @outblock() {
                    |10 9 8 7 6 5 4 3 2 1 0
                }
            }
        </div>
    </div>

    <hr/>

    <div class="sidebyside">
        <div>
            @snippet() {
                @sourceblock() {
                    |def countdown() {
                    |  for (i <- 10 to 0 by -1)
                    |    print(i + " ")
                    |}
                |}
                @callblock() {
                    |countdown()
                }
                @outblock() {
                    |10 9 8 7 6 5 4 3 2 1 0
                }
            }
        </div>
        <div>
            @snippet() {
                @sourceblock() {
                    |def countdown() {
                    |  for (i <- 10 until -1 by -1)
                    |    print(i + " ")
                    |}
                |}
                @callblock() {
                    |countdown()
                }
                @outblock() {
                    |10 9 8 7 6 5 4 3 2 1 0
                }
            }
        </div>
    </div>

    <hr/>

    @warnbox(hr = false) {
        Klassische Schleifen werden in Scala eher selten eingesetzt;
        man sollte sich stets fragen ob es nicht eine funktionalere Variante gibt.
    }
}


@uebung() {

    Die Übung ist unter
        <code>/src/main/scala/de/learnscala/uebungen/<em>U040.scala</em></code>
    zu finden.

    <hr/>

    Die dazugehörige Testspezifikation unter
        <code>/src/test/scala/de/learnscala/specs/<var>U040.scala</var></code>.
}