@slide(title = "Tuple") {
    <!-- Tuple -->

    <div class="sidebyside p60_40">
        @snippet() {
            @callblock(reference = "crew-traits", fragment = false) {
                |val t1 = Tuple2(Pilot(), CoPilot())
            }
            @outblock() {
                |t1: (Pilot, CoPilot) = (Pilot(),CoPilot())
            }
        }
        @codenote() {
            <code>Tuple</code> erstellt mit Hilfe der Case Class <code>Tuple2</code>
        }
    </div>

    <hr/><hr/>

    <div class="sidebyside p60_40">
        @snippet() {
            @callblock(reference = "crew-traits") {
                |val t2 = Tuple(Pilot(), CoPilot())
            }
            @outblock() {
                |t2: (Pilot, CoPilot) = (Pilot(),CoPilot())
            }
        }
        @codenote() {
            <code>Tuple</code> erstellt via gleichnamiger Methode aus Paket <code>scala</code>
        }
    </div>

    <hr/><hr/>

    <div class="sidebyside p60_40">
        @snippet() {
            @callblock(reference = "crew-traits") {
                |val t3 = (Pilot(), CoPilot())
            }
            @outblock() {
                |t3: (Pilot, CoPilot) = (Pilot(),CoPilot())
            }
            @callblock() {
                |val pilot = t3._1
            }
            @outblock() {
                |pilot: Pilot = Pilot()
            }
            @callblock() {
                |val copilot = t3._2
            }
            @outblock() {
                |copilot: CoPilot = CoPilot()
            }
        }
        <div>
            @codenote() {
                <code>Tuple</code> erstellt mit Implicits
            }
            <hr/><hr/>
            @codenote() {
                Zugriff auf Elemente via Felder <code>_1</code>, <code>_2</code>, <code>_3</code> usw.
            }
        </div>
    </div>
}


@slide() {
    <!-- Tuple: Pattern Matching -->

    <div class="sidebyside p66_33">
        @snippet() {
            @sourceblock(id = "tuple-match", reference = "crew-traits", fragment = false) {
                |def allowToCockpit(t: (Crew, Crew)) = t match {
                |  case (Pilot(), CoPilot()) => true
                |  case (CoPilot(), Pilot()) => true
                |  case _ => false
                |}
            }
        }
        @empty()
    </div>

    <hr/><hr/>

    <div class="sidebyside p66_33">
        @snippet() {
            @callblock(reference = "tuple-match") {
                |allowToCockpit((Pilot(), Stewardess()))
            }
            @outblock() {
                |res0: Boolean = false
            }
            @callblock() {
                |allowToCockpit((Pilot(), CoPilot()))
            }
            @outblock() {
                |res1: Boolean = true
            }
        }
        @empty()
    </div>

    <hr/><hr/>

    <div class="sidebyside p66_33">
        @snippet() {
            @sourceblock(reference = "crew-traits") {
                |def allowToCockpit(t: (Crew, Crew)) = t match {
                |  case (Pilot(), CoPilot()) | (CoPilot(), Pilot()) => true
                |  case _ => false
                |}
            }
        }
        @empty()
    </div>
}