@slide(title = "Map") {
    <!-- Map -->
} {
    <div class="sidebyside p80_20">
        <div>
            @snippet() {
                @callblock(reference = "crew-traits", fragment = false) {
                    |val m1 = Map(("Roy",  Pilot()),
                    |             ("Moss", CoPilot()),
                    |             ("Jen", Stewardess()))
                }
                @outblock() {
                    |m1: Map[String,Crew] =
                    |      Map(Roy -> Pilot(), Moss -> CoPilot(), Jen -> Stewardess())
                }
            }
            <hr/>
            @snippet() {
                @callblock(reference = "crew-traits") {
                    |val m2 = Map("Roy"  -> Pilot(),
                    |             "Moss" -> CoPilot(),
                    |             "Jen" -> Stewardess())
                }
                @outblock() {
                    |m2: Map[String,Crew] =
                    |      Map(Roy -> Pilot(), Moss -> CoPilot(), Jen -> Stewardess())
                }
                @callblock() {
                    |val a2 = m2.toArray
                }
                @outblock() {
                    |a2: Array[(String, Crew)] =
                    |       Array((Roy,Pilot()), (Moss,CoPilot()), (Jen,Stewardess()))
                }
            }
        </div>
        @empty()
    </div>
}


@slide() {
    <!-- Map: read / write -->
} {
    @snippet() {
        @callblock(id = "crew-map", reference = "crew-traits", fragment = false) {
            |val m = Map("Roy"  -> Pilot(), "Moss" -> CoPilot(), "Jen" -> Stewardess())
        }
        @outblock() {
            |m: Map[String,Crew] =
            |      Map(Roy -> Pilot(), Moss -> CoPilot(), Jen -> Stewardess())
        }
    }
    <hr/>
    @snippet() {
        @callblock(reference = "crew-map") {
            |val pilot = m("Roy")
        }
        @outblock() {
            |pilot: Crew = Pilot()
        }
    }
    <hr/>
    @snippet() {
        @callblock(reference = "crew-map") {
            |m + ("Paul" -> Stewardess())
        }
        @outblock() {
            |res0: Map[String,Crew] =
            |       Map(Roy -> Pilot(), Moss -> CoPilot(), Jen -> Stewardess(), Paul -> Stewardess())
        }
    }
    <hr/>
    @snippet() {
        @callblock(reference = "crew-map") {
            |m("Moss") = Pilot()
        }
        @outblock(error = true) {
            |error: value update is not a member of Map[String,Crew]
        }
    }
}


@*@uebung() {
    Die Übung ist unter
        <code>/src/main/scala/de/learnscala/uebungen/<em>U223.scala</em></code>
    zu finden.

    <hr/>

    Die dazugehörige Testspezifikation unter
        <code>/src/test/scala/de/learnscala/specs/<var>S223.scala</var></code>.
}*@


@slide() {
    <!-- Immutable / Mutable -->
} {
    @snippet() {
        @callblock(fragment = false) {
            |val mt = Map
        }
        @outblock() {
            |mt: scala.collection.immutable.Map.type = scala.collection.immutable.Map$@@12e52fcd
        }
    }

    <hr/>

    @snippet() {
        @callblock() {
            |val m = Map()
        }
        @outblock() {
            |m: scala.collection.immutable.Map[Nothing,Nothing] = Map()
        }
    }

    <hr/>

    @snippet() {
        @callblock(reference = "crew-traits") {
            |import scala.collection.mutable._
            |val m: Map[String, Crew] = Map("Roy" -> Pilot())
        }
        @outblock() {
            |m: scala.collection.mutable.Map[String,Crew] = Map("Roy" -> Pilot())
        }
        @callblock() {
            |m += ("Moss" -> CoPilot())
        }
        @outblock() {
            |m: scala.collection.mutable.Map[String,Crew] = Map("Moss" -> CoPilot())
        }
        @callblock() {
            |m -= ("Roy")
        }
        @outblock() {
            |m: scala.collection.mutable.Map[String,Crew] = Map("Moss" -> CoPilot())
        }
    }
}