@(clazz: String = "fragment")

<div class="@clazz sidebyside">
    <div>
        @comp.snippet() {
            @comp.sourceblock() {
                |def printHello() {
                |   println("Hello")
                |}
            }
            @comp.outblock() {
                |printHello: ()Unit
            }
            @comp.callblock() {
                |printHello()
            }
            @comp.outblock() {
                |Hello
            }
            @comp.callblock() {
                |printHello
            }
            @comp.outblock() {
                |Hello
            }
        }
        <sub>
            Methode mit Typ <code>Unit</code> und ohne Parameter
        </sub>
    </div>
    <div>
        @comp.snippet() {
            @comp.sourceblock() {
                |def double(x: Int): Int = {
                |   2 * x
                |}
            }
            @comp.outblock() {
                |double: (x: Int)Int
            }
            @comp.callblock() {
                |double(5)
            }
            @comp.outblock() {
                |res0: Int = 10
            }
            @comp.callblock() {
                |double 5
            }
            @comp.outblock() {
                |res1: Int = 10
            }
        }
        <sub>
            Methode mit Typ <code>Int</code> und 1 Parameter
        </sub>
    </div>
</div>

<hr/>

<div class="@clazz sidebyside">
    <div>
        @comp.snippet() {
            @comp.sourceblock() {
                |def mult(x: Float, y: Float) = x * y
            }
            @comp.outblock() {
                |mult: (x: Float, y: Float)Float
            }
            @comp.callblock() {
                |mult(5, 5)
            }
            @comp.outblock() {
                |res0: Float = 25.0
            }
        }
        <sub>
            Methode mit Typ <code>Float</code> und 2 Parametern
        </sub>
    </div>
    <div>
        &nbsp;
    </div>
</div>