@(clazz: String = "fragment")

<div class="@clazz sidebyside">
    <div>
        @comp.snippet() {
            @comp.sourceblock() {
                |def printHello() {
                |   println("Hello")
                |}
            }
            @comp.outblock() {
                |printHello: ()Unit
            }
            @comp.callblock() {
                |printHello()
                |printHello
            }
            @comp.outblock() {
                |Hello
                |Hello
            }
        }
        <sub>
            Methode mit Typ <code>Unit</code> und ohne Parameter
        </sub>
    </div>
    <div>
        @comp.snippet() {
            @comp.sourceblock() {
                |def double(x: Int): Int = {
                |   2 * x
                |}
            }
            @comp.outblock() {
                |double: (x: Int)Int
            }
            @comp.callblock() {
                |double(5)
                |double 5
            }
            @comp.outblock() {
                |res0: Int = 10
                |res1: Int = 10
            }
        }
        <sub>
            Methode mit Typ <code>Int</code> und 1 Parameter
        </sub>
    </div>
</div>

<hr/>

<div class="@clazz sidebyside">
    <div>
        @comp.snippet() {
            @comp.sourceblock() {
                |def add(x: Int, y: Int) = x + y
            }
            @comp.outblock() {
                |add: (x: Int, y: Int)Int
            }
            @comp.callblock() {
                |add(5, 5)
            }
            @comp.outblock() {
                |res0: Int = 10
            }
        }
        <sub>
            Methode mit Typ <code>Int</code> und 2 Parametern
        </sub>
    </div>
</div>