@(clazz: String = "fragment")

<div class="@clazz sidebyside">
    <div>
        @comp.code() {
            @comp.callblock() {
                |val one: Int = 1
            }
            @comp.consoleblock() {
                |one: Int = 1
            }
            @comp.callblock() {
                |val three = 3L
            }
            @comp.consoleblock() {
                |three: Long = 3
            }
        }
        <hr class="half">
        Datentypen sind optional
    </div>

    <div>
        @comp.code() {
            @comp.callblock() {
                |3.14f.isWhole
            }
            @comp.consoleblock() {
                |res0: Boolean = false
            }
            @comp.callblock() {
                |(42)./(42)
            }
            @comp.consoleblock() {
                |res1: Int = 1
            }
        }
        <hr class="half">
        Alles ist ein Objekt
    </div>
</div>

<hr/>
<hr/>

<div class="@clazz sidebyside">
    <div>
        @comp.code() {
            @comp.callblock() {
                |var pi = 3.14f
            }
            @comp.consoleblock() {
                |pi: Float = 3.14
            }
            @comp.callblock() {
                |pi = 3.0f
            }
            @comp.consoleblock() {
                |<console>:8: error: reassignment to val
            }
        }
        <hr class="half">
        <code>val</code> ist nicht überschreibbar
    </div>

    <div>
        @comp.code() {
            @comp.callblock() {
                |var pi = 3.14f
            }
            @comp.consoleblock() {
                |pi: Float = 3.14
            }
            @comp.callblock() {
                |pi = 3.0f
            }
            @comp.consoleblock() {
                |pi: Float = 3.0
            }
        }
        <hr class="half">
        <code>var</code> ist überschreibbar
    </div>
</div>