<div class="box header-box alert-box error-box">

    <section>
        <div>
            If you typed in the address manually, please make sure you entered it correctly.
        </div>

        <div>
            If you are certain that it used to exist, it might be that the path to it has
            changed - please try to navigate to it manually and adopt your bookmarks.
        </div>

        <div>
            If above steps don't help you, please
            <a href="mailto:stephan@@learnscala.de">report this</a> including a short
            description of what you tried to do exactly. Thank you!
        </div>
    </section>

    <footer></footer>

</div>