<p>
    Der Preis liegt bei ingesamt <span class="strike">699&euro;</span><strong> 499&euro; netto</strong> pro Person
    (Aktion zur ersten Veranstaltung) und beinhaltet Snacks und Getr&auml;nke vor Ort, Schulungsmaterialien und
    die Teilnahmeurkunde.
</p>
<p>
    Die Schulung wird voraussichtlich im Juli/August 2012 stattfinden, Ort und Zeit stehen noch nicht fest
    - aber hinterlassen Sie einfach eine E-Mail-Adresse um eine Benachrichtigung zu bekommen:
    <div id="entermail">
        <form action="@routes.Home.doMail" method="POST">
            <input type="text" class=":required;;label :email;;label :only_on_submit" name="mail"/>
            <input type="submit" value="Senden"/>
            <div id="label" style="display:none">Bitte geben Sie eine g&uuml;ltige E-Mail-Adresse ein</div>
        </form>
    </div>
</p>

<p>
    Fragen k&ouml;nnen gern per E-Mail an mich gesendet werden: <a href="mailto:stephan@@101loops.de">Stephan Behnke</a>
</p>