<div class="unit">

    <hr class="soften"/>
    <h3>Trainer</h3>
    <hr class="soften"/>

    <p>
        Ihr Trainer bin ich: Stephan Behnke.
        Ich bin selbstst&auml;ndiger Unternehmer und Softwareentwickler.
        Nach einem Studium in Wirtschaftsinformatik half ich mehreren Firmen bei der Entwicklung ihres
        Backend-Systems, anfangs mit Hilfe von Java, sp&auml;ter dann mit Scala. Insgesamt habe ich
        <strong>drei Scala-basierte Produktivsysteme</strong> auf den Weg gebracht.
    </p>
</div>