.editor {

    .ace_editor {
        .ace_scroller {
            width: 100%;
            overflow-x: auto;
            overflow-y: auto;
            border: 3px dashed @c_text_light;
        }
    }

    &.small {
        margin: 20px 0;

        .ace_editor {
            .ace_gutter {
                width: 0;
                height: 0;
                display: none;
            }
        }
    }
}