.ide {
    @m: 15px;
    padding: 0;
    position: absolute;
    overflow: hidden;
    left: @m; right: @m; top: @m; bottom: @m;

    .pane {
        position: relative;
    }

    .input-wrap {
        height: 48%;

        .input {
            position: absolute;
            top: 0; bottom: 0; right: 0; left: 0;
        }
    }

    .divider { height: 3%; }

    .output-wrap {
        height: 48%;
        overflow: auto;

        .spinner {
            display: inline;
        }

        .output {
            padding: 10px;
        }
    }
}

#ideModal {
    @m: 20px;
    top: @m; bottom: @m; left: @m; right: @m;

    padding: 0; margin: 0;
    width: auto; height: auto;
    max-height: 100%;

    .round(3px);
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
    background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#eaeaea));

    .modal-body {
        max-height: none;
    }
}

.console, .ide .output-wrap {
    .bg(darken(#eee, 3%));
    border: 1px solid #aaa;

    &.success {
        border-color: @c_emph;
    }
    &.error {
        border-color: @c_hlight;
    }

    .cm-s-ambiance {
        margin: 0;
        font-size: @fs_code;
    }
}

.console {
    .cm-s-ambiance {
        .cm-keyword, .cm-atom, .cm-number, .cm-def, .cm-variable, .cm-variable-2, .cm-variable-3,
        .cm-property, .cm-operator, .cm-comment, .cm-string, .cm-string-2, .cm-meta, .cm-error, .cm-qualifier,
        .cm-builtin, .cm-bracket, .cm-tag, .cm-attribute, .cm-header, .cm-quote, .cm-hr, .cm-link, .cm-special {
            color: #8f7b67;
        }
    }
}
