/******************/
/* Editor styling */

.CodeMirror {
    margin: 20px 0;
    background-color: #FDF6E3;
    border: 3px dashed @c_text_light;
    //.box-shadow(inset 0 0 10px @c_shadow);
}

.CodeMirror-scroll {
    height: auto;
    overflow-y: hidden;
    overflow-x: auto;
}

.cm-s-ambiance {
    font-size: 28px;
    line-height: 1.40em;
    font-family: Monaco, Menlo, "Andale Mono", "lucida console", "Courier New", monospace !important;
    color: darken(#E6E1DC, 40%);

    .CodeMirror-gutter {
        background: #ddd;
        padding: 0 5px;
        //text-shadow: #333 1px 1px;
        //border-right: 1px solid #4D4D4D;
    }

    .CodeMirror-gutter .CodeMirror-gutter-text {
        text-shadow: 0px 1px 1px #4d4d4d;
        color: #222;
    }

    .CodeMirror-lines {

    }

    .CodeMirror-lines .CodeMirror-cursor {
        border-left: 4px solid fade(@c_emph, 80%);
    }
}

/****************/
/* Color scheme */

.cm-s-ambiance {

    .cm-keyword {
        color: #cda869;
    }

    .cm-atom {
        color: #CF7EA9;
    }

    .cm-number {
        color: #78CF8A;
    }

    .cm-def {
        color: #aac6e3;
    }

    .cm-variable {
        color: #ffb795;
    }

    .cm-variable-2 {
        color: #eed1b3;
    }

    .cm-variable-3 {
        color: #faded3;
    }

    .cm-property {
        color: #eed1b3;
    }

    .cm-operator {
        color: #fa8d6a;
    }

    .cm-comment {
        color: #555;
        font-style: italic;
    }

    .cm-string {
        color: #8f9d6a;
    }

    .cm-string-2 {
        color: #9d937c;
    }

    .cm-meta {
        color: #D2A8A1;
    }

    .cm-error {
        color: #AF2018;
    }

    .cm-qualifier {
        color: yellow;
    }

    .cm-builtin {
        color: #9999cc;
    }

    .cm-bracket {
        color: #24C2C7;
    }

    .cm-tag {
        color: #fee4ff
    }

    .cm-attribute {
        color: #9B859D;
    }

    .cm-header {
        color: blue;
    }

    .cm-quote {
        color: #24C2C7;
    }

    .cm-hr {
        color: pink;
    }

    .cm-link {
        color: #F4C20B;
    }

    .cm-special {
        color: #FF9D00;
    }

    .CodeMirror-matchingbracket {
        color: #0f0;
    }

    .CodeMirror-nonmatchingbracket {
        color: #f22;
    }

    .CodeMirror-selected {
        background: rgba(255, 255, 255, 0.15);
    }
}

.CodeMirror-focused .cm-s-ambiance .CodeMirror-selected {
    background: rgba(255, 255, 255, 0.10);
}