# Eclipse
.metadata
.settings
.classpath
.project
.cache

# SBT
project/project
target

# IntelliJ
.idea/libraries

# other
atlassian-ide-plugin.xml
RUNNING_PID
*.log
media
*.zip
ext
.DS_Store
exercises
external
_old
tmp
out