@()(implicit req: RequestHeader)

@defining("Allgemeine Geschäftsbedingungen") { title =>

@layout.public(title, crawl = false, subtitle = Html(title)) {

<section id="main">
    <div class="box">

        <section>

            <h4>Datenschutz</h4>

            <div>
                Der Veranstalter ist berechtigt, die ihm mitgeteilten Daten der Teilnehmer für verwaltungstechnische Zwecke
                zu speichern, und soweit nicht ausdrücklich widersprochen, an verbundene Unternehmen weiterzugeben.
            </div>

            <h4>Haftung</h4>

            <div>
                Grundsätzlich sind alle Haftungen ausgeschlossen. Die Teilnahme an den Seminaren ist freiwillig.
                Jeder Teilnehmer trägt die volle Verantwortung für sich und seine Handlungen während des Seminars sowie
                bei der An- und Abreise. Der Seminarleiter ist frei von jeglichen versicherungsrechtlichen und sonstigen
                Ansprüchen.
            </div>

            <h4>Gebühr</h4>

            <div>
                Die Gebühr ist bei offenen Schulungen 14 Tage vor Schulungsbeginn zu bezahlen.
                Der Teilnehmer erhält bei Anmeldung eine Rechnung, die als Anmeldebestätigung gültig ist.
                Kann die Rechnung nicht beglichen werden, kann der Teilnehmer von der Schulung ausgeschlossen werden.
                Die Rechnung behält dann trotzdem seine Gültigkeit.
            </div>

            <div>
                Im Falle des Zahlungsverzuges ist der Schulungsleiter berechtigt,
                ohne besonderen Nachweis Zinsen in Höhe des gesetzlichen Verzugszinssatzes (§ 288 BGB) zu erheben.
            </div>

            <h4>Rücktritt durch die Teilnehmenden</h4>

            <div>
                Wenn ein Teilnahmer mehr als 30 Tage vor Seminarbeginn schriftlich zurücktritt, werden 100% erstattet.
                Wenn ein Teilnahmer mehr als 14 Tage vor Seminarbeginn schriftlich zurücktritt, werden 50% erstattet.
                Wenn ein Teilnahmer mehr als 7 Tage vor Seminarbeginn schriftlich zurücktritt, werden 20% erstattet.
                Für spätere Absagen kann es leider keine Rückerstattungen geben.
                Falls der Platz durch eine/n andere/n Teilnehmenden besetzt werden kann, entstehen dem/der Zurücktretenden keine Kosten.
            </div>

            <h4>Rücktritt durch 101 Loops</h4>

            <div>
                Falls ein Seminar nicht die erforderliche TeilnehmerInnenzahl erreicht oder 101 Loops aus anderen Gründen
                eine Veranstaltung absagen muss, benachrichtigen wir die TeilnehmerInnen umgehend und überweisen den vollen
                Teilnahmebeitrag zurück. Die Stornierung kann bis zu 5 Tage vor Schulungstermin in schriftlicher Form erfolgen.
                Weitere Ansprüche sind ausgeschlossen.
            </div>

            <h4>Gewährleistung</h4>

            <div>
                Grundsätzlich sind alle Gewährleistungen ausgeschlossen.
            </div>

            <h4>Gerichtsstand</h4>

            <div>
                Gerichtsstand ist grundsätzlich Berlin.
            </div>

            <h4>Unwirksamkeit</h4>

            <div>
                Die Unwirksamkeit einzelner Bestimmungen dieser AGB hat nicht die Unwirksamkeit des gesamten Vertrages
                zu Folge. An deren Stelle treten vielmehr die gesetzlichen Bestimmungen.
            </div>

        </section>
    </div>
</section>

}
}

<!--
<div>
    Haftung:
    Die Teilnahme an den Seminaren ist freiwillig. Jeder Teilnehmer trägt die volle Verantwortung für sich und seine
    Handlungen während des Seminars sowie bei der An- und Abreise. Der Seminarleiter ist frei von jeglichen
    versicherungsrechtlichen und sonstigen Ansprüchen.Bitte teilen Sie dem Seminarleiter physische oder psychische
    Erkrankungen vor Seminarbeginn mit. Die Teilnahme an Seminaren und Einzelarbeit innerhalb von Go4Values ersetzen
    keinesfalls den Besuch eines Arztes oder Psychologen sowie deren Diagnosen, Behandlungen und Therapien.
    Rücktrittsregelung:
    Bei einer Absage bis zu drei Wochen vor Seminarbeginn wird eine Bearbeitungsgebühr über 50.-€ berechnet. Bei einem
    Rücktritt bis zu zwei Wochen vor Seminarbeginn ist die Hälfte des jeweiligen Seminarbeitrags fällig. Bei einem
    späteren Rücktritt muss die gesamte Kursgebühr bezahlt werden, wenn keine Ersatzperson vermittelt wird.

    Widerrufsbelehrung für Dienstleistungen
    Widerrufsrecht (Vorschrift seit November 2011; gilt unabhängig von der oben genannten Rücktrittsregelung): Sie
    können Ihre Vertragserklärung innerhalb von 14 Tagen ohne Angabe von Gründen in Textform (z.B. Brief, Fax, E-Mail)
    widerrufen. Die Frist beginnt nach Erhalt dieser Belehrung in Textform, jedoch nicht vor Vertragsschluss und auch
    nicht vor Erfüllung unserer Informationspflichten gemäß Artikel 246 § 2 in Verbindung mit § 1 Absatz 1 und 2 EGBGB
    sowie unserer Pflichten gemäß § 312g Absatz 1 Satz 1 BGB in Verbindung mit Artikel 246 § 3 EGBGB. Zur Wahrung der
    Widerrufsfrist genügt die rechtzeitige Absendung des Widerrufs.

    Der Widerruf ist zu richten an: Go4Values, Daniela C. Szasz, info@@danielaszasz.com, Carrer de les Estepes 17, 07680
    Porto Cristo Novo, Mallorca, +49-172-7410050

    Widerrufsfolgen:
    Im Falle eines wirksamen Widerrufs sind die beiderseits empfangenen Leistungen zurückzugewähren und ggf. gezogene
    Nutzungen (z.B. Zinsen) herauszugeben. Können Sie uns die empfangene Leistung sowie Nutzungen (z.B.
    Gebrauchsvorteile) nicht oder teilweise nicht oder nur in verschlechtertem Zustand zurückgewähren beziehungsweise
    herausgeben, müssen Sie uns insoweit Wertersatz leisten. Dies kann dazu führen, dass Sie die vertraglichen
    Zahlungsverpflichtungen für den Zeitraum bis zum Widerruf gleichwohl erfüllen müssen. Verpflichtungen zur Erstattung
    von Zahlungen müssen innerhalb von 30 Tagen erfüllt werden. Die Frist beginnt für Sie mit der Absendung Ihrer
    Widerrufserklärung, für uns mit deren Empfang.

    Besondere Hinweise:
    Ihr Widerrufsrecht erlischt vorzeitig, wenn der Vertrag von beiden Seiten auf Ihren ausdrücklichen Wunsch
    vollständig erfüllt ist, bevor Sie Ihr Widerrufsrecht ausgeübt haben. Ende der Widerrufsbelehrung.
</div>

<div>
    1. Voraussetzung zur Teilnahme
    An den Seminaren von dock europe e.V. kann jeder teilnehmen; ein Anspruch auf Teilnahme besteht nicht.
    2. Anmeldung
    Alle Seminare bedürfen der schriftlichen Anmeldung. Mit Vertragsabschluss erkennt der/die Teilnehmer/in die
    Teilnahmebedingungen an.
    3. Preise
    Es gibt keine gestaffelten Teilnahmebeiträge oder Ermäßigungen. Der Teilnahmebeitrag ist vor Antritt des Seminares
    zu entrichten.
    4. Rücktrittsbedingungen

    4.1. Rücktritt durch die Teilnehmenden
    Wer nach bestätigter Anmeldung von mehrtägigen Seminaren bis zwei Wochen vor Seminarbeginn schriftlich zurücktritt,
    muss 50 % des Teilnahmebeitrags bezahlen. Wer zwischen zwei Wochen und einer Woche vor Beginn zurücktritt, muss 75 %
    zahlen. Wer später als eine Woche vor Beginn zurücktritt, zahlt den vollen Beitrag. Falls der Platz durch eine/n
    andere/n Teilnehmenden besetzt werden kann, entstehen dem/der Zurücktretenden keine Kosten.

    4.2. Rücktritt durch dock europe e.V.
    Falls ein Seminar nicht die erforderliche TeilnehmerInnenzahl erreicht oder dock europe e.V. aus anderen Gründen
    eine Veranstaltung absagen muss, benachrichtigen wir die TeilnehmerInnen umgehend und überweisen den vollen
    Teilnahmebeitrag zurück. Weitere Ansprüche sind ausgeschlossen.

    Wer sich ausdrücklich nur unter der Bedingung angemeldet hat, dass ein Seminar als BU anerkannt ist, erhält - bei
    Nicht-Anerkennung durch die Landeszentrale für politische Bildung - ebenfalls den bereits geleisteten Anmeldebeitrag
    zurück.
    5. Haftung
    Die Teilnahme an den Seminaren ist freiwillig und geschieht auf eigene Gefahr. dock europe e.V. übernimmt keine
    Haftung bei Unfällen und Schäden.
    6. Nebenabreden/Vertragliche Vereinbarungen
    Nebenabreden oder weitergehende Vereinbarungen bedürfen zu ihrer Wirksamkeit der Schriftform. Abweichende
    schriftliche Vereinbarungen in Verträgen zwischen dock europe e.V. und dem/der Teilnehmer/in gelten vorrangig.
</div>
    -->
