@()(implicit flash: Flash, req: RequestHeader)

@defining("News") { title =>

    @layout.public(title, subtitle = Html(title)) {

        @*@Home.loadEntry("2012-05-05", "scala-2-10-erster-milestone")*@

        <!--<a href="https://www.eventbrite.de/event/3910432208?ref=ebtnebregn" target="_blank"><img
                src="https://www.eventbrite.de/custombutton?eid=3910432208"
                alt="Eventbrite - Learn Scala: 2. Workshop in Berlin"/></a>-->

        <!--<div style="width:195px; text-align:center;">
            <iframe src="https://www.eventbrite.de/countdown-widget?eid=3910432208" frameborder="0" height="190" width="195"
                    marginheight="0" marginwidth="0" scrolling="no" allowtransparency="true"></iframe>
            <div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:195px; text-align:center;">
                <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.de/r/ecount">Online-Registrierung
                    für Events</a><span style="color:#ddd;"> für </span><a style="color:#ddd; text-decoration:none;"
                                                                           target="_blank"
                                                                           href="http://http://scala-schulung-berlin.eventbrite.de?ref=ecount">Learn
                Scala: 2. Workshop in Berlin</a> <span style="color:#ddd;">unterstützt von</span> <a
                    style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.de?ref=ecount">Eventbrite</a>
            </div>
        </div>-->

        <!--<div style="width:100%; text-align:left;">
            <iframe src="https://www.eventbrite.de/tickets-external?eid=3910432208&ref=etckt" frameborder="0" height="256"
                    width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto"
                    allowtransparency="true"></iframe>
            <div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;">
                <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.de/r/etckt">Online-Registrierung
                    für Events</a><span style="color:#ddd;"> für </span><a style="color:#ddd; text-decoration:none;"
                                                                           target="_blank"
                                                                           href="http://http://scala-schulung-berlin.eventbrite.de?ref=etckt">Learn
                Scala: 2. Workshop in Berlin</a> <span style="color:#ddd;">unterstützt von</span> <a
                    style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.de?ref=etckt">Eventbrite</a>
            </div>
        </div>-->

        <div class="embed">
            <style>
                html, body, .container, #main { height: 100%; min-height: 100%; }
            </style>
            <iframe src="http://scala-schulung-berlin.eventbrite.de?ref=eweb" frameborder="0" height="100%" width="100%"
                    vspace="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" allowtransparency="true"></iframe>
        </div>
    }
}