@()(implicit flash: Flash, req: RequestHeader)

@defining("News") { title =>

    @layout.public(title, subtitle = Html(title)) {

        @*@Home.loadEntry("2012-05-05", "scala-2-10-erster-milestone")*@

        <div class="embed">
            <!--<style>
                html, body, .container, #main { height: 100%; min-height: 100%; }
            </style>-->
            <iframe src="http://scala-schulung-berlin.eventbrite.de?ref=eweb" frameborder="0" height="3050px" width="100%"
                    vspace="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" allowtransparency="true"></iframe>
        </div>
    }
}