@()(implicit flash: Flash, req: RequestHeader)

@defining("Neuigkeiten zu Scala, Akka und Play") { title =>

    @layout.public(title, subtitle = Html(title)) {

        @Blog.load(2013, 1, 9, lang = "de")
        @Blog.load(2013, 1, 4)
        @Blog.load(2012, 12, 22)
        @Blog.load(2012, 10, 19)
        @Blog.load(2012, 10, 1)
        @Blog.load(2012, 9, 30)
        @*@Blog.load(2012, 9, 26)*@
        @Blog.load(2012, 9, 25)
        @Blog.load(2012, 9, 21)
        @*@Blog.load(2012, 9, 18)*@
        @Blog.load(2012, 9, 17)

        @Blog.load(2012, 8, 12)

        @*@Blog.load(2012, 3, 8)*@

        @Blog.load(2012, 1, 20)
    }
}