@()(implicit flash: Flash, req: RequestHeader)

@defining("Kontakt") { title =>

    @layout.public(title, crawl = false, subtitle = Html(title)) {

    <div>

        <div class='alert hide alert-@flash.get("type")'>
            @flash.get("message")
        </div>

        <div class="unit">
            <p>
                Kontaktaufnahme bitte via <a href="mailto:stephan@@learnscala.de">E-Mail</a>
                oder folgendem Formular.<br/>
                Ich freue mich von Ihnen zu hören!
            </p>
        </div>

        <div class="unit">
            <form action="@routes.Contact.doMail" method="POST" class="contact form-horizontal">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label">Ihre E-Mail</label>

                        <div class="controls">
                            <input type="text" class="input-xlarge :required;;mail_label :email;;mail_label :only_on_submit" name="mail"/>

                            <div id="mail_label" style="display:none">
                                Bitte geben Sie eine gültige E-Mail-Adresse ein
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Ihre Nachricht</label>

                        <div class="controls">
                            <textarea class=":required;;text_label :only_on_submit" rows="5" name="text"></textarea>

                            <div id="text_label" style="display:none">
                                Bitte eine Nachricht einfügen
                            </div>
                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn">Senden</button>
                  </div>
                </fieldset>
            </form>
        </div>

    </div>

    }
}