@()(implicit req: RequestHeader)

@defining("Beispielfolien") { title =>

    @layout.public(title, crawl = false, subtitle = Html(title)) {

    <section id="main">

        <script async class="speakerdeck-embed" data-id="4ffd7a1a526894000103514f" data-ratio="1.3315994798439532"
                src="//speakerdeck.com/assets/embed.js"></script>

        <script async class="speakerdeck-embed" data-id="5059fc736dd027000200016a" data-ratio="1.3315994798439532"
                src="//speakerdeck.com/assets/embed.js"></script>

        <script async class="speakerdeck-embed" data-id="5059fcc59b9767000200036e" data-ratio="1.3315994798439532"
                src="//speakerdeck.com/assets/embed.js"></script>

    </section>

    }
}