@()

@layout.kurs("Beispielfolien") {

    <div class="speakerdecks">

        <h3>Beispielfolien</h3>

        <div>
            <script async class="speakerdeck-embed" data-id="4ffd7a1a526894000103514f" data-ratio="1.3315994798439532"
                    src="//speakerdeck.com/assets/embed.js"></script>
        </div>

        <div>
            <script async class="speakerdeck-embed" data-id="50600c25b519fb0002042a90" data-ratio="1.3315994798439532"
                    src="//speakerdeck.com/assets/embed.js"></script>
        </div>

        <div>
            <script async class="speakerdeck-embed" data-id="50600ba5b519fb00020426df" data-ratio="1.3315994798439532"
                    src="//speakerdeck.com/assets/embed.js"></script>
        </div>

        <div>
            <script async class="speakerdeck-embed" data-id="5059fc736dd027000200016a" data-ratio="1.3315994798439532"
                    src="//speakerdeck.com/assets/embed.js"></script>
        </div>

        <p class="center">
            <a href="@routes.Training.index">&gt; Scala im Workshop lernen &lt;</a>
        </p>

    </div>
}