@()(implicit flash: Flash)

@layout.public() {

<div>

    <div class="row">
        <div class="span2">&nbsp;</div>
        <div class="span8" style="margin-bottom: 20px">
            <p>
                Scala ist eine moderne, typensichere Sprache,
                die <strong>objektorientierte und funktionale</strong> Programmierung
                <strong>auf der bekannten Java-Plattform</strong>
                vereint und sich doch <strong>wie eine dynamische Sprache</strong> anfühlt.
            </p>

            <p>
                Damit werden Programme deutlich kürzer, verständlicher, performanter und fehlerfreier
                - die Schulung hilft Ihnen diese <strong>Vorteile schnellstmöglich zu nutzen</strong>.
            </p>
        </div>
        <div class="span2">&nbsp;</div>
    </div>

    <!--<div class="row">
        <div class="span2">&nbsp;</div>
        <div class="span8">
            <div class="row">
                <div class="span4">
                    <div>
                        <hr class="soften"/>
                        <h3>Manager ?</h3>
                        <hr class="soften"/>

                        <p>
                            Scala ermöglicht es Entwicklern <strong>produktiver</strong> zu sein. Wie?
                            Programmcode wird durchschnittlich <strong>um über 50% reduziert</strong>,
                            behält dabei aber die Leistung und <strong>Qualität von Java</strong>.
                        </p>

                        <br/>

                        <p>
                        <h5>5 Gründe auf Scala zu setzen:</h5>
                        <ul class="reasons">
                            <li>
                                <strong>100% kompatibel mit Java</strong>:
                                verwenden Sie existierende Bibliotheken und Codes
                            </li>
                            <li>
                                <strong>9 Jahre Entwicklung</strong>:
                                Stabilität und kontinuierliche Weiterentwicklung
                            </li>
                            <li>
                                <strong>Nutzung bei Startups und Firmen</strong>:
                                SAP, Twitter, LinkedIn, Sony und viele mehr
                            </li>
                            <li>
                                <strong>Reduzierung der Code-Zeilen</strong>:
                                schneller verstehen und weniger Fehler machen
                            </li>
                            <li>
                                <strong>Kommerzielle Unterstützung</strong>:
                                das Unternehmen 'Typesafe' steht hinter Scala
                            </li>
                        </ul>
                        </p>
                    </div>
                </div>
                <div class="span4">
                    <div>
                        <hr class="soften"/>
                        <h3>Entwickler ?</h3>
                        <hr class="soften"/>

                        <p>
                            Scala ist eine <strong>Revolution</strong>.
                            Oberflächlich erscheint es <strong>wie eine dynamische Sprache</strong>,
                            im Kern findet man aber die Geschwindigkeit und <strong>Typensicherheit</strong>
                            die man von Java gewohnt ist.
                        </p>

                        <br/>

                        <p>
                        <h5>5 Gründe Scala zu lernen:</h5>
                        <ul class="reasons">
                            <li>
                                <strong>Knapper und prägnanter Code</strong>:
                                um weniger zu lesen und mehr zu schreiben
                            </li>
                            <li>
                                <strong>Erkennung von Datentypen</strong>:
                                weniger Redundanz durch Typenerkennung
                            </li>
                            <li>
                                <strong>Eigene Kontrollstrukturen</strong>:
                                erschaffen von eigenen Befehlen und sogar DSLs
                            </li>
                            <li>
                                <strong>Komposition von Klassen</strong>:
                                kombinieren von mehreren <i>traits</i> zu einer Klasse
                            </li>
                            <li>
                                <strong>Java-Laufzeitumgebung</strong>:
                                bekannte Geschwindigkeit und Stabilität
                            </li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="span1">&nbsp;</div>
    </div>-->

    <div>

        <div class="unit">
            @front.about()
        </div>


        <div class="unit">
            <hr class="soften"/>
            <h3>Ziel</h3>
            <hr class="soften"/>

            @front.ziel()
        </div>


        <div class="unit">
            <hr class="soften"/>
            <h3>Inhalt der Schulung</h3>
            <hr class="soften"/>
        </div>

        <div class="row">
            <div class="span2">&nbsp;</div>
            <div class="span4 contents">
                @front.inhalt1()
            </div>
            <div class="span4 contents">
                @front.inhalt2()
            </div>
            <div class="span2">&nbsp;</div>
        </div>


        <div class="unit">
            <hr class="soften"/>
            <h3>Kursvoraussetzungen</h3>
            <hr class="soften"/>

            @front.voraussetzung()
        </div>


        <div class="unit">
            <hr class="soften"/>
            <h3 id="#preview">Einführungsfolie</h3>
            <hr class="soften"/>

            <div class="unit" style="width: 100%">
                <script async class="speakerdeck-embed" data-id="4ffd7a1a526894000103514f" data-ratio="1.3315994798439532" src="//speakerdeck.com/assets/embed.js"></script>
                <script async class="speakerdeck-embed" data-id="5059fc736dd027000200016a" data-ratio="1.3315994798439532" src="//speakerdeck.com/assets/embed.js"></script>
                <script async class="speakerdeck-embed" data-id="5059fcc59b9767000200036e" data-ratio="1.3315994798439532" src="//speakerdeck.com/assets/embed.js"></script>
            </div>

            <!--<p class="center">
                <a href="">&gt; Weitere Folien &lt</a>
            </p>-->
        </div>


        <div class="unit">
            <hr class="soften"/>
            <h3>Trainer</h3>
            <hr class="soften"/>

            @front.trainer()
        </div>

    </div>
</div>

<div>

    <div class="unit">
        <hr class="soften"/>
        <h3>Firmenintern</h3>
        <hr class="soften"/>
        <p>
            In ganz Deutschland, Österreich und der Schweiz
            möglich - <br/>
            über 2, 3 oder gar 4 Tage, mit bis zu 12 Teilnehmern und Ihren speziellen Anforderungen.
        </p>

        <p>
            Bitte kontaktieren Sie dafür meinen <strong>Kooperationspartner tutego</strong>:
            <ul>
                <li><a href="mailto:info@@tutego.de?subject=Scala-Schulung+mit+Stephan+Behnke">info@@tutego.de</a> oder</li>
                <li>telefonisch unter <strong>0800 888 3467</strong></li>
            </ul>
        </p>

        <p>
            <strong>Nächste Termine:</strong>
        <ul>
            <li>August: <a href="https://www.devbliss.com/">devbliss GmbH</a>, Berlin</li>
            <li>Oktober: Esslingen</li>
        </ul>
        </p>
    </div>

    <div class="unit">
        <hr class="soften"/>
        <h3>Öffentlich</h3>
        <hr class="soften"/>
        <p>
            In Vorbereitung.<br/>
            Momentan Priorität für firmeninterne Anfragen.<br/><br/>
        </p>
    </div>

</div>

}