@()(implicit flash: Flash, req: RequestHeader)

@defining("Links quer durch die Welt von Scala") { title =>

    @layout.public(title, subtitle = Html(title), classes = "links") {

        <h2 id="tools">Werkzeuge</h2>

        <div class="list">

            <h3>Typesafe Stack</h3>

            <p>Installationspaket mit Scala und SBT (benötigt Admin-Rechte)</p>

            <blockquote>
                <a rel="nofollow" href="http://www.typesafe.com/stack/download">http://www.typesafe.com/stack/download</a>
            </blockquote>

            <h3>Scala Distribution</h3>

            <p>Scala-Bibliotheken und -Tools</p>

            <blockquote>
                <a rel="nofollow" href="http://www.scala-lang.org/downloads">http://www.scala-lang.org/downloads</a>
            </blockquote>

            <h3>Scala-IDE</h3>

            <p>Plugin für <a rel="nofollow" href="http://eclipse.org/">Eclipse</a>: Debugger, Navigation und Autovervollständigung
            </p>

            <blockquote>
                <a rel="nofollow" href="http://scala-ide.org">http://scala-ide.org</a>
            </blockquote>
        </div>

        <h2 id="official">Offizielles</h2>

        <div class="list">

            <h3>Scala</h3>

            <p>Offizielle Webseite zu Scala</p>

            <blockquote>
                <a href="http://www.scala-lang.org">http://www.scala-lang.org</a>
            </blockquote>

            <h3>Typesafe</h3>

            <p>Die Firma hinter Scala: Typesafe Stack, Support, Training und Consulting</p>

            <blockquote>
                <a href="http://typesafe.com">http://typesafe.com</a>
            </blockquote>

            <h3>Scala API</h3>

            <p>Durchsuchbare Dokumentation der Scala-API</p>

            <blockquote>
                <a rel="nofollow" href="http://www.scala-lang.org/api/current/index.html">http://www.scala-lang.org/api/current/index.html</a>
            </blockquote>

            <h3>Scala Sprachspezifikation</h3>

            <p>Spezifikation aller Regeln der Scala Sprache (schwer verdaulich)</p>

            <blockquote>
                <a rel="nofollow" href="http://www.scala-lang.org/docu/files/ScalaReference.pdf">http://www.scala-lang.org/docu/files/ScalaReference.pdf</a>
            </blockquote>

            <h3>Scala Tour</h3>

            <p>Übersicht wichtiger Features der Sprache</p>

            <blockquote>
                <a rel="nofollow" href="http://www.scala-lang.org/node/104">http://www.scala-lang.org/node/104</a>
            </blockquote>

            <h3>Scala Style Guide</h3>

            <p>Allgemeine, empfohlene Richtlinien zur Schreibweise von Scala-Code</p>

            <blockquote>
                <a rel="nofollow" href="http://docs.scala-lang.org/style/">http://docs.scala-lang.org/style/</a>
            </blockquote>

            <h3>Scala Dokumentation</h3>

            <p>Tutorials, Guides, Glossar und mehr</p>

            <blockquote>
                <a rel="nofollow" href="http://docs.scala-lang.org">http://docs.scala-lang.org</a>
            </blockquote>

            <h3>Scala User Mailing-Liste</h3>

            <p>Community zum Austausch von Fragen und Projekten</p>

            <blockquote>
                <a rel="nofollow" href="https://groups.google.com/forum/?fromgroups#!forum/scala-user">https://groups.google.com/forum/?fromgroups#!forum/scala-user</a>
            </blockquote>
        </div>

        <h2 id="learning">Lernmaterial</h2>

        <div class="list">

            <h3>Scala School</h3>

            <p>Einführungskurs von Twitter</p>

            <blockquote>
                <a rel="nofollow" href="http://twitter.github.com/scala_school">http://twitter.github.com/scala_school</a>
            </blockquote>

            <h3>ScalaTutorial.de</h3>

            <p>Deutschsprachige, umfassende Übersicht</p>

            <blockquote>
                <a rel="nofollow" href="http://scalatutorial.de">http://scalatutorial.de</a>
            </blockquote>

            <h3>Ninety-Nine Scala Problems</h3>

            <p>99 Übungen mit unterschiedlichem Schwierigkeitsgrad (inklusive Lösungen)</p>

            <blockquote>
                <a rel="nofollow" href="http://aperiodic.net/phil/scala/s-99/">http://aperiodic.net/phil/scala/s-99/</a>
            </blockquote>

            <h3>Dokumente der EPFL Universität</h3>

            <p>Verschiedene Dokumente zur Einführung in die Scala-Welt, jeweils mit anderer Herangehensweise</p>

            <blockquote>
                <ul>
                    <li><a rel="nofollow" href="http://www.scala-lang.org/docu/files/ScalaByExample.pdf">http://www.scala-lang.org/docu/files/ScalaByExample.pdf</a>
                    </li>
                    <li><a rel="nofollow" href="http://www.scala-lang.org/docu/files/ScalaOverview.pdf">http://www.scala-lang.org/docu/files/ScalaOverview.pdf</a>
                    </li>
                    <li><a rel="nofollow" href="http://www.scala-lang.org/docu/files/ScalaTutorial.pdf">http://www.scala-lang.org/docu/files/ScalaTutorial.pdf</a>
                    </li>
                </ul>
            </blockquote>

            <h3>Scala Quick Reference</h3>

            <p>Kompakte Kurzübersicht der wichtigsten Regeln und Funktionen</p>

            <blockquote>
                <a rel="nofollow" href="http://www.scala-lang.org/sites/default/files/pdfs/Scala%20Quick%20Reference.pdf">http://www.scala-lang.org/sites/default/files/pdfs/Scala%20Quick%20Reference.pdf</a>
            </blockquote>

            <h3>Scalatron</h3>

            <p>Multiplayer-Spiel in dem jeder Teilnehmer einen Bot in Scala programmiert und diese gegeneinander antreten</p>

            <blockquote>
                <a rel="nofollow" href="https://github.com/scalatron/scalatron">https://github.com/scalatron/scalatron</a>
            </blockquote>

            <h3>Scala Wiki auf Stackoverflow</h3>

            <p>Zusammenstellung grundlegender, wichtiger Fragen und Antworten rund um Scala</p>

            <blockquote>
                <a rel="nofollow" href="http://stackoverflow.com/tags/scala/info">http://stackoverflow.com/tags/scala/info</a>
            </blockquote>

            <h3>Scala Puzzles</h3>

            <p>Online Übungskurs für erste Schritte in Scala</p>

            <blockquote>
                <a rel="nofollow" href="http://scalapuzzles.org">http://scalapuzzles.org</a>
            </blockquote>

            <h3>Scala Puzzlers</h3>

            <p>Quiz zu Fallstricken und Sonderfällen in Scala (fortgeschritten)</p>

            <blockquote>
                <a rel="nofollow" href="http://scalapuzzlers.com">http://scalapuzzlers.com</a>
            </blockquote>

            <h3>ScalaDays 2011</h3>

            <p>Alle Präsentationen als PDF oder Video von der wichtigsten Scala-Messe</p>

            <blockquote>
                <a rel="nofollow" href="https://wiki.scala-lang.org/x/AgAU">https://wiki.scala-lang.org/x/AgAU</a>
            </blockquote>
        </div>

        <h2 id="blogs">Blogs</h2>

        <div class="list">

            <h3>Algorithmically Challenged</h3>

            <p>Blog von Daniel Sobral, einem Scala-Entwickler</p>

            <blockquote>
                <a rel="nofollow" href="http://dcsobral.blogspot.de">http://dcsobral.blogspot.de</a>
            </blockquote>

            <h3>Coderspiel</h3>

            <p>Blog von Nathan Hamblen, Erfinder von dispatch und unfiltered</p>

            <blockquote>
                <a rel="nofollow" href="http://code.technically.us">http://code.technically.us</a>
            </blockquote>

            <h3>Implicitly</h3>

            <p>Vorstellung neuer Bibliotheken und neuer Versionen aus der Scala-Welt</p>

            <blockquote>
                <a rel="nofollow" href="http://implicit.ly">http://implicit.ly</a>
            </blockquote>

            <h3>Planet Scala</h3>

            <p>Aggregator wichtiger Scala-Blogs</p>

            <blockquote>
                <a rel="nofollow" href="http://www.planetscala.com">http://www.planetscala.com</a>
            </blockquote>

        </div>

        <h2 id="books">Bücher</h2>

        <div class="list">

            <h3>Programming in Scala, Martin Odersky, Januar 2011</h3>

            <p>Das Buch vom Erfinder der Sprache, Martin Odersky. Es gibt einen sehr guten Überblick über die Sprache,
                erklärt dabei oftmals die Hintergründe der Sprachregeln und gibt Tipps zum richtigen Umgang.</p>

            <blockquote>
                <a rel="nofollow" href="http://www.amazon.de/dp/0981531644">http://www.amazon.de/dp/0981531644</a>
            </blockquote>

            <h3>Durchstarten mit Scala, Heiko Seeberger, Mai 2011</h3>

            <p>Das Buch führt ganz behutsam in die Sprache ein, ohne zu überfordern. Ein fantastischer Einstieg für
                die ersten paar Wochen.</p>

            <blockquote>
                <a rel="nofollow" href="http://www.amazon.de/dp/3868020640">http://www.amazon.de/dp/3868020640</a>
            </blockquote>

            <h3>Scala for the Impatient, Cay Horstmann, März 2012</h3>

            <p>Das Buch enthält weniger ausführliche Erklärungen sondern vielmehr eine übersichtliche
                Aufbereitung der Fakten - wenig geeignet zum Lernen, aber sehr gut zum schnellen Nachschlagen.</p>

            <blockquote>
                <a rel="nofollow" href="http://www.amazon.de/dp/0321774094">http://www.amazon.de/dp/0321774094</a>
            </blockquote>
        </div>

        <h2 id="projekte">Bibliotheken und Frameworks</h2>

        <p>
            Um schnell einen Überblick über existierende Scala-Bibliotheken zu erhalten,
            empfiehlt sich <a rel="nofollow" href="https://github.com/languages/scala">GitHub</a> - hier werden
            die populärsten und aktivsten aufgelistet.
        </p>

        <div class="list">

            <h3>Akka Middleware</h3>

            <p>Bibliothek zur Entwicklung von nebenläufigen, verteilten, eventbasierten Anwendungen (Teil vom offiziellen Typesafe Stack)</p>

            <blockquote>
                <a href="http://akka.io">http://akka.io</a>
            </blockquote>

            <h3>[Datenbank] Casbah</h3>

            <p>Kommunikation mit MongoDB im funktionalen Stil</p>

            <blockquote>
                <a rel="nofollow" href="http://api.mongodb.org/scala/casbah/current/">http://api.mongodb.org/scala/casbah/current/</a>
            </blockquote>

            <h3>[Datenbank] Rogue</h3>

            <p>Bibliothek zur Ausführung von typensicheren Abfragen auf MongoDB</p>

            <blockquote>
                <a rel="nofollow" href="https://github.com/foursquare/rogue">https://github.com/foursquare/rogue</a>
            </blockquote>

            <h3>[Datenbank] Slick</h3>

            <p>Bibliothek für typensichere Datenbankabfragen (Teil vom offiziellen Typesafe Stack)</p>

            <blockquote>
                <a rel="nofollow" href="http://slick.typesafe.com">http://slick.typesafe.com</a>
            </blockquote>

            <h3>[Datenbank] SQueryl</h3>

            <p>Bibliothek für typensichere SQL-Abfragen</p>

            <blockquote>
                <a rel="nofollow" href="http://squeryl.org/">http://squeryl.org/</a>
            </blockquote>

            <h3>SBT</h3>

            <p>Scala Build Tool zum Kompilieren und Testen von Scala-Projekten (Teil vom offiziellen Typesafe Stack)</p>

            <blockquote>
                <a rel="nofollow" href="https://github.com/harrah/xsbt/wiki">https://github.com/harrah/xsbt/wiki</a>
            </blockquote>

            <h3>Scalaz</h3>

            <p>Erweitert die funktionalen Aspekte von Scala</p>

            <blockquote>
                <a rel="nofollow" href="https://github.com/scalaz/scalaz">https://github.com/scalaz/scalaz</a>
            </blockquote>

            <h3>[Test] ScalaCheck</h3>

            <p>Automatische, spezifikationsbasierte Tests (inspiriert von Haskells QuickCheck)</p>

            <blockquote>
                <a rel="nofollow" href="https://github.com/rickynils/scalacheck">https://github.com/rickynils/scalacheck</a>
            </blockquote>

            <h3>[Test] ScalaTest</h3>

            <p>Test-Framework, das JUnit von Scala</p>

            <blockquote>
                <a rel="nofollow" href="http://www.scalatest.org">http://www.scalatest.org</a>
            </blockquote>

            <h3>[Test] Specs2</h3>

            <p>Bibliothek für Softwarespezifikationen: sehr ausdrucksstarke Tests</p>

            <blockquote>
                <a rel="nofollow" href="http://etorreborre.github.com/specs">http://etorreborre.github.com/specs</a>
            </blockquote>

            <h3>[Test] ScalaMock</h3>

            <p>Mocking-Framework mit Unterstützung der Scala-Funktionen</p>

            <blockquote>
                <a rel="nofollow" href="http://scalamock.org">http://scalamock.org</a>
            </blockquote>

            <h3>[Web] Dispatch</h3>

            <p>Bibliothek für asynchrone HTTP-Kommunikation</p>

            <blockquote>
                <a rel="nofollow" href="http://dispatch.databinder.net">http://dispatch.databinder.net</a>
            </blockquote>

            <h3>[Web] Lift</h3>

            <p>Stabiles, sehr sicheres Web-Framework mit starker Trennung von Design und Logik</p>

            <blockquote>
                <a rel="nofollow" href="http://liftweb.net">http://liftweb.net</a>
            </blockquote>

            <h3>[Web] Play 2.0</h3>

            <p>Zustandsloses, hochskalierbares Web-Framework (Teil vom offiziellen Typesafe Stack)</p>

            <blockquote>
                <a rel="nofollow" href="http://www.playframework.org">http://www.playframework.org</a>
            </blockquote>

            <h3>[Web] Scalate</h3>

            <p>Template-Engine zum Erstellen von Text auf Basis von Formaten wie Mustache, Jade, Haml oder Scaml</p>

            <blockquote>
                <a rel="nofollow" href="http://scalate.fusesource.org">http://scalate.fusesource.org</a>
            </blockquote>

            <h3>[Web] Scalatra</h3>

            <p>Einfaches, skalierbares REST-Framework (inspiriert von Rubys Sinatra)</p>

            <blockquote>
                <a rel="nofollow" href="http://www.scalatra.org">http://www.scalatra.org</a>
            </blockquote>

            <h3>[Web] Spray</h3>

            <p>REST/HTTP-Framework für asynchrone, aktorenbasierte Applikationen auf Basis von Akka</p>

            <blockquote>
                <a rel="nofollow" href="http://spray.github.com">http://spray.github.com</a>
            </blockquote>

            <h3>[Web] Unfiltered</h3>

            <p>REST-Interface für unterschiedliche Backends wie Servlet 2.5 & 3.0 sowie Netty</p>

            <blockquote>
                <a rel="nofollow" href="http://unfiltered.databinder.net/">http://unfiltered.databinder.net/</a>
            </blockquote>
        </div>

        <h2>Schulungstermine</h2>

        <br/>

        <div class="list">
            <ul>
                @*<li>
                    <h4>
                        <a href="http://scala-schulung-berlin.eventbrite.de">
                            Scala Schulung, Berlin, 21. - 23. Januar 2013
                        </a>
                    </h4>
                </li>*@
                <li>
                    <h4>
                        <a href="http://scala-schulung-hamburg.eventbrite.de">
                            Scala Schulung, Hamburg, 4. - 7. Februar 2013
                        </a>
                    </h4>
                </li>
                @*<li>
                    <h4>
                        <a href="http://scala-schulung-frankfurt.eventbrite.de">
                            Scala Schulung, Frankfurt, 18. - 21. Februar 2013
                        </a>
                    </h4>
                </li>*@
                <li>
                    <h4>
                        <a href="http://scala-schulung-stuttgart.eventbrite.de">
                            Scala Schulung, Stuttgart, 4. - 7. März 2013
                        </a>
                    </h4>
                </li>
                <li>
                    <h4>
                        <a href="http://scala-schulung-münchen.eventbrite.de">
                            Scala Schulung, München, 18. - 21. März 2013
                        </a>
                    </h4>
                </li>
            </ul>

        </div>
    }
}