@()

@layout.kurs("Beschreibung") {

    <div>
        @front.intro()
        @front.about()
    </div>

    <div class="row">
        <h3 style="margin-left: 20px;">Inhalt</h3>

        <div class="span4 contents">
            @front.inhalt1()
        </div>
        <div class="span4 contents">
            @front.inhalt2()
            @*<div>
                <a href="@routes.Training.folien">Beispielfolien</a>
            </div>*@
        </div>
    </div>

    <div class="row">
        <div class="span4">
            <div>
                <h3>Schulungsziele</h3>
                @front.ziel()
            </div>
        </div>
        <div class="span4">
            <div style="margin: 0 20px;">
                <h3>Kursvoraussetzungen</h3>
                @front.voraussetzung()
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span4">
            <div>
                <h3>Trainer</h3>
                @front.trainer()
            </div>
        </div>
        <div class="span4">
            <div style="margin: 0 20px;">
                <h3>Seminaraufbau</h3>
                @front.aufbau()
            </div>
        </div>
    </div>
}