@()

@layout.kurs("Warum Scala?") {

    <div style="margin-left: 0;">
        @front.intro()
    </div>

    <div class="row">
        <div class="span4">
            <div>
                <h3>Manager</h3>
                <div>
                    @front.manager()
                    <p class="center">
                        <a href="@routes.Training.index">&gt; Scala lernen &lt;</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="span4">
            <div>
                <h3>Entwickler</h3>
                @front.entwickler()
                <p class="center">
                    <a href="@routes.Training.index">&gt; Scala lernen &lt;</a>
                </p>
            </div>
        </div>
    </div>
}