@layout.slide("Vorstellung von Scala") {

<div class="state-background"></div>

<div class="slides">


    <section>
        <h1><em>Einführung</em></h1>
        <h3 class="banner">Scala, die unbekannte Spache</h3>
    </section>


    <section class="vcenter">
        <div class="left w40p">
            <img src="/assets/img/odersky.jpg" width="100%" alt="Martin Odersky">
        </div>

        <div class="fragment left w60p">
            <blockquote>
                <p>
                    Der Name Scala steht für <br/><em>scal</em>able <em>la</em>nguage.
                </p>
                <p>
                    Die Sprache ist so konzipiert, dass sie mit den Anforderungen des Nutzers wächst.
                    Man kann sie auf eine Vielzahl von Aufgaben anwenden, von kleinen Skripten bis hin zu großen System.
                </p>
                <var class="who">
                    Martin Odersky, <br/>Erfinder von Scala
                </var>
            </blockquote>
        </div>
    </section>


    <section>
        <h2>Scala ist ... <span class="fragment"><em>eine Skriptsprache</em></span></h2>

        <div class="indent">
            <ul>
                <li class="fragment">
                    interaktive Konsole: Read-Eval-Print-Loop (REPL)
                </li>
                <li class="fragment">
                    keine Semikolons

                    @comp.snippet {
                        |println("Hello World")
                    }
                </li>
                <li class="fragment">
                    Type Inference

                    @comp.snippet {
                        |val i = 1 + 2 * 3      // the type of i is Int
                        |val s = "Scala rocks"  // the type of s is String
                    }
                </li>
            </ul>
        </div>
    </section>


    <section>
        <h2>Scala ist ... <span><em>objektorientiert</em></span></h2>

        <div class="indent">
            <ul>
                <li class="fragment">
                    jeder (!) Wert ist ein Objekt (keine primitiven Typen wie 'int')
                    @comp.snippet {
                        |42.toFloat
                    }
                </li>
                <li class="fragment">
                    Klassen und Vererbung
                    @comp.snippet {
                        |class MonsterTruck extends Car
                    }
                </li>
                <li class="fragment">
                    Mixin-Mechanismus
                    @comp.snippet {
                        |class FlyingCar extends Car with Wings
                    }
                </li>
            </ul>
        </div>
    </section>


    <section>
        <h2>Scala ist ... <span><em>knapp und präzise</em></span></h2>

        <div class="indent">
            <ul>
                <li class="fragment">
                    reduziert die Code-Zeilen um mehr als 50%
                    <div class="indent">
                        <ul>
                            <li class="fragment">
                                weniger Boilerplate-Code
                                @comp.snippet {
                                    |class MyCar(wheels: Int = 4)
                                }
                            </li>
                            <li class="fragment">
                                Traits und Closures für Wiederverwendung
                                @comp.snippet {
                                    |trait Logging
                                    |def getAttributeFromAllUsers[T](fn: (User) => List[T])
                                }
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="fragment">
                    <em>schneller</em> zu schreiben und <em>leichter</em> zu lesen
                </li>
            </ul>
        </div>
    </section>


    <section>
        <h2>Scala ist ... <span><em>funktional</em></span></h2>

        <div class="indent">
            <ul>
                <li class="fragment">
                    wiederverwendbare Code-Blöcke ohne Seiteneffekte
                    @comp.snippet {
                        |val names = users.map(_.username)
                    }
                    <div class="fragment">
                        @comp.snippet {
                            |val minors = users.map(_.age()).filter(_ < 18)
                        }
                    </div>
                </li>
                <li class="fragment">
                    Pattern Matching
                    @comp.snippet {
                        |def matchTest(arg: String, value: Any) = (arg, value) match {
                        |   case ("-h" | "--help", _) => displayHelp()
                        |   case ("-v" | "--version", _) => displayVersion()
                        |   case (a,v) => sys.error("unknown argument:" + a)
                        |}
                    }
                </li>
            </ul>
        </div>
    </section>


    <section>
        <h2>Scala ist ... <span><em>statisch typisiert</em></span></h2>

        <div class="indent">
            <ul>
                <li class="fragment">
                    sehr fortschrittliches Typenmodell<br/>
                    <div class="indent">
                        <ul>
                            <li class="fragment">
                                Type Inference
                                @comp.snippet {
                                    |val i = 1 + 2 * 3      // the type of i is Int
                                }
                            </li>
                            <li class="fragment">
                                Compound Types
                                @comp.snippet {
                                    |def cloneAndReset(obj: Cloneable with Resetable) = ..
                                }
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="fragment"><em>Vorteil:</em> weniger Flüchtigkeitsfehler & Testaufwand sowie sicheres Refactoring</li>
                <li class="fragment"><var>Nachteil:</var> erhöhte Kompilierzeit</li>
            </ul>
        </div>
    </section>


    <section>
        <h2>Scala ist ... <span><em>Java</em></span></h2>

        <div class="indent">
            <ul>
                <li class="fragment">
                    erstellt gewohntem Java byte code
                    <div class="indent">
                        <ul>
                            <li>
                                so schnell wie Java (manchmal schneller!)
                            </li>
                            <li class="fragment">
                                Aufrufe & Erweiterung einer <em>Java</em>-Klasse von <var>Scala</var>? - reibungslos
                            </li>
                            <li class="fragment">
                                Aufrufe & Erweiterung einer <var>Scala</var>-Klasse von <em>Java</em>? - geht, mit Ausnahmen
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <br/><br/>
            <div class="fragment">
                ⇨ kompatibel mit den tausenden Java-Bibliotheken - ohne zusätzlichen Code
            </div>
        </div>
    </section>


    <section>
        <h2>Scala ist ... <span><em>erweiterbar</em></span></h2>

        <div class="indent">
            <ul>
                <li class="fragment">
                    eigene Kontrollstrukturen
                    @comp.snippet {
                        |def retry[T](n: Int)(fn: => T): T =
                        |  try   { fn }
                        |  catch { case e => if (n > 1) retry(n - 1)(fn) else throw e }
                    }
                </li>
                <li class="fragment">
                    eigene Sprachen: Domain Specific Language (DSL)
                    @comp.snippet {
                        @Html("""
                        |class HelloWorldSpec extends Specification {
                        |   "The 'Hello world' string" should {
                        |       "contain 11 characters" in {
                        |           "Hello world" must have size(11)
                        |       }
                        """)
                    }
                </li>
            </ul>
        </div>
    </section>


    <section>
        <h2>Scala ist ... <span><em>in Benutzung</em></span></h2>

        <br/>
        <div class="fragment indent">
            <table>
                <colgroup>
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                </colgroup>
                <tr>
                    <td><var>LinkedIn</var></td>
                    <td><var>Localytics</var></td>
                    <td><em>Novell</em></td>
                    <td><em>EDF</em></td>
                </tr>
                <tr>
                    <td><var>Tumblr</var></td>
                    <td><var>StumbleUpon</var></td>
                    <td><em>VMware</em></td>
                    <td><em>AOL</em></td>
                </tr>
                <tr>
                    <td><var>TheNewMotion</var></td>
                    <td><var>Klout</var></td>
                    <td><em>Siemens</em></td>
                    <td><em>SAP</em></td>
                </tr>
                <tr>
                    <td><var>StackMob</var></td>
                    <td><var>foursquare</var></td>
                    <td><em>Sony</em></td>
                    <td><em>o2 Teléphonica</em></td>

                </tr>
                <tr>
                    <td><var>eHarmony</var></td>
                    <td><var>Twitter</var></td>
                    <td><em>UK Guardian</em></td>
                    <td><em>Xerox</em></td>
                </tr>
            </table>
            <br/>
            <h3 class="center fragment">
                <var>Startups</var> <big>&nbsp;&&nbsp;</big> <em>Konzerne</em>
            </h3>
        </div>
    </section>


    <section>
        <h2>Zusammenfassung: Scala ist ...</h2>
        <h4>
            <div class="indent90">
                <ul class="fragment w40p left">
                    <li><em>Java</em></li>
                    <li><em>funktional</em></li>
                    <li><em>statisch typisiert</em></li>
                    <li><em>in Benutzung</em></li>
                    <li><em>kurz und präzise</em></li>
                    <li><em>erweiterbar</em></li>
                    <li><em>objektorientiert</em></li>
                </ul>
                <ul class="fragment w40p left">
                    <li><var>cool</var></li>
                    <li><var>eine Freude</var></li>
                    <li><var>produktiv</var></li>
                    <li><var>anspruchsvoll</var></li>
                    <li><var>eine neue Denkweise</var></li>
                    <li><var>flexibel</var></li>
                    <li><var>modern</var></li>
                </ul>
            </div>
        </h4>
    </section>

</div>
}