@layout.slide("Vorstellungsrunde") {

<div class="state-background"></div>

<div class="slides">

    <section>
        <h1><em>Willkommen</em></h1>
        <h3 class="banner">teilnehmer.foreach(t => println("Willkommen " + t))</h3>
    </section>


    <section>
        <h2>Zu meiner Person</h2>
    </section>


    <section>
        <h2>Zum <em>Ablauf</em></h2>
    </section>


    <section>
        <h2>Nun zu <em>Ihnen</em> ... </h2>

        <div class="indent">
            <ul>
                <li>Name ?</li>
                <li>erster Java-Kontakt ?</li>
                <li>Vorkenntnisse in Scala ?</li>
                <li>Erwartungen und Wünsche ?</li>
            </ul>
        </div>
    </section>


</div>
}