@layout.slide("Setup Scala") {

<div class="state-background"></div>

<div class="slides">

    <section>
        <h1><em>Installation</em></h1>
        <h3 class="banner">Immer herein, Scala!</h3>
    </section>


    <section>
        <h2>Schritt <em>für</em> Schritt</h2>

        <div class="indent">
            <ol>
                <li>
                    Installieren von Java 6 (oder höher)<br/>
                </li>
                <li>
                    <code>&gt; java -version</code>
                </li>
                <li>
                    Installation Typesafe Stack von <code>www.typesafe.com/stack/download</code><br/>
                    <comment>keine Admin-Rechte? dann bitte <code>http://www.scala-lang.org/downloads</code></comment>
                </li>
                <li>
                    <code>&gt; scala -version</code><br/>
                    <comment>geht nicht? bitte melden!</comment>
                </li>
            </ol>
        </div>
    </section>


    <section>
        <h2>TODO</h2>
    </section>

</div>
}