@layout.slide("Why Scala") {

<div class="state-background"></div>

<div class="slides">


    <section>
        <h1>Scala</h1>
        <h3 class="banner">A <em>scalable</em> language</h3>
    </section>


    <section class="vcenter">
        <div class="left w40p">
            <img src="/assets/img/odersky.jpg" width="100%" alt="Martin Odersky">
        </div>

        <div class="left w60p">
            <blockquote>
                <p>
                    The name Scala stands for <br/><em>scalable language</em>.
                </p>
                <p>
                    The language is designed to grow with the demands of its users.
                    You can apply Scala to a wide range of programming tasks, from writing small scripts to building large systems.
                </p>
                <var class="who">
                    Martin Odersky, <br/>creator of Scala
                </var>
            </blockquote>
        </div>
    </section>


    <!--<section>
        <blockquote>
            <p>
                Scala is a general purpose programming language designed to express common programming patterns in a concise, elegant, and type-safe way.
            </p>
            <p>
                It smoothly integrates features of object-oriented and functional languages, enabling Java and other programmers to be more productive.
            </p>
            <p>
                Code sizes are typically reduced by a factor of two to three when compared to an equivalent Java application
            </p>
        </blockquote>
    </section>-->


    <section>
        <h2>Scala is ... <span class="fragment"><em>a scripting language</em></span></h2>

        <ul class="indent">
            <li class="fragment">
                interactive Read-Eval-Print-Loop (REPL)
            </li>
            <li class="fragment">
                no semicolons

                @comp.snippet {
                    |println("Hello World")
                }
            </li>
            <li class="fragment">
                type inference

                @comp.snippet {
                    |val i = 1 + 2 * 3      // the type of i is Int
                    |val s = "Scala rocks"  // the type of s is String
                }
            </li>
        </ul>
    </section>


    <section>
        <h2>Scala is ... <span><em>object-oriented</em></span></h2>

        <ul class="indent">
            <li class="fragment">
                every (!) value is an object (no Java primitives like 'int')
                @comp.snippet {
                    |42.toFloat
                }
            </li>
            <li class="fragment">
                classes and inheritance
                @comp.snippet {
                    |class MonsterTruck extends Car
                }
            </li>
            <li class="fragment">
                mixin-based composition
                @comp.snippet {
                    |class FlyingCar extends Car with Wings
                }
            </li>
        </ul>
    </section>


    <section>
        <h2>Scala is ... <span><em>functional</em></span></h2>

        <div class="indent">
            <ul>
                <li class="fragment">
                    re-usable blocks of code that have no side effects
                    @comp.snippet {
                        |val names = users.map(_.username)
                    }
                    <div class="fragment">
                        @comp.snippet {
                            |val minors = users.map(_.age()).filter(_ < 18)
                        }
                    </div>
                </li>
                <li class="fragment">
                    pattern matching
                    @comp.snippet {
                        |def matchTest(arg: String, value: Any) = (arg, value) match {
                        |   case ("-h" | "--help", _) => displayHelp()
                        |   case ("-v" | "--version", _) => displayVersion()
                        |   case (a,v) => sys.error("unknown argument:" + a)
                        |}
                    }
                </li>
            </ul>
        </div>
    </section>


    <section>
        <h2>Scala is ... <span><em>Java</em></span></h2>

        <ul class="indent">
            <li class="fragment">
                compiles to regular Java byte code
                <ul>
                    <li>
                        as fast as Java (sometimes faster!)
                    </li>
                    <li class="fragment">
                        calling & extending <em>Java</em> class from <var>Scala</var>? - works perfectly
                    </li>
                    <li class="fragment">
                        calling & extending <var>Scala</var> class from <em>Java</em>? - works mostly, a few exceptions
                    </li>
                </ul>
            </li>
        </ul>
        <br/><br/>
        <div class="indent fragment">
            => compatible with all the thousands of Java libraries - no glue code needed
        </div>
    </section>


    <section>
        <h2>Scala is ... <span><em>statically typed</em></span></h2>

        <ul class="indent fragment">
            <li class="fragment">
                very advanced static type system<br/>
                <ul>
                    <li class="fragment">
                        type inference
                        @comp.snippet {
                            |val i = 1 + 2 * 3      // the type of i is Int
                        }
                    </li>
                    <li class="fragment">
                        compound types
                        @comp.snippet {
                            |def cloneAndReset(obj: Cloneable with Resetable) = ..
                        }
                    </li>
                </ul>
            </li>
            <li class="fragment"><em>benefits</em>: less mistakes, reduced testing and safe refactoring</li>
            <li class="fragment"><var>drawbacks</var>: increased compilation time</li>
        </ul>
    </section>


    <section>
        <h2>Scala is ... <span><em>extensible</em></span></h2>

        <ul class="indent">
            <li class="fragment">
                add your own control structures
                @comp.snippet {
                    |def retry[T](n: Int)(fn: => T): T =
                    |  try   { fn }
                    |  catch { case e => if (n > 1) retry(n - 1)(fn) else throw e }
                }
            </li>
            <li class="fragment">
                create a complete Domain Specific Language (DSL)
                @comp.snippet {
                    @Html("""
                    |class HelloWorldSpec extends Specification {
                    |   "The 'Hello world' string" should {
                    |       "contain 11 characters" in {
                    |           "Hello world" must have size(11)
                    |       }
                    """)
                }
            </li>
        </ul>
    </section>


    <section>
        <h2>Scala is ... <span><em>concise</em></span></h2>

        <ul class="indent">
            <li class="fragment">
                reduces lines of code by at least 50%
                <ul>
                    <li class="fragment">
                        less boilerplate
                        @comp.snippet {
                            |class MyCar(wheels: Int = 4)
                        }
                    </li>
                    <li class="fragment">
                        factor out common behaviour by using traits and closures
                        @comp.snippet {
                            |trait Logging
                            |def getAttributeFromAllUsers[T](fn: (User) => List[T])
                        }
                    </li>
                </ul>
            </li>
            <li class="fragment">
                <em>quicker</em> to write
                <span class="fragment">, <em>easier</em> to read</span>
                <span class="fragment"> and <em>less error</em> prone</span>
            </li>
        </ul>
    </section>


    <section>
        <h2>Scala is ... <span><em>actively used</em></span></h2>

        <br/>
        <div class="fragment indent">
            <table>
                <colgroup>
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                </colgroup>
                <tr>
                    <td><var>LinkedIn</var></td>
                    <td><var>Localytics</var></td>
                    <td><em>Novell</em></td>
                    <td><em>EDF</em></td>
                </tr>
                <tr>
                    <td><var>Tumblr</var></td>
                    <td><var>StumbleUpon</var></td>
                    <td><em>VMware</em></td>
                    <td><em>AOL</em></td>
                </tr>
                <tr>
                    <td><var>TheNewMotion</var></td>
                    <td><var>Klout</var></td>
                    <td><em>Siemens</em></td>
                    <td><em>SAP</em></td>
                </tr>
                <tr>
                    <td><var>StackMob</var></td>
                    <td><var>foursquare</var></td>
                    <td><em>Sony</em></td>
                    <td><em>o2 Teléphonica</em></td>

                </tr>
                <tr>
                    <td><var>eHarmony</var></td>
                    <td><var>Twitter</var></td>
                    <td><em>UK Guardian</em></td>
                    <td><em>Xerox</em></td>
                </tr>
            </table>
            <br/>
            <h3 class="center">
                <var>Startups</var> <big>&nbsp;&&nbsp;</big> <em>Enterprises</em>
            </h3>
        </div>
    </section>


    <section>
        <h2>Scala is ...</h2>
        <h4>
            <ul class="indent w40p left">
                <li><em>Java</em></li>
                <li><em>functional</em></li>
                <li><em>statically typed</em></li>
                <li><em>actively used</em></li>
                <li><em>concise</em></li>
                <li><em>extensible</em></li>
                <li><em>object oriented</em></li>
            </ul>
            <ul class="fragment w40p left">
                <li><var>cool</var></li>
                <li><var>challenging</var></li>
                <li><var>fun</var></li>
                <li><var>new way of thinking</var></li>
                <li><var>exciting</var></li>
                <li><var>gorgeous</var></li>
                <li><var>complex at first</var></li>
            </ul>
        </h4>
    </section>

</div>
}