@layout.slide("Why Scala") {

<div class="state-background"></div>

<div class="slides">


    <section>
        <h1>Scala</h1>
        <h3 class="banner">A <em>scalable</em> language</h3>
    </section>


    <section class="vcenter">
        <div class="left w40p">
            <img src="/assets/img/odersky.jpg" width="100%" alt="Martin Odersky">
        </div>

        <div class="left w60p">
            <blockquote>
                <p>
                    The name Scala stands for <em>scalable language</em>.
                </p>
                <p>
                    The language is designed to grow with the demands of its users.
                    You can apply Scala to a wide range of programming tasks, from writing small scripts to building large systems.
                </p>
                <var class="who">
                    Martin Odersky, <br/>creator of Scala
                </var>
            </blockquote>
        </div>
    </section>


    <!--<section>
        <blockquote>
            <p>
                Scala is a general purpose programming language designed to express common programming patterns in a concise, elegant, and type-safe way.
            </p>
            <p>
                It smoothly integrates features of object-oriented and functional languages, enabling Java and other programmers to be more productive.
            </p>
            <p>
                Code sizes are typically reduced by a factor of two to three when compared to an equivalent Java application
            </p>
        </blockquote>
    </section>-->


    <section>
        <h2>Scala is ... <span class="fragment"><em>a scripting language</em></span></h2>

        <br/>
        <ul class="indent">
            <li class="fragment">
                interactive Read-Eval-Print-Loop (REPL)
            </li>
            <li class="fragment">
                no semicolons

                <div class="editor small">
                    |println("Hello World")
                </div>
            </li>
            <li class="fragment">
                <var>type inference</var>

                <div class="editor small">
                    |val i = 1 + 2 * 3      // the type of i is Int
                    |val s = "Scala rocks"  // the type of s is String
                </div>
            </li>
        </ul>
    </section>


    <section>
        <h2>Scala is ... <span><em>object-oriented</em></span></h2>

        <br/>
        <ul class="indent">
            <li class="fragment">
                classes
                <div class="editor small">
                    |class Car
                    |class MonsterTruck extends Car
                </div>
            </li>
            <li class="fragment">
                every (!) value is an object
                <div class="editor small">
                    |val meaning_of_life = 42
                    |val my_new_car = new MonsterTruck
                </div>
            </li>
        </ul>
    </section>


    <section>
        <h2>Scala is ... <span><em>functional</em></span></h2>

        <br/>
        <ul class="indent">
            <li>
                every block of code is an expression
            </li>
        </ul>
    </section>


    <section>
        <h2>Scala is ... <span><em>interoperable</em></span></h2>

        <br/>
        <ul class="indent">
            <li class="fragment">
                compiles to regular Java-compatible byte code
            </li>
            <li class="fragment">
                compatible with thousands of Java libraries
            </li>
        </ul>
    </section>


    <section>
        <h2>Scala is ... <span><em>statically typed</em></span></h2>

        <br/>
        <ul class="indent">

        </ul>
    </section>


    <section>
        <h2>Scala is ... <span><em>composable</em></span></h2>

        <br/>
        <ul class="indent">

        </ul>
    </section>


    <section>
        <h2>Scala is ... <span><em>extensible</em></span></h2>

        <br/>
        <ul class="indent">

        </ul>
    </section>


    <section>
        <h2>Scala is ... <span><em>concise</em></span></h2>

        <br/>
        <ul class="indent">

        </ul>
    </section>


    <section>
        <h2>Scala is ... <span><em>fast</em></span></h2>
        <br/>
        <div class="indent">
            <ul>
                <li class="fragment">
                    runs on the Java Virtual Machine
                </li>
            </ul>
        </div>
    </section>


    <section>
        <h2>Scala <var><></var> Java</h2>

    </section>


    <section>
        <h2 class="inline"><em>Compiling</em></h2>
        <h2 class="inline right"><var>Running</var></h2>

    </section>


    <section>
        <h2>Who is using Scala ?</h2>
        <br/>
        <div class="fragment indent">
            <table>
                <colgroup>
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                </colgroup>
                <tr>
                    <td><var>LinkedIn</var></td>
                    <td><var>Localytics</var></td>
                    <td><em>Novell</em></td>
                    <td><em>EDF</em></td>
                </tr>
                <tr>
                    <td><var>Tumlbr</var></td>
                    <td><var>StumbleUpon</var></td>
                    <td><em>VMware</em></td>
                    <td><em>AOL</em></td>
                </tr>
                <tr>
                    <td><var>TheNewMotion</var></td>
                    <td><var>Klout</var></td>
                    <td><em>Siemens</em></td>
                    <td><em>SAP</em></td>
                </tr>
                <tr>
                    <td><var>StackMob</var></td>
                    <td><var>foursquare</var></td>
                    <td><em>Sony</em></td>
                    <td><em>o2 Telphonica</em></td>

                </tr>
                <tr>
                    <td><var>eHarmony</var></td>
                    <td><var>Twitter</var></td>
                    <td><em>UK Guardian</em></td>
                    <td><em>Xerox</em></td>
                </tr>
            </table>
            <br/>
            <h3 class="center">
                <var>Startups</var> <big>&nbsp;&&nbsp;</big> <em>Enterprises</em>
            </h3>
        </div>
    </section>


    <section>
        <h2>Code</h2>

        <div class="editor">
            |def partition(p: A => Boolean): (Repr, Repr) = {
            |    val l, r = newBuilder
            |    for (x <- this) (if (p(x)) l else r) += x
            |    (l.result, r.result)
            |}
        </div>
    </section>


</div>
}