@layout.public("Schulung | " + Training.scala + " - Frankfurt | Anmeldung", classes = "event") {

    @*
        https://maps.google.com/maps?saddr=Frankfurt+am+Main+Hauptbahnhof,+Am+Hauptbahnhof,+Frankfurt,+Germany&daddr=Beethovenplatz+1-3,+Frankfurt,+Deutschland+to:Bettinastra%C3%9Fe+30,+Frankfurt+am+Main,+Deutschland+to:Schumannstra%C3%9Fe+27,+Frankfurt,+Deutschland+to:Mainzer+Landstra%C3%9Fe+46,+Frankfurt+am+Main,+Deutschland+to:Opernturm,+Frankfurt,+Germany+to:50.1112255,8.6529978+to:Tower+185,+Frankfurt,+Germany+to:Westhafenplatz+1,+Frankfurt+am+Main,+Deutschland&hl=en&ie=UTF8&sll=50.109832,8.658471&sspn=0.011766,0.021865&geocode=FfaT_AIdIDaEACGuDYYwRtmnOimFvgPf_wu9RzGuDYYwRtmnOg%3BFXGk_AIdGhmEACn1YDsaVwm9RzFPJ07hwd_YiA%3BFZik_AIdjiSEACm7gkWWVgm9RzEMoxVf8U3CAg%3BFdCx_AId5A6EACn_OKgPWgm9RzFg8pQPUEMiEw%3BFTKk_AIdBzeEAClZrXCLVAm9RzGgl2hIx8MeLA%3BFfWn_AIdVwiEACFY8K2uwjqE8Sn5seCVWQm9RzFY8K2uwjqE8Q%3BFfmi_AIdxQiEACm3S9VMWAm9RzGzVmD57xLV-w%3BFfqf_AIdBBWEACEFaiXYYyJ4qSkx6GShVwm9RzEFaiXYYyJ4qQ%3BFUp8_AIdMjWEAClZyiKh-Au9RzHUo-dSJOtC5g&oq=Westhafenplatz+1&mra=ls&via=6&t=m&z=15
    *@
    <div class="embed">
        <iframe src="http://scala-schulung-frankfurt.eventbrite.de?ref=eweb" frameborder="0" height="3055px" width="100%"
                vspace="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" allowtransparency="true"></iframe>
    </div>
}