@layout.public("'" + Training.scala + "' in Hamburg", classes = "event") {

    @*
        https://maps.google.com/maps?saddr=Hauptbahnhof,+Hamburg,+Germany&daddr=Glockengie%C3%9Ferwall+17,+Hamburg,+Deutschland+to:Poststra%C3%9Fe+33,+Hamburg,+Deutschland+to:Neuer+Wall+50,+Hamburg,+Deutschland+to:Fischertwiete+2,+Hamburg,+Deutschland&hl=en&ie=UTF8&sll=53.559226,9.996786&sspn=0.021795,0.043731&geocode=Fe8lMQMdzLCYACnz1wxE4Y6xRzEkYAF6uYBcSQ%3BFcEsMQMd2J-YAClZyIzO4Y6xRzFt4HtNICvOFg%3BFSUqMQMdGW2YACnJi_yCGY-xRzG59TQJLz--zg%3BFVYgMQMdp2uYAClnHG2yG4-xRzExDItU1WfahA%3BFeAVMQMdLZyYACkzHo7u4o6xRzE-cAt8F4tvsQ&oq=Poststra%C3%9Fe+33,+ham&mra=ls&t=m&z=16
    *@
    <div class="embed">
        <iframe src="http://scala-schulung-hamburg.eventbrite.de?ref=eweb" frameborder="0" height="3050px" width="100%"
                vspace="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" allowtransparency="true"></iframe>
    </div>
}