@layout.public("'" + Training.scala + "' in Stuttgart", classes = "event") {

    @*
        https://maps.google.com/maps?saddr=Hauptbahnhof,+Stuttgart,+Germany&daddr=Leitzstra%C3%9Fe+45,+Stuttgart,+Deutschland+to:K%C3%B6nigstra%C3%9Fe+80,+Stuttgart,+Germany+to:K%C3%B6nigstra%C3%9Fe+26,+Stuttgart,+Germany&hl=en&ie=UTF8&ll=48.782918,9.181094&spn=0.012089,0.021865&sll=48.777121,9.179056&sspn=0.01209,0.021865&geocode=FWpe6AIdVRKMACk1OoYpMtuZRzGBCqO9Ow7fAA%3BFQnV6AIdQQ2MACnVli1gxtqZRzELRVKoRCdHXA%3BFWU56AIdj_yLACmf0JNoSduZRzGxwXtj26tCsw%3BFQ5S6AId0gqMACnX_MovNNuZRzFEJoX812V8lA&oq=K%C3%B6nigstra%C3%9Fe+26&mra=ls&t=m&z=16&iwloc=ddw0
    *@
    <div class="embed">
        <iframe src="https://scala-schulung-stuttgart.eventbrite.de?ref=eweb" frameborder="0" height="3050px" width="100%"
                vspace="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" allowtransparency="true"></iframe>
    </div>
}