@(title: String, meta: String = "")(content: Html)(implicit req: RequestHeader)
    
@layout.kurs(title, baseTitle = Training.scalaS + ": ", heading = Training.scalaS, meta) {

    <div class="logo_link">
        <a class="scala" href="@routes.Training.scalaIndex">
            <img width="150" height="45" src='@MyAssets.urlOf("scala-logo.png", "img")' alt="Scala"/>
        </a>
    </div>

    <div class="scala well">

        <nav id="kurs_navi">
            <ul style="margin-left: 20px;">
                <li class="descr">
                    <a href="@routes.Training.scalaIndex()">Kursbeschreibung</a>
                </li>
                <li class="why">
                    <a href="@routes.Training.scalaWhy()">Vorteile von Scala</a>
                </li>
                @*<li class="java">
                    <a href="@routes.Training.scalaJava()">Scala vs Java</a>
                </li>*@
                <li class="slide">
                    <a href="@routes.Training.scalaFolien()">Beispielfolien</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="well" style="padding-left: 0; padding-right: 0;">
        <h4>Offene Termine</h4>
        @register("Hamburg", "4. - 7. Februar 2013", "", "hamburg")
        @register("Stuttgart", "4. - 7. März 2013", "", "stuttgart")
        @register("München", "18. - 21. März 2013", "", "muenchen")
    </div>

    @training.comp.firmenintern("Scala")

    <div class="well">
        <h4>Weitere Kurse</h4>

        <div style="text-align: center">
            <a href="@routes.Training.akkaIndex" title="@Training.akka">
                <img width="120" height="94" src='@MyAssets.urlOf("akka-logo.png", "img")' alt="Akka"/>
            </a>
        </div>
    </div>

    <div class="well">
        <h4>Feedback</h4>

        @Training.pick(feedback1, feedback2, feedback3)
    </div>
} {
    @content
}

@feedback1 = {
    <div class="feedback">
        "Was mir gefallen hat, ist die individuelle Art, wie Stephan mit mir
        und den anderen Teilnehmern umgegangen ist. One-on-One Hilfe und Tipps
        waren reichlich vorhanden."
    </div>
    <div class="member"> - Kifah A.</div>
}

@feedback2 = {
    <div class="feedback">
        "Die Schulung hat alle Unterschiede zw. Java und Scala aufgezeigt und durch verschiedene Übungen verinnerlicht,
        [..]
        @*Die Übungen können einen besser zum gewünschten Ergebnis führen, damit man diese nicht aus Versehen falsch löst.*@
        das Quiz zwischendurch lockert auf, da man mit den anderen zusammen über die Antworten diskutieren kann."
    </div>
    <div class="member"> - Marco R.</div>
}

@feedback3 = {
    <div class="feedback">
        "Kenntnisreiche Einführung in die Welt von Scala. Fundiert und auf den Punkt gebracht.
        Die vielen Übungen veranschaulichen und vertiefen die Materie. Prima!"
    </div>
    <div class="member"> - Hendrik B.</div>
}