@()

@template("Warum Scala?", meta = "Gründe warum Sie auf Scala setzen sollten - nutzen Sie die Vorteile schnellstmöglich mit der Schulung '@Training.scala'") {

    <div style="margin-left: 0;">
        @sub.intro()
    </div>

    <div class="row">
        <div class="span4">
            <div>
                <h3>Manager</h3>
                <div>
                    @sub.manager()
                    <p class="center">
                        <a href="@routes.Training.scalaIndex">&gt; Scala Schulung &lt;</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="span4">
            <div>
                <h3>Entwickler</h3>
                @sub.entwickler()
                <p class="center">
                    <a href="@routes.Training.scalaIndex">&gt; Scala Schulung &lt;</a>
                </p>
            </div>
        </div>
    </div>
}