@(clazz: String = "fragment")

<div class="sidebyside">
    <div class="@clazz">
        @snippet() {
            @callblock() {
                |val pi = 3.14f
            }
            @outblock() {
                |pi: Float = 3.14
            }
            @callblock() {
                |pi = 3.0f
            }
            @outblock() {
                |error: reassignment to val
            }
        }
        <sub>
            <code>val</code> ist nicht überschreibbar
        </sub>
    </div>

    <div class="@clazz">
        @snippet() {
            @callblock() {
                |var pi = 3.14f
            }
            @outblock() {
                |pi: Float = 3.14
            }
            @callblock() {
                |pi = 3.0f
            }
            @outblock() {
                |pi: Float = 3.0
            }
        }
        <sub>
            <code>var</code> ist überschreibbar
        </sub>
    </div>
</div>

<hr/><hr/>

<div class="sidebyside">
    <div class="@clazz">
        @snippet() {
            @callblock() {
                |val one: Int = 1
            }
            @outblock() {
                |one: Int = 1
            }
            @callblock() {
                |val three = 3L
            }
            @outblock() {
                |three: Long = 3
            }
        }
        <sub>
            Datentypen sind optional
        </sub>
    </div>

    <div class="@clazz">
        @snippet() {
            @callblock() {
                |3.14f.isWhole
            }
            @outblock() {
                |res0: Boolean = false
            }
            @callblock() {
                |(42)./(42)
            }
            @outblock() {
                |res1: Int = 1
            }
        }
        <sub>
            Alles ist ein Objekt, <br/> Operatoren sind Methoden
        </sub>
    </div>
</div>