@layout.simpledeck("Some", "im Vergleich mit 'None'") {

    <div class="indent">
        <ul>
            <li>
                einer der zwei Untertypen von @glossary("Option")
            </li>
            <li>
                es enthält einen Wert, im Gegensatz zu @glossary("None"), das leer ist
            </li>
        </ul>
    </div>

    <hr/>

    @sidebyside((45,45)) {
        @glossary("Some")
        <hr class="third"/>
        @shared.some()
    } {
        @glossary("None")
        <hr class="third"/>
        @shared.none()
    }
}