@*<!--
    http://docs.scala-lang.org/glossary/
-->*@
@layout.simpledeck("Glossary") {

    <div class="glossary">

        <div>
            <h4>A</h4>

            <ul data-letter="A">
                @link("Aktor")
                @link("apply")
            </ul>
        </div>

        <div>
            <h4>B</h4>

            <ul data-letter="B">
                @link("By-Name")
            </ul>
        </div>

        <div>
            <h4>C</h4>

            <ul data-letter="C">
                @link("Companion")
                @link("Currying")
            </ul>
        </div>

        <div>
            <h4 class="inactive">D</h4>

            <ul data-letter="D">

            </ul>
        </div>

        <div>
            <h4>E</h4>

            <ul data-letter="E">
                @link("Either")
            </ul>
        </div>

        <div>
            <h4 class="inactive">F</h4>

            <ul data-letter="F">
                @link("Funktionen höherer Ordnung", "hof")
            </ul>
        </div>

        <div>
            <h4 class="inactive">G</h4>

            <ul data-letter="G">

            </ul>
        </div>

        <div>
            <h4 class="inactive">H</h4>

            <ul data-letter="H">

            </ul>
        </div>

        <div>
            <h4>I</h4>

            <ul data-letter="I">
                @link("immutable")
                @link("Import", "import")
            </ul>
        </div>

        <div>
            <h4 class="inactive">J</h4>

            <ul data-letter="J">

            </ul>
        </div>

        <div>
            <h4>K</h4>

            <ul data-letter="K">
                @link("Keywords")
            </ul>
        </div>

        <div>
            <h4>L</h4>

            <ul data-letter="L">
                @link("Lambda")
            </ul>
        </div>

        <div>
            <h4>M</h4>

            <ul data-letter="M">
                @link("Monaden")
            </ul>
        </div>

        <div>
            <h4 class="inactive">N</h4>

            <ul data-letter="N">

            </ul>
        </div>

        <div>
            <h4>O</h4>

            <ul data-letter="O">
                @link("Option")
            </ul>
        </div>

        <div>
            <h4>P</h4>

            <ul data-letter="P">
                @link("Pattern Guard")
                @link("Pattern Matching")
            </ul>
        </div>

        <div>
            <h4 class="inactive">Q</h4>

            <ul data-letter="Q">

            </ul>
        </div>

        <div>
            <h4>R</h4>

            <ul data-letter="R">
                @link("return")
            </ul>
        </div>

        <div>
            <h4>S</h4>

            <ul data-letter="S">
                @link("self-type")
                @link("Sichtbarkeit")
            </ul>
        </div>

        <div>
            <h4>T</h4>

            <ul data-letter="T">
                @link("Tail Recursion", "tailrec")
                @link("trait", "traits")
            </ul>
        </div>

        <div>
            <h4 class="inactive">U</h4>

            <ul data-letter="U">

            </ul>
        </div>

        <div>
            <h4>V</h4>

            <ul data-letter="V">
                @link("val", "value")
                @link("var", "variable")
                @link("Varianz")
            </ul>
        </div>

        <div>
            <h4>W</h4>

            <ul data-letter="W">
                @link("Wildcard")
            </ul>
        </div>

        <div>
            <h4 class="inactive">X</h4>

            <ul data-letter="X">

            </ul>
        </div>

        <div>
            <h4>Y</h4>

            <ul data-letter="Y">
                @link("yields")
            </ul>
        </div>

        <div>
            <h4 class="inactive">Z</h4>

            <ul data-letter="Z">

            </ul>
        </div>
    </div>
}

@link(label: String, code: String = null) = {
    <li>
        <a href='/app/glossary/@{if(code == null) label.toLowerCase.replaceAllLiterally("-", "") else code}'>
            @label
        </a>
    </li>
}