@layout.simpledeck("Glossary") {

    <div class="glossary">

        <div>
            <h4>A</h4>

            <ul data-letter="A">

            </ul>
        </div>

        <div>
            <h4>B</h4>

            <ul data-letter="B">

            </ul>
        </div>

        <div>
            <h4>C</h4>

            <ul data-letter="C">

            </ul>
        </div>

        <div>
            <h4>D</h4>

            <ul data-letter="D">

            </ul>
        </div>

        <div>
            <h4>E</h4>

            <ul data-letter="E">

            </ul>
        </div>

        <div>
            <h4>F</h4>

            <ul data-letter="F">

            </ul>
        </div>

        <div>
            <h4>G</h4>

            <ul data-letter="G">

            </ul>
        </div>

        <div>
            <h4>H</h4>

            <ul data-letter="H">

            </ul>
        </div>

        <div>
            <h4>I</h4>

            <ul data-letter="I">

            </ul>
        </div>

        <div>
            <h4>J</h4>

            <ul data-letter="J">

            </ul>
        </div>

        <div>
            <h4>K</h4>

            <ul data-letter="K">

            </ul>
        </div>

        <div>
            <h4>L</h4>

            <ul data-letter="L">

            </ul>
        </div>

        <div>
            <h4>M</h4>

            <ul data-letter="M">

            </ul>
        </div>

        <div>
            <h4>N</h4>

            <ul data-letter="N">

            </ul>
        </div>

        <div>
            <h4>O</h4>

            <ul data-letter="O">
                @link("Option")
            </ul>
        </div>

        <div>
            <h4>P</h4>

            <ul data-letter="P">

            </ul>
        </div>

        <div>
            <h4>Q</h4>

            <ul data-letter="Q">

            </ul>
        </div>

        <div>
            <h4>R</h4>

            <ul data-letter="R">

            </ul>
        </div>

        <div>
            <h4>S</h4>

            <ul data-letter="S">

            </ul>
        </div>

        <div>
            <h4>T</h4>

            <ul data-letter="T">

            </ul>
        </div>

        <div>
            <h4>U</h4>

            <ul data-letter="U">

            </ul>
        </div>

        <div>
            <h4>V</h4>

            <ul data-letter="V">

            </ul>
        </div>

        <div>
            <h4>W</h4>

            <ul data-letter="W">
                @link("Wildcard")
            </ul>
        </div>

        <div>
            <h4>X</h4>

            <ul data-letter="X">

            </ul>
        </div>

        <div>
            <h4>Y</h4>

            <ul data-letter="Y">

            </ul>
        </div>

        <div>
            <h4>Z</h4>

            <ul data-letter="Z">

            </ul>
        </div>
    </div>
}

@link(label: String, code: String = null) = {
    <li>
        <a href="/app/glossary/@{if(code == null) label.toLowerCase else code}">
            @label
        </a>
    </li>
}