@layout.simpledeck("Auto-Import", "Was importiert jede Scala-Quelldatei automatisch?") {

    @sidebyside((30,70)) {
        @sourcecode() {
            |import java.lang._
        }
    } {
        @codenote() {
            <em class="underline">Klassen</em><br/>
            <div class="indent">
                <code>String</code>, <code>Thread</code>, <code>NullPointerException</code>, <code>Math</code>, <code>System</code>,
                <code>Comparable</code>, <code>StringBuffer</code>, <code>Throwable</code>,
                <code>Runnable</code>, <code>ClassLoader</code> etc.
            </div>
        }
    }

    <hr/>

    @sidebyside((30,70)) {
        @sourcecode() {
            |import scala._
        }
    } {
        @codenote() {
            <em class="underline">Klassen:</em><br/>
            <div class="indent">
                <code>Array</code>, <code>Long</code>, <code>Int</code>, <code>Char</code>,
                <code>Option</code>, <code>Float</code>, <code>Double</code> etc.
            </div>

            <hr class="third"/>

            <em class="underline">Traits:</em><br/>
            <div class="indent">
                <code>App</code>, <code>AynVal</code>, <code>Dynamic</code>, <code>Serializable</code>,
                <code>Product</code> etc.
            </div>

            <hr class="third"/>

            <em class="underline">Objekte:</em><br/>
            <div class="indent">
                <code>None</code>, <code>Function</code>, <code>Console</code>, <code>Option</code>,
                <code>Unit</code>, <code>Symbol</code> etc.
            </div>

            <hr class="third"/>

            <em class="underline">Typen:</em><br/>
            <div class="indent">
                <code>BigDecimal</code>, <code>Seq</code>, <code>Throwable</code>, <code>Vector</code>,
                <code>RuntimeException</code>, <code>List</code> etc.
            </div>

            <hr class="third"/>

            <em class="underline">Annotationen:</em><br/>
            <div class="indent">
                <code>@@throws</code>, <code>@@specialized</code>, <code>@@native</code>, <code>@@inline</code> etc.
            </div>
        }
    }

    <hr/>

    @sidebyside((30,70)) {
        @sourcecode() {
            import scala.Predef._
        }
    } {
        @codenote() {
            Siehe Eintrag zu @glossary("Predef").
        }
    }
}