@layout.simpledeck("Keywords", false, clazz = "noheader") {

    <div class="sidebyside">
        <div>
            <table class="slim">
                <tr>
                    <td>
                        <em>abstract</em>
                    </td>
                    <td>
                        Klasse abstrakt markieren
                    </td>
                </tr>
                <tr>
                    <td>
                        <em>case</em>
                    </td>
                    <td>
                        Pattern Matching
                    </td>
                </tr>
                <tr>
                    <td>
                        <em>class</em>
                    </td>
                    <td>
                        Klasse deklarieren
                    </td>
                </tr>
                <tr>
                    <td>
                        <em>def</em>
                    </td>
                    <td>
                        Methode deklarieren
                    </td>
                </tr>
                <tr>
                    <td>
                        <em>do / while</em>
                    </td>
                    <td>
                        Schleife einleiten
                    </td>
                </tr>
                <tr>
                    <td>
                        <em>extends / with</em>
                    </td>
                    <td>
                        Vererbung
                    </td>
                </tr>
                <tr>
                    <td>
                        <em>false / true</em>
                    </td>
                    <td>
                        Boolean-Konstante
                    </td>
                </tr>
                <tr>
                    <td>
                        <em>final</em>
                    </td>
                    <td>
                        Überschreiben verhindern
                    </td>
                </tr>
                <tr>
                    <td>
                        <em>for</em>
                    </td>
                    <td>
                        Schleife
                    </td>
                </tr>
                <!--<tr>
                    <td>
                        <em>forSome</em>
                    </td>
                    <td>

                    </td>
                </tr>-->
                <tr>
                    <td>
                        <em>if / else</em>
                    </td>
                    <td>
                        Bedingung
                    </td>
                </tr>
                <tr>
                    <td>
                        <em>implicit</em>
                    </td>
                    <td>
                        Typ-Konvertierung deklarieren
                    </td>
                </tr>
                <tr>
                    <td>
                        <em>import</em>
                    </td>
                    <td>
                        Paketinhalte laden
                    </td>
                </tr>
                <tr>
                    <td>
                        <em>lazy</em>
                    </td>
                    <td>
                        Evaluation verzögern
                    </td>
                </tr>
                <tr>
                    <td>
                        <em>match</em>
                    </td>
                    <td>
                        Pattern Match einleiten
                    </td>
                </tr>
                <tr>
                    <td>
                        <em>new</em>
                    </td>
                    <td>
                        Klasse instanziieren
                    </td>
                </tr>
                <tr>
                    <td>
                        <em>null</em>
                    </td>
                    <td>
                        nicht-definierter Wert
                    </td>
                </tr>
                <tr>
                    <td>
                        <em>object</em>
                    </td>
                    <td>
                        Singleton deklarieren
                    </td>
                </tr>
                <tr>
                    <td>
                        <em>override</em>
                    </td>
                    <td>
                        Feld / Methode überschreiben
                    </td>
                </tr>
                <tr>
                    <td>
                        <em>package</em>
                    </td>
                    <td>
                        Paket deklarieren
                    </td>
                </tr>
            </table>
        </div>

        <div>
            <table class="slim">
                <tr>
                    <td>
                        <em>private</em>
                    </td>
                    <td>
                        Sichtbarkeit eingrenzen
                    </td>
                </tr>
                <tr>
                    <td>
                        <em>protected</em>
                    </td>
                    <td>
                        Sichtbarkeit eingrenzen
                    </td>
                </tr>
                <tr>
                    <td>
                        <em>return</em>
                    </td>
                    <td>
                        Wert zurückgeben
                    </td>
                </tr>
                <tr>
                    <td>
                        <em>sealed</em>
                    </td>
                    <td>
                        Vererbung eingrenzen
                    </td>
                </tr>
                <tr>
                    <td>
                        <em>super / this</em>
                    </td>
                    <td>
                        Eltern- bzw. Selbstreferenz
                    </td>
                </tr>
                <tr>
                    <td>
                        <em>throw</em>
                    </td>
                    <td>
                        Ausnahme werfen
                    </td>
                </tr>
                <tr>
                    <td>
                        <em>trait</em>
                    </td>
                    <td>
                        Trait deklarieren
                    </td>
                </tr>
                <tr>
                    <td>
                        <em class="nobreak">try-catch-finally</em>
                    </td>
                    <td>
                        Ausnahmebehandlung
                    </td>
                </tr>
                <tr>
                    <td>
                        <em>type</em>
                    </td>
                    <td>
                        Typ deklarieren
                    </td>
                </tr>
                <tr>
                    <td>
                        <em>val / var</em>
                    </td>
                    <td>
                        Variable deklarieren
                    </td>
                </tr>
                <tr>
                    <td>
                        <em>yield</em>
                    </td>
                    <td>
                        Rückgabe von for-Ausdruck
                    </td>
                </tr>
                <tr>
                    <td>
                        <em>_</em>
                    </td>
                    <td>
                        Platzhalter (Wildcard)
                    </td>
                </tr>
                <tr>
                    <td>
                        <em>:</em>
                    </td>
                    <td>
                        Abtrennung von Typen
                    </td>
                </tr>
                <tr>
                    <td>
                        <em>=</em>
                    </td>
                    <td>
                        Wertzuweisung
                    </td>
                </tr>
                <tr>
                    <td>
                        <em>=> / ⇒</em>
                    </td>
                    <td>
                        Funktionsliteral
                    </td>
                </tr>
                <tr>
                    <td>
                        <em><- / ←</em>
                    </td>
                    <td>
                        Generator-Ausdruck
                    </td>
                </tr>
                <tr>
                    <td>
                        <em>&lt;: / >: / &lt;%</em>
                    </td>
                    <td>
                        Typ-Parameter einschränken
                    </td>
                </tr>
                <tr>
                    <td>
                        <em></em>
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td>
                        <em>#</em>
                    </td>
                    <td>
                        Typ-Projektion
                    </td>
                </tr>
                <tr>
                    <td>
                        <em>@@</em>
                    </td>
                    <td>
                        Annotation markieren
                    </td>
                </tr>
            </table>
        </div>
    </div>
}