@layout.simpledeck("private") {

    <div class="indent">
        <ul>
            <li>
                schränkt die @glossary("Sichtbarkeit") von Objekten, Klassen, Variablen, Methoden und Konstruktoren ein
            </li>
            <li>
                <code>private[scope]</code> erlaubt noch genauere Definitionen:

                <hr/>

                @defining((50,50)) { s =>
                    @codesplits((30,60)){
                        @splitstart() {
                            |package airline.machines
                            |
                        }()
                        @codesplit() {
                            |trait Plane @Html("{")
                        } {
                            @sidebyside(s) {
                                <em>sichtbar für:</em>
                            } {
                                <var>nicht sichtbar für:</var>
                            }
                        }
                        @codesplit() {
                            |  private           def a1()
                        } {
                            @sidebyside(s) {
                                @li { <code>Plane</code> und @glossary("Companion") }
                            } {
                                @li { }
                            }
                        }
                        @codesplit() {
                            |  private[Plane]    def a2()
                        } {
                            @sidebyside(s) {
                                @li { }
                            } {
                                @li { }
                            }
                        }
                        @codesplit() {
                            |  private[machines] def a3()
                        } {
                            @sidebyside(s) {
                                @li { }
                            } {
                                @li { }
                            }
                        }
                        @codesplit() {
                            |  private[airline]  def a4()
                        } {
                            @sidebyside(s) {
                                @li { }
                            } {
                                @li { }
                            }
                        }
                        @codesplit() {
                            |  private[this]     def a5()
                        } {
                            @sidebyside(s) {
                                @li { }
                            } {
                                @li { }
                            }
                        }
                        @splitend() {
                            |@Html("}")
                        }(null)
                    }
                }
            </li>
        </ul>
    </div>
}