@layout.simpledeck("Some", "im Vergleich mit 'None'") {

    <div class="indent">
        <ul>
            <li>
                einer der zwei Untertypen von @glossary("Option")
            </li>
            <li>
                es enthält einen Wert, im Gegensatz zu @glossary("None"), dass leer ist
            </li>
        </ul>
    </div>

    <hr/>

    @sidebyside(45, 45) {
        <em class="underline">
            @glossary("Some")
        </em>
        <hr class="third"/>
        @shared.some()
    } {
        <em class="underline">
            @glossary("None")
        </em>
        <hr class="third"/>
        @shared.none()
    }
}