@layout.simpledeck("update") {

    @sidebyside((44,56)) {
        <div class="indent">
            <ul>
                <li>
                    ein Ausdruck der Form <code>obj(a1, a2) = v</code>
                    wird automatisch in den Ausdruck <code>obj.update(a1, a2, v)</code> umgewandelt
                </li>
                <li>
                    anwendbar auf Instanzen (also auch Objekte)
                </li>
                <li>
                    erlaubt Verkürzung von Methodenaufrufen
                </li>
                <li>
                    ideal für Zuweisungsmethoden
                </li>
                <li>
                    verwandt mit @glossary("apply")
                </li>
            </ul>
        </div>
    } {
        @snippet() {
            @callblock() {
                |val arr = Array (1, 2, 3)
                |arr(0) = 0  // == arr.update(0, 0)
            }
        }

        <hr/>

        @snippet() {
            @sourceblock() {
                |import collection.mutable.Map
                |
                |class Phonebook(val nums: Map[String,String]) {
                |
                |  def update(name: String, n: String) {
                |    println (name + "'s number is " + n)
                |    nums(name) = n
                |  }
                |}
            }
            @callblock() {
                |val phb = new Phonebook(Map())
                |phb("Adam") = "555-604-1204"
            }
            @outblock() {
                |Adam's number is 555-604-1204
            }
        }
    }
}