.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";}
.clearfix:after{clear:both;}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.input-block-level{display:block;width:100%;min-height:28px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
.clrfix{*zoom:1;}.clrfix:before,.clrfix:after{display:table;content:"";}
.clrfix:after{clear:both;}
@font-face{font-family:"Entypo";src:url(/assets/font/entypo/regular.eot);src:url(/assets/font/entypo/regular.eot?#iefix) format('embedded-opentype'),url(/assets/font/entypo/regular.woff) format('woff'),url(/assets/font/entypo/regular.ttf) format('truetype'),url(/assets/font/entypo/regular.svg#Entypo) format('svg');font-weight:normal;font-style:normal;}[class^="icon-"]:before,[class*=" icon-"]:before{font-family:'Entypo';font-style:normal;speak:none;}
.icon-warning:before{content:"\21";color:rgba(252, 107, 53, 0.8);}
.icon-help:before{content:"\22";}
.icon-thumbs-up:before{content:"\24";color:rgba(140, 200, 75, 0.8);}
.icon-heart:before{content:"\26";}
.icon-light-bulb:before{content:"\27";}
.icon-quote:before{content:"\28";}
.icon-book:before{content:"\29";}
.icon-star:before{content:"\2a";}
.icon-arrow:before{content:"\25";}
.icon-info-circle:before{content:"\23";color:rgba(140, 200, 75, 0.8);}
.icon-help-2:before{content:"\2b";}
.icon-info:before{content:"\2c";color:rgba(140, 200, 75, 0.8);}
.icon-minus:before{content:"\2d";}
.icon-plus:before{content:"\2e";}
.icon-close:before{content:"\2f";}
.icon-attachment:before{content:"\30";}
.icon-play:before{content:"\31";}
.icon-settings:before{content:"\32";}
.icon-alert:before{content:"\33";}
.icon-time:before{content:"\34";}
.icon-search:before{content:"\35";}
.icon-embed:before{content:"\36";}
.icon-coffee:before{content:"\37";}
.icon-zoom-in:before{content:"\e026";}
.icon-zoom-in-2:before{content:"\e000";}
.icon-fast-forward:before{content:"\e001";}
.icon-fullscreen:before{content:"\e002";}
.icon-cone:before{content:"\e003";}
.icon-layout:before{content:"\e004";}
.icon-retweet:before{content:"\e005";}
.icon-list:before{content:"\e006";}
