@font-face{font-family:"humorsans";src:url("/assets/font/humorsans/humorsans.ttf");}.xkcd text{font-family:"humorsans",sans-serif;font-size:16px;color:#333;text-align:center;margin-top:75px;}
.xkcd path{fill:none;stroke-width:2.5px;stroke-linecap:round;stroke-linejoin:round;}
.xkcd path.axis{stroke:black;}
.xkcd path.bgline{stroke:white;stroke-width:6px;}
