@layout.slide("Klassen") {

<div class="slides">

    <section>
        <h1>Klasse!</h1>
        <hr/>
    </section>


    <section>
        @comp.headbody() {
            Klassen: Definition
        } {
            <div class="sidebyside">
                <div>
                    @comp.snippet() {
                        @comp.callblock() {
                            |class Plane
                        }
                        @comp.outblock() {
                            |defined class Plane
                        }
                    }
                </div>
                <div>
                    <ul class="indent20">
                        <li class="fragment">
                            <code>class</code> leitet eine Klasse ein
                        </li>
                        <li class="fragment">
                            <code>Plane</code> ist der Name der Klasse
                        </li>
                        <li class="fragment">
                            <code>{}</code> sind nicht nötig bei leerem Rumpf
                        </li>
                    </ul>
                </div>
            </div>

            <hr/><hr/>

            <div class="fragment sidebyside">
                <div>
                    <hr/>
                    @comp.snippet() {
                        @comp.callblock(reference = "plane") {
                            |new Plane()
                        }
                        @comp.outblock() {
                            |res0: Plane = Plane@@3ee32abc
                        }
                        @comp.callblock(reference = "plane") {
                            |new Plane
                        }
                        @comp.outblock() {
                            |res1: Plane = Plane@@50394ec
                        }
                    }
                </div>
                <div>
                    @comp.infobox(hr = false) {
                        <code>class</code> definiert eine Klasse, sie ist standardmäßig öffentlich.
                        <code>new</code> erstellt eine Instanz.
                    }
                </div>
            </div>
        }

    </section>


    <section>
        @comp.headbody() {
            Klassen: Konstruktor
        } {
            <div class="sidebyside p60_40">
                @comp.snippet() {
                    @comp.sourceblock() {
                        |class Plane(model: String)
                    }
                    @comp.callblock() {
                        |val p = new Plane("Boeing 737")
                    }
                }
                <div class="fragment">
                    Klassenparameter ergeben <br/> primären Konstruktor
                </div>
            </div>

            <hr/><hr/>

            <div class="fragment sidebyside p60_40">
                @comp.snippet() {
                    @comp.sourceblock() {
                        |class Plane(model: String, seats: Int)
                    }
                    @comp.callblock() {
                        |val p = new Plane("Boeing 737", 189)
                    }
                }
                <div class="fragment">
                    Syntax ist wie bei <br/> Methodendefinition
                </div>
            </div>

            <hr/><hr/>

            @comp.infobox() {
                Der primäre Konstruktor <comment>("primary constructor")</comment>
                entsteht aus den <br/> Parametern einer Klasse.
            }
        }
    </section>


    <section>
        @comp.headbody() {
            Klassen: Konstruktor mit Logik
        } {
            <hr/>
            @comp.snippet() {
                @comp.sourceblock() {
                    |class Plane(model: String, seats: Int) {
                    |   println("I just bought a " + model + " plane with " + seats + " seats")
                    |}
                }
                @comp.outblock() {
                    |defined class Plane
                }
                @comp.callblock(fragment = true) {
                    |val p = new Plane("Boeing 737", 189)
                }
                @comp.outblock(fragment = true) {
                    |I just bought a Boeing 737 plane with 189 seats
                    |res0: Plane = Plane@@3ee32abc
                }
            }

            <hr/>

            @comp.infobox() {
                Logik, die bei der Instanziierung ausgeführt werden soll <comment>(z.B. Validierung)</comment>,<br/>
                wird direkt in den Rumpf der Klasse geschrieben.
            }
        }
    </section>


    <section>
        @comp.headbody() {
            Klassen: Mehrere Konstruktoren
        } {
            @comp.snippet() {
                @comp.sourceblock() {
                    |class Plane(model: String, seats: Int) {
                    |   def this() = this("Unknown", -1)
                    |
                    |   def this(mdl: String, firstClassSeats: Int, secondClassSeats: Int) =
                    |       this(mdl, firstClassSeats + secondClassSeats)
                    |}
                }
                @comp.callblock(fragment = true) {
                    |val p = new Plane("Boeing 737", 150, 20)
                }
            }
            <hr/><hr/>

            @comp.infobox() {
                <code>def this</code> leitet einen Konstruktor ein, <code>this(..)</code> ruft ihn auf.
            }

            @comp.warnbox(hr = false) {
                Ein zusätzlicher Konstruktor <comment>("auxiliary constructor")</comment>
                muss stets als erste Anweisung einen vor ihm definierten Konstruktor aufrufen.
            }
        }
    </section>


    <section>
        @comp.headbody() {
            Klassen: Öffentliche Felder
        } {
            <div class="sidebyside p66_33">
                @comp.snippet() {
                    @comp.sourceblock() {
                        |class Plane(val model: String, var seats: Int)
                    }
                    @comp.callblock(fragment = true) {
                        |val p = new Plane("Boeing 737", 150, 20)
                    }
                    @comp.outblock(fragment = true) {
                        |p: Plane = Plane@@53a1d1a8
                    }
                    @comp.callblock(fragment = true) {
                        |println(p.model)        // get
                    }
                    @comp.outblock(fragment = true) {
                        |Boeing 737
                    }
                    @comp.callblock(fragment = true) {
                        |p.seats = p.seats - 1   // get & set
                    }
                    @comp.outblock(fragment = true) {
                        |p.seats: Int = 188
                    }
                }
                <div>
                    &nbsp;
                </div>
            </div>

            <hr/><hr/>

            @comp.infobox() {
                Klassenparameter werden mit <code>val</code> (nur lesen)<br/>
                oder <code>var</code> (lesen und schreiben) zu öffentlichen Feldern.
            }
        }
    </section>


    <section>
        @comp.headbody() {
            Klassen: Nicht-öffentliche Felder
        } {
            <div class="sidebyside p60_40">
                <div>
                    @comp.snippet(id = "plane7") {
                        @comp.sourceblock() {
                            |class Plane(model: String, val seats: Int) {
                            |             var fuel    = 0.0
                            |             val wings   = 2
                            |   private   val defects = 4
                            |   protected val toilets = 6
                            |}
                        }
                        @comp.callblock(fragment = true, clazz = "middle") {
                            |val p = new Plane("Boeing 737", 189)
                        }
                    }
                </div>
                <div>
                    &nbsp;
                </div>
            </div>

            <hr/>

            <div class="fragment sidebyside p60_40">
                @comp.callcode(reference = "plane7", clazz = "middle") {
                    |println(p.model)    // FEHLER: not a member
                }
                <div>
                    <code>model</code> ist kein Feld
                </div>
            </div>

            <hr/>

            <div class="fragment sidebyside p60_40">
                @comp.callcode(reference = "plane7", clazz = "middle") {
                    |println(p.seats)
                }
                <div>
                    <code>seats</code> ist öffentlich lesbar
                </div>
            </div>

            <hr/>

            <div class="fragment sidebyside p60_40">
                @comp.callcode(reference = "plane7", clazz = "middle") {
                    |p.fuel = p.fuel + 1.0
                }
                <div>
                    <code>fuel</code> ist les- und beschreibbar
                </div>
            </div>

            <hr/>

            <div class="fragment sidebyside p60_40">
                @comp.callcode(reference = "plane7", clazz = "end") {
                    |println(p.defects)  // FEHLER: private
                    |println(p.toilets)  // FEHLER: protected
                }
                <div>
                    <code>defects</code> & <code>toilets</code> sind nicht öffentlich
                </div>
            </div>
        }
    </section>


    <section>
        @comp.headbody() {
            Klassen: Methoden
        } {
            <div class="sidebyside">
                @comp.snippet() {
                    @comp.sourceblock(id = "plane8") {
                        |class Plane(val model: String,
                        |            val seats: Int) {
                        |
                        |   private var isLandingGearUp = false
                        |
                        |   def gearUp() {
                        |       isLandingGearUp = true
                        |       println("landing gear is up")
                        |   }
                        |   def gearDown() {
                        |       isLandingGearUp = false
                        |       println("landing gear is down")
                        |   }
                        |}
                    }
                }
                <div>
                    @comp.snippet() {
                        @comp.callblock(fragment = true, reference = "plane8") {
                            |val p = new Plane("Boeing 737", 189)
                        }
                        @comp.outblock(fragment = true) {
                            |p: Plane = Plane@@2142115
                        }
                        @comp.callblock(fragment = true) {
                            |p.gearUp()
                        }
                        @comp.outblock(fragment = true) {
                            |landing gear is up
                        }
                        @comp.callblock(fragment = true) {
                            |p.gearDown()
                        }
                        @comp.outblock(fragment = true) {
                            |landing gear is down
                        }
                    }
                </div>
            </div>
        }
    </section>


    <!--<section>
        @comp.headbody() {
            Zusammenfassung
        } {
            @summary.klassen()
        }
    </section>-->


    <!--<section>
        @comp.headbody() {
            Quiz
        } {

        }
    </section>-->

</div>
}