@layout.slide("Klassen") {

<div class="slides">

    <section>
        <h1>Klasse!</h1>
        <hr/>
    </section>


    <section>
        <h3>Klassen: Die Erste</h3>

        <div class="sidebyside">
            <div>
                @comp.snippet() {
                    |class Plane
                }
            </div>
            <div>

            </div>
        </div>

        @comp.infobox() {
            TODO
        }
    </section>


    <section>
        <h3>Zusammenfassung</h3>

        @summary.klassen()
    </section>


    <section>
        <h3>Quiz</h3>


    </section>

</div>
}