@layout.slide("Kontrollstrukturen") {

<div class="slides">

    <section>
        <h1>Kontrollstrukturen</h1>
        <hr/>
    </section>


    <section>
        @headbody() {
        Kontrollstrukturen: Bedingungen
        } {
        }
    </section>


    <section>
        @headbody() {
        Kontrollstrukturen: Schleifen
        } {
        }
    </section>


    <section>
        @headbody() {
        Kontrollstrukturen: Ausnahmen
        } {
        }
    </section>


    <!--<section>
        @summary(){

        }
    </section>-->


    <!--<section>
        @quiz(){

        }
    </section>-->

</div>
}