@layout.slide("Methoden") {

<div class="slides">


    <section>
        <h1>Methoden</h1>
        <hr/>
        <h3 class="banner">und Ihre <em>Def</em>inition</h3>
    </section>


    <section>
        @comp.headbody() {
            Methoden: <em>Def</em>inition
        } {
            <div class="sidebyside">
                <div>
                    @comp.snippet() {
                        |def hello(): String = {
                        |   return "Hello World"
                        |}
                    }
                    @comp.console() {
                        |hello: String
                    }
                </div>
                <div>
                    <div class="indent">
                        <ul>
                            <li class="fragment">
                                <code>def</code> startet die Definition
                            </li>
                            <li class="fragment">
                                <code>hello</code> ist der Name der Methode
                            </li>
                            <li class="fragment">
                                <code>()</code> beinhaltet die Liste der Parameter
                            </li>
                            <li class="fragment">
                                <code>String</code> ist der Rückgabetyp
                            </li>
                            <li class="fragment">
                                <code>{ .. }</code> enthält Implementierung
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <hr/>

            @comp.infobox() {
                <code>def</code> leitet eine Methode ein - diese hat immer einen Rückgabetyp.
            }
        }
        <details>
            <a href="http://stackoverflow.com/questions/2529184/difference-between-method-and-function-in-scala">
                Difference between method and function in Scala
            </a>
        </details>
    </section>


    <section>
        @comp.headbody() {
            Methoden: Unit
        } {
            <div class="sidebyside">
                <div>
                    @comp.snippet() {
                        |def hello() = {
                        |   println("Hello World")
                        |}
                    }
                    <div class="fragment">
                        @comp.console() {
                            |hello: Unit
                        }
                    </div>
                </div>
                <div class="fragment">
                    @comp.snippet() {
                        |def hello() {
                        |   println("Hello World")
                        |}
                    }
                    @comp.console() {
                        |hello: Unit
                    }
                </div>
            </div>

            <hr/>

            @comp.infobox() {
                Hat eine Methode keinen Rückgabewert, hat sie den Typ <code>Unit</code>.
            }
        }
    </section>


    <section>
        @comp.headbody() {
            Methoden: Optionales
        } {
            <div class="fragment sidebyside p40_60">
                @comp.snippet(id = "hello") {
                    |def hello(): String =
                    |   return "Hello World"
                }
                <div>
                    <ul class="no-bullets indent10">
                        <li>
                            <strong><em>ohne</em></strong> geschweifte Klammern<br/>
                            <comment>Wann? Nur eine Zeile</comment>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="fragment sidebyside p40_60">
                @comp.snippet() {
                    |def hello(): String =
                    |   "Hello World"
                }
                <div>
                    <ul class="no-bullets indent10">
                        <li>
                            <strong><em>ohne</em></strong> <code>return</code><br/>
                            <comment>Wann? Immer, Rückgabe ist Ergebnis des letzten Ausdrucks</comment>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="fragment sidebyside p40_60">
                @comp.snippet() {
                    |def hello: String =
                    |   "Hello World"
                }
                <div>
                    <ul class="no-bullets indent10">
                        <li>
                            <strong><em>ohne</em></strong> Parameterliste<br/>
                            <comment>Wann? Keine Parameter</comment>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="fragment sidebyside p40_60">
                @comp.snippet() {
                    |def hello =
                    |   "Hello World"
                }
                <div>
                    <ul class="no-bullets indent10">
                        <li>
                            <strong><em>ohne</em></strong> Rückgabetyp<br/>
                            <comment>Wann? Nicht rekursiv oder überladen</comment>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="fragment sidebyside p40_60">
                @comp.snippet() {
                    |def hello = "Hello World"
                }
                <div>
                    <ul class="no-bullets indent10">
                        <li>
                            <strong><em>ohne</em></strong> Zeilenumbruch
                        </li>
                    </ul>
                </div>
            </div>
        }
    </section>


    <section>
        @comp.headbody() {
            Methoden: Parameter
        } {
            <div class="sidebyside">
                <div>
                    @comp.snippet(id = "double"){
                        |def double(x: Int) = 2 * x
                    }
                </div>
                <div>
                    @comp.console() {
                        |double: (x: Int)Int
                    }
                </div>
            </div>

            <hr/>

            <div class="fragment sidebyside">
                <div>
                    @comp.snippet(id = "add") {
                        |def add(x: Float, y: Float) =
                        |   x + y
                    }
                </div>
                <div>
                    @comp.console() {
                        |add: (x: Float, y: Float)Float
                    }
                </div>
            </div>

            <hr/>

            @comp.infobox() {
                Parameter werden durch Komma getrennt und müssen einen Typ haben.
            }
        }
    </section>


    <section>
        @comp.headbody() {
            Methoden: Aufruf
        } {
            <div class="sidebyside">
                <div>
                    @comp.snippet() {
                        |42.isWhole()
                        |42.isWhole
                    }
                </div>
                <div>
                    @comp.console() {
                        |res0: Boolean = true
                        |res1: Boolean = true
                    }
                </div>
            </div>

            <hr/>

            <div class="fragment sidebyside">
                <div>
                    @comp.snippet() {
                        |42.compare(42)
                        |42 compare(42)
                        |42 compare 42
                    }
                </div>
                <div>
                    @comp.console() {
                        |res0: Int = 0
                        |res1: Int = 0
                        |res2: Int = 0
                    }
                </div>
            </div>

            <hr/>

            <div class="fragment sidebyside">
                <div>
                    @comp.snippet(reference = "add") {
                        |add (1, 2)
                    }
                </div>
                <div>
                    @comp.console() {
                        |res0: Float = 3.0
                    }
                </div>
            </div>

            <hr/>

            @comp.tipbox() {
                Runde Klammern können bei Methoden ohne oder mit nur 1 Parameter weggelassen werden.
            }
        }
    </section>


    <!--<section>
        <h3>Variablen <var><></var> Methoden</h3>

        <div>
            <div class="sidebyside">
                @comp.snippet() {
                    |val rand = util.Random.nextInt(10)
                    |
                    |println(rand)
                    |println(rand)
                }
                @comp.snippet() {
                    |def rand = util.Random.nextInt(10)
                    |
                    |println(rand)
                    |println(rand)
                }
            </div>
        </div>

        <div class="fragment">
            <div class="sidebyside">
                @comp.console() {
                    |rand: Int = 6
                    |6
                    |6
                }
                @comp.console() {
                    |rand: Int
                    |3
                    |9
                }
            </div>
        </div>

        @comp.infobox() {
            <code>val</code> wird einmal berechnet und <strong>speichert</strong> das Ergebnis, <br/>
            <code>def</code> wird bei jedem Aufruf <strong>neu berechnet</strong>.
        }
    </section>-->


    <section>
        @comp.headbody() {
            Zusammenfassung
        } {
            @summary.methoden()
        }
    </section>


    <section>
        @comp.headbody() {
            Quiz
        } {

        }
    </section>

</div>
}