@layout.slide("Objekte") {

<div class="slides">

    <section>
        <h1>Objekte</h1>
        <hr/>
    </section>


    <section>
        @headbody() {
            Objekte: Singleton
        } {
            <div class="sidebyside p60_40">
                @sourcecode(id = "plane") {
                    |// Klasse
                    |class Plane(val model: String, val seats: Int)
                }
                <div>
                    <code>static</code> existiert in Scala nicht ...
                </div>
            </div>

            <hr/>

            @codesplits((60,40)){
                @splitstart() {
                    @sourcecode(reference = "plane") {
                        |// Objekt
                        |object Plane @Html("{")
                    }
                }{
                    ... aber <var>Objekte</var>.
                }
                @codesplit() {
                    @sourcecode() {
                        |   val minSeatsNumber = 100
                    }
                } {
                    @li{<em>globaler Zustand</em>}
                }
                @codesplit() {
                    @sourcecode() {
                        |   def create(model: String, seats: Int) = {
                        |       if(seats <= minSeatsNumber)
                        |           sys.error("not enough seats!")
                        |       new Plane(model, seats)
                        |   }
                    }
                } {
                    @li{<em>Factory</em>-Methoden}
                }
                @splitend() {
                    @sourcecode() {
                        |@Html("}")
                    }
                }(null)
            }

            @infobox() {
                <code>object</code> definiert ein Singleton-Objekt:
                Es existiert <strong>genau eine Instanz</strong>,
                die beim ersten Zugriff instanziiert wird - Parameter gibt es nicht.
            }
        }
    </section>


    <section>
        @headbody() {
            Objekte: apply()
        } {
        }
    </section>


    <section>
        @headbody() {
            Objekte: Companion
        } {
        }
    </section>


    <!--<section>
        @headbody() {
            Objekte: Enumerations
        } {
        }
    </section>-->


    <section>
        @headbody() {
            Objekte: Predef
        } {
        }
    </section>


    <!--<section>
        @headbody() {
            Zusammenfassung
        } {

        }
    </section>-->


    <!--<section>
        @headbody() {
            Quiz
        } {

        }
    </section>-->

</div>
}