@layout.slide("Objekte") {

<div class="slides">

    <section>
        <h1>Objekte</h1>
        <hr/>
    </section>


    <section>
        @headbody() {
            Objekte: Singleton
        } {
        }
    </section>


    <section>
        @headbody() {
            Objekte: Application
        } {
        }
    </section>


    <section>
        @headbody() {
            Objekte: apply
        } {
        }
    </section>


    <section>
        @headbody() {
            Objekte: Companion
        } {
        }
    </section>


    <!--<section>
        @headbody() {
            Objekte: Enumerations
        } {
        }
    </section>-->


    <section>
        @headbody() {
            Objekte: Predef
        } {
        }
    </section>


    <!--<section>
        @headbody() {
            Zusammenfassung
        } {

        }
    </section>-->


    <!--<section>
        @headbody() {
            Quiz
        } {

        }
    </section>-->

</div>
}