@layout.slide("Variablen") {

<div class="slides">


    <section>
        <h1><em>Va</em>riab<em>l</em>en</h1>
        <hr/>
        <!--<h3 class="banner">Ein kleiner Schritt für einen Entwickler ...</h3>-->
    </section>


    <section>
        @comp.headbody() {
            <em>Va</em>riab<em>l</em>en
        } {
            <div class="sidebyside p40_60">
                <div>
                    @comp.snippet() {
                        @comp.callblock() {
                            |42
                        }
                        @comp.outblock() {
                            |res0: Int = 42
                        }
                    }
                </div>

                <div>
                    <ul class="indent">
                        <li class="fragment">
                            <code>res0</code> ist der Name der Variable <br/>
                            <comment>(fortlaufend nummeriert)</comment>
                        </li>
                        <li class="fragment">
                            <code>Int</code> ist Typ der Variable <br/>
                            <comment>(automatisch ermittelt)</comment>
                        </li>
                        <li class="fragment">
                            <code>42</code> ist Wert der Variable <br/>
                            <comment>(via <code>toString()</code>)</comment>
                        </li>
                    </ul>
                </div>
            </div>
        }
    </section>


    <section>
        @comp.headbody() {
            Variablen: Objekte
        } {
            <div class="sidebyside">
                @comp.snippet() {
                    @comp.callblock() {
                        |42.toString()
                    }
                    @comp.outblock() {
                        |res0: java.lang.String = 42
                    }
                }
                <div>
                    Methode <code>toString</code> von Objekt <code>42</code>
                </div>
            </div>

            <hr/>

            <div class="fragment sidebyside">
                @comp.snippet() {
                    @comp.callblock() {
                        |42.isWhole()
                    }
                    @comp.outblock() {
                        |res1: Boolean = true
                    }
                }
                <div>
                    &nbsp;
                </div>
            </div>

            <hr/>

            <div class="fragment sidebyside">
                @comp.snippet() {
                    @comp.callblock() {
                        |42.==(42)
                    }
                    @comp.outblock() {
                        |res2: Boolean = true
                    }
                }
                <div>
                    &nbsp;
                </div>
            </div>

            <hr/>

            @comp.infobox() {
                Alles ist ein Objekt und jedes Objekt kann Operatoren als Methoden haben.
            }
        }
    </section>


    <section>
        @comp.headbody() {
            Variablen: Definition
        } {
            <div class="sidebyside">
                <div>
                    @comp.snippet() {
                        @comp.callblock() {
                            |val meaningOfLife: Int = 42
                        }
                        @comp.outblock() {
                            |meaningOfLife: Int = 42
                        }
                    }
                </div>
                <div>
                    <ul class="indent">
                        <li class="fragment">
                            <code>val</code> beginnt Variable
                        </li>
                        <li class="fragment">
                            <code>meaningOfLife</code> ist der Name
                        </li>
                        <li class="fragment">
                            <code>:</code> trennt Name und Typ
                        </li>
                        <li class="fragment">
                            <code>Int</code> ist der Typ
                        </li>
                        <li class="fragment">
                            <code>=</code> weist Wert zu
                        </li>
                        <li class="fragment">
                            <code>42</code> ist der Wert
                        </li>
                    </ul>
                </div>
            </div>

            <hr/>

            @comp.infobox() {
                <code>val</code> leitet eine Variable ein, der Typ folgt <strong>hinter</strong> dem Namen.
            }
        }
    </section>


    <section>
        @comp.headbody() {
            Variablen: Immutable
        } {
            <div class="sidebyside">
                @comp.snippet() {
                    @comp.callblock() {
                        |val meaningOfLife: Int = 42
                    }
                    @comp.outblock() {
                        |meaningOfLife: Int = 42
                    }
                    @comp.callblock() {
                        |meaningOfLife = 101
                    }
                    @comp.outblock() {
                        |<console>:8: error: reassignment to val
                        |   meaningOfLife = 101
                        |                   ^
                    }
                }
                <div>
                    <code>meaningOfLife</code> wird mit <code>val</code>
                    definiert und versucht zu überschreiben.
                </div>
            </div>

            <hr/>

            @comp.infobox() {
                <code>val</code> kann nicht überschrieben werden, sie ist unveränderlich (immutable).
            }
        }
    </section>


    <section>
        @comp.headbody() {
            Variablen: Typensicherheit
        } {
            <div class="sidebyside p60_40">
                @comp.snippet() {
                    @comp.callblock() {
                        |val meaningOfLife: Int = "Java"
                    }
                    @comp.outblock() {
                        |<console>:7: error: type mismatch;
                        |found   : java.lang.String("Java")
                        |required: Int
                        |       val meaningOfLife: Int = "Java"
                        |                                ^
                    }
                }
                <div>
                    <code>meaningOfLife</code> wird als <code>Int</code> definiert
                    aber mit dem String <code>Java</code> initialisiert
                </div>
            </div>

            <hr/>

            @comp.infobox() {
                Der Compiler stellt sicher, dass Variablentyp und -wert zusammenpassen.
            }
        }
    </section>


    <section>
        @comp.headbody() {
            Variablen: Optionales
        } {
            <div class="sidebyside p45_55">
                @comp.snippet() {
                    @comp.callblock() {
                        |val meaningOfLife = 42
                    }
                    @comp.outblock() {
                        |meaningOfLife: Int = 42
                    }
                }
                <div>
                    <code>meaningOfLife</code> wird mit dem Wert <code>42</code> initialisiert,
                    der Typ <code>Int</code> wird zugewiesen
                </div>
            </div>

            <hr/><hr/>

            <div class="fragment sidebyside p45_55">
                @comp.snippet() {
                    @comp.callblock() {
                        |val pi = 3.14f
                    }
                    @comp.outblock() {
                        |pi: Float = 3.14
                    }
                }
                <div>
                    <code>pi</code> wird mit dem Wert <code>3.14f</code> initialisiert,
                    der Compiler erkennt den Typ <code>Float</code>
                </div>
            </div>

            <hr/><hr/>

            @comp.infobox() {
                Der Variablentyp kann weggelassen werden, der Compiler leitet ihn ab.
            }
        }
    </section>


    <section>
        @comp.headbody() {
            <var>Var</var>iablen: Mutable
        } {
            <div class="sidebyside p40_60">
                @comp.snippet() {
                    @comp.callblock() {
                        |var pi = 3.14f
                    }
                    @comp.outblock() {
                        |pi: Float = 3.14
                    }
                    @comp.callblock() {
                        |pi = 3.0f
                    }
                    @comp.outblock() {
                        |pi: Float = 3.0
                    }
                }
                <div>
                    &nbsp;
                </div>
            </div>

            <hr/>

            @comp.infobox() {
                <code>var</code> kann überschrieben werden, sie ist veränderlich (mutable).
            }
            @comp.warnbox() {
                <code>var</code> sollte vermieden und nur in Ausnahmefällen eingesetzt werden.
            }
        }
        <details>
            <a href="http://stackoverflow.com/questions/1791408/what-is-the-difference-between-a-var-and-val-definition-in-scala">
                What is the difference between a var and val definition in Scala?
            </a>
        </details>
    </section>


    <!--<section>
        <h3><em>Optionale</em> Semikolons</h3>

        <hr/>

        <div class="sidebyside p40_60">
            comp.snippet() {
                |val hello1 = "Hello"
                |val hello2 = "Hello";
            }
            comp.console() {
                |hello1: java.lang.String = Hello
                |hello2: java.lang.String = Hello
            }
        </div>

        <hr/><hr/>

        <div class="sidebyside p40_60 fragment">
            comp.snippet() {
                |val h1="Hi"; val h2="Hi"
            }
            comp.console() {
                |hello: java.lang.String = Hello
                |hello2: java.lang.String = Hello
            }
        </div>

        <hr/>

        <div class="fragment indent20">
            <ul class="no-bullets">
                <li><strong><em>Tipp:</em></strong> Semikolons weglassen</li>
                <li><strong><var>Ausnahme:</var></strong> mehrere Anweisungen in einer Zeile</li>
            </ul>
        </div>
    </section>-->


    <!--<section>
        @comp.headbody() {
            Zusammenfassung
        } {
            @summary.variablen()
        }
    </section>-->


    <section>
        @comp.headbody() {
            Quiz
        } {
            <div class="sidebyside">
                @comp.snippet() {
                    @comp.callblock() {
                        |val r = 42f
                    }
                    @comp.outblock(fragment = true) {
                        |r: Float = 42
                    }
                }
                @comp.snippet() {
                    @comp.callblock() {
                        |val r = 5.*5
                    }
                    @comp.outblock(fragment = true) {
                        |r: Double = 25.0
                    }
                }
            </div>

            <hr/>

            <div class="sidebyside">
                @comp.snippet() {
                    @comp.callblock() {
                        |val r = 24.==(42)
                    }
                    @comp.outblock(fragment = true) {
                        |r: Boolean = false
                    }
                }
                @comp.snippet() {
                    @comp.callblock() {
                        |val r = 42 isWhole
                    }
                    @comp.outblock(fragment = true) {
                        |r: Boolean = true
                    }
                }
            </div>

            <hr/>

            <div class="sidebyside">
                @comp.snippet() {
                    @comp.callblock() {
                        |val r = (5.)*5
                    }
                    @comp.outblock(fragment = true) {
                        |r: Double = 25.0
                    }
                }
                @comp.snippet() {
                    @comp.callblock(fragment = true) {
                        |var r = 1L
                        |r = 25
                    }
                    @comp.outblock() {
                        |r: Long = 1
                        |r: Long = 25
                    }
                }
            </div>

            <hr/>

            <div class="sidebyside">
                @comp.snippet() {
                    @comp.callblock() {
                        |val r: Double = 3.14
                    }
                    @comp.outblock(fragment = true) {
                        |r: Double = 3.14
                    }
                }
                @comp.snippet() {
                    @comp.callblock() {
                        |val r = (5).*(5)
                    }
                    @comp.outblock(fragment = true) {
                        |r: Int = 25
                    }
                }
            </div>
        }
    </section>

</div>
}