@()

@layout.public("Zugang verweigert", crawl = false, hideNav = true, subtitle = Html("Nun, Sie dürfen hier nicht sein.")) {

    <div class="box header-box alert-box error-box">

        <section>
            <div>
                Offenbar haben Sie versucht einen Bereich der Webseite zu öffnen für den Sie keine Rechnte besitzen.
            </div>

            <div>
                Sollte dies ein Irrtum sein, bitte wenden Sie sich an den
                <a href="mailto:stephan@@learnscala.de">Administrator</a>.
            </div>
        </section>

        <footer></footer>

    </div>

}