@(err: Option[Throwable] = None)

@layout.public("Interner Fehler", crawl = false, hideNav = true, subtitle = Html("Oh. Ehm. Das tut mir leid.")) {
    <div class="box header-box alert-box error-box">

        <section>
            <div>
                Ein unerwarteter Fehler ist aufgetreten. Tut mir leid, dass Sie das sehen mussten.
            </div>

            <div>
                Ist dies nicht das erste Mal, dass das passiert wenden Sie sich doch bitte an den
                <a href="@routes.Home.contact">Administrator</a>.
            </div>
        </section>

        <footer></footer>

    </div>
}