<div class="box header-box alert-box error-box">

    <section>
        <div>
            Wenn Sie die Adresse manuell eingegeben haben, vergewissern Sie sich ob dies korrekt erfolgt ist.
        </div>

        <div>
            Vielleicht wurde die Seite ja auch verschoben oder gelöscht, versuchen Sie es doch bitte über die
            Seitennavigation und ändern sie ggf. Ihre Bookmarks.
        </div>

        <div>
            Sollte dies weiterhin problematisch sein, wenden Sie sich doch bitte an den
            <a href="mailto:stephan@@learnscala.de">Administrator</a>.
        </div>
    </section>

    <footer></footer>

</div>