@()(implicit req: RequestHeader)

@onLoad = {
    // TODO
    var agent = navigator.userAgent;
    if(agent.indexOf("MSIE") != -1)
        $("div.ie").show();
    else
        $("div.other").show();
}

@layout.public("Ungültiger Browser", crawl = false, hideNav = true, subtitle = Html("Ungültiger Browser")) {
    <div class="box header-box alert-box">
        <section>
            <div>
                Diese Webseite wurde für <strong>moderne Browser</strong> entwickelt<br/>
                - und es scheint, nunja, also ob Sie keinen verwenden.
            </div>

            @*<!-- REPLY FOR NON-IE -->*@
            <div class="other hide">
                Entschuldigen Sie die Direktheit.<br/>
                Bitte aktualisieren Sie Ihren Browser, es lohnt sich.
            </div>

            @*<!-- REPLY FOR IE -->*@
            <div class="ie hide">
                Offenbar verwenden Sie eine alte Version des Internet Explorers -
                mindestens 9.0 wird hier vorausgesetzt.
                <br/><br/>
                Es ist sehr empfohlen diesen zu aktualisieren, wenn Sie die nötigen Rechte haben.
                Alternativ ist <a href="https://www.google.com/chrome">Chrome</a> eine sehr gute Wahl.
            </div>
        </section>
        <footer></footer>
    </div>
}