@autocenter {
    @sourcecode(id = "qenum", fragment = false) {
        |object Categories extends Enumeration {
        |  val Easy = Value("einfach")
        |  val Average = Value("mittel")
        |  val Difficult = Value("schwer")
        |}
    }
}

@spacer2()

@sidebyside() {
    @sidebyside((5, 90)) {
        <span>(1)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(reference = "qenum", fragment = false) {
                |Categories.Easy.id
            }
            @outblock() {
                |res0: Int = 0
            }
        }
    }
} {
    @sidebyside((5, 90)) {
        <span>(2)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(reference = "qenum", fragment = false) {
                |Categories.Difficult.toString
            }
            @outblock() {
                |res0: String = schwer
            }
        }
    }
}

@spacer2()

@sidebyside() {
    @sidebyside((5, 90)) {
        <span>(3)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(reference = "qenum", fragment = false) {
                |Categories.Easy == Categories.Difficult
            }
            @outblock() {
                |res0: Boolean = false
            }
        }
    }
} {
    @sidebyside((5, 90)) {
        <span>(4)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(reference = "qenum", fragment = false) {
                |Categories(0)
            }
            @outblock() {
                |res0: Categories.Value = einfach
            }
        }
    }
}