@sidebyside() {
    @sidebyside((5, 90)) {
        <span>(1)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |1 * 1L
            }
            @outblock() {
                |res0: Long = 1
            }
        }
    }
} {
    @sidebyside((5, 90)) {
        <span>(2)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |{
                |   { 1 / 2.0f }
                |}
            }
            @outblock() {
                |res0: Float = 0.5
            }
        }
    }
}

@spacer2()

@sidebyside() {
    @sidebyside((5, 90)) {
        <span>(3)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |val r = 24.==(42)
            }
            @outblock() {
                |r: Boolean = false
            }
        }
    }
} {
    @sidebyside((5, 90)) {
        <span>(4)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |val r = 42 isWhole
            }
            @outblock() {
                |r: Boolean = true
            }
        }
    }
}

@spacer2()

@sidebyside() {
    @sidebyside((5, 90)) {
        <span>(5)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |val r = (5.)*5
            }
            @outblock() {
                |r: Double = 25.0
            }
        }
    }
} {
    @sidebyside((5, 90)) {
        <span>(6)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock() {
                |var r = 1L
                |r = 25
            }
            @outblock(fragment = false) {
                |r: Long = 1
                |r: Long = 25
            }
        }
    }
}