@autocenter {
    @sourcecode(id = "list123", clazz = "slim", fragment = false) {
        |val l = List(1, 2, 3)
    }
}

@spacer2()

@sidebyside() {
    @sidebyside((5, 90)) {
        <span>(1)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(reference = "list123", fragment = false) {
                |val r = l map { (i: Int) => i * 2 }
            }
            @outblock() {
                |r: List[Int] = List(2, 4, 6)
            }
        }
    }
} {
    @sidebyside((5, 90)) {
        <span>(2)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(reference = "list123", fragment = false) {
                |val r = l filter { (i: Int) => i/2 }
            }
            @outblock(error = true) {
                |error: type mismatch;
                |found: Int; required: Boolean
            }
        }
    }
}

@spacer2()

@sidebyside() {
    @sidebyside((5, 90)) {
        <span>(3)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(reference = "list123", fragment = false) {
                |val r = l map { i => i / 2.0 }
            }
            @outblock() {
                |r: List[Double] = List(0.5, 1.0, 1.5)
            }
        }
    }
} {
    @sidebyside((5, 90)) {
        <span>(4)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(reference = "list123", fragment = false) {
                |l foreach { i => }
            }
            @outblock() {
                |(nothing happens)
            }
        }
    }
}

@spacer2()

@sidebyside() {
    @sidebyside((5, 90)) {
        <span>(5)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(reference = "list123", fragment = false) {
                |l foreach { i => println (i) }
            }
            @outblock() {
                |1 2 3
            }
        }
    }
} {
    @sidebyside((5, 90)) {
        <span>(6)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(reference = "list123", fragment = false) {
                |val r = l map { (i: Long) => i - 1) }
            }
            @outblock(error = true) {
                |error:    type mismatch;
                |found:    Long => Long;
                |required: Int => ?
            }
        }
    }
}