<!-- DONE -->

@sidebyside() {
    @sidebyside((5, 90)) {
        <span>(1)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |val r = (x: Int) => x - 1
            }
            @outblock() {
                |r: (Int) => Int = &lt;function1&gt;
            }
        }
    }
} {
    @sidebyside((5, 90)) {
        <span>(2)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |val r = (x: Int) = x - 1
            }
            @outblock(error = true) {
                |error: ';' expected but '=' found
            }
        }
    }
}

@spacer2()

@sidebyside() {
    @sidebyside((5, 90)) {
        <span>(3)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |val r = (x: Int, y: Int) => x - y
            }
            @outblock() {
                |r: (Int, Int) => Int = &lt;function2&gt;
            }
        }
    }
} {
    @sidebyside((5, 90)) {
        <span>(4)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |val r = (x: Long) => x * 2.0
            }
            @outblock() {
                |r: (Long) => Double = &lt;function1&gt;
            }
        }
    }
}

@spacer2()

@sidebyside() {
    @sidebyside((5, 90)) {
        <span>(5)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |val r = ((x: Long) => x * 2).apply(5)
            }
            @outblock() {
                |r: Long = 10
            }
        }
    }
} {
    @sidebyside((5, 90)) {
        <span>(6)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |val r = ((x: Int) => x % 2)(5)
            }
            @outblock() {
                |r: Int = 1
            }
        }
    }
}

@spacer2()

@sidebyside() {
    @sidebyside((5, 90)) {
        <span>(7)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |val r = (() => println("Hello"))()
            }
            @outblock() {
                |Hello
            }
        }
    }
} {
    @sidebyside((5, 90)) {
        <span>(8)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |val r = () => println("Hello")
            }
            @outblock() {
                |r = () => Unit = &lt;function0&gt;
            }
        }
    }
}