<!-- DONE -->

<div class="sidebyside">

@sidebyside() {
    @sidebyside((5, 90)) {
        <span>(1)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |val r = null
            }
            @outblock() {
                |r: Null = null
            }
        }
    }
} {
    @sidebyside((5, 90)) {
        <span>(2)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |val r: Int = null
            }
            @outblock(error = true) {
                |error: type mismatch;
                |found: Null; required: Int
            }
        }
    }
}

@spacer()

@sidebyside() {
    @sidebyside((5, 90)) {
        <span>(3)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |var r: AnyVal = true
                |r = 1
            }
            @outblock() {
                |r: AnyVal = true
                |r: AnyVal = 1
            }
        }
    }
} {
    @sidebyside((5, 90)) {
        <span>(4)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |val r = if (1 == 1) false
            }
            @outblock() {
                |r: AnyVal = false
            }
        }
    }
}

@spacer()

@sidebyside() {
    @sidebyside((5, 90)) {
        <span>(5)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |var r: AnyRef = 1
                |r = true
            }
            @outblock(error = true) {
                |error: type mismatch;
                |found: Int(1) required: AnyRef
            }
        }
    }
} {
    @sidebyside((5, 90)) {
        <span>(6)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |def r =
                |   throw new RuntimeException
            }
            @outblock() {
                |r: ()Nothing
            }
        }
    }
}

@spacer()

@sidebyside() {
    @sidebyside((5, 90)) {
        <span>(7)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |val r = new Nothing
            }
            @outblock(error = true) {
                |error: trait Nothing is abstract
            }
        }
    }
} {
    @sidebyside((5, 90)) {
        <span>(8)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |val r: BigInt = null
            }
            @outblock() {
                |r: BigInt = null
            }
        }
    }
}