@sidebyside() {
    @sidebyside((5, 90)) {
        <span>(1)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |var r: AnyVal = true
                |r = 1
            }
            @outblock() {
                |r: AnyVal = true
                |r: AnyVal = 1
            }
        }
    }
} {
    @sidebyside((5, 90)) {
        <span>(2)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |val r = if (1 == 1) false
            }
            @outblock() {
                |r: AnyVal = false
            }
        }
    }
}

@spacer2()

@sidebyside() {
    @sidebyside((5, 90)) {
        <span>(3)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |var r: AnyRef = 1
                |r = true
            }
            @outblock(error = true) {
                |error   : type mismatch;
                |found   : Int(1)
                |required: AnyRef
            }
        }
    }
} {
    @sidebyside((5, 90)) {
        <span>(4)</span>
    } {
        @snippet(clazz = "slim") {
            @sourceblock(fragment = false) {
                |def positiveOrNegative(x: Int) =
                |  if (x == 0) 0
                |  else if (x > 0) 'p'
                |  else 'n'
            }
            @outblock() {
                |positiveOrNegative: (x: Int)Int
            }
        }
    }
}

@spacer2()

@sidebyside() {
    @sidebyside((5, 90)) {
        <span>(5)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |new Any
            }
            @outblock(error = true) {
                |error: class Any is abstract;
                |       cannot be instantiated
            }
        }
    }
} {
    @sidebyside((5, 90)) {
        <span>(6)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |var r: Any = "String"
                |r = 1
            }
            @outblock() {
                |r: Any = String
                |r: Any = 1
            }
        }
    }
}