<div class="sidebyside">
    <div>
        <div class="sidebyside p10_90">
            <span>(1)</span>
            @snippet() {
                @callblock(fragment = false) {
                    |val r = null
                }
                @outblock() {
                    |r: Null = null
                }
            }
        </div>
    </div>
    <div>
        <div class="sidebyside p10_90">
            <span>(2)</span>
            @snippet() {
                @callblock(fragment = false) {
                    |val r: Int = null
                }
                @outblock(error = true) {
                    |error: type mismatch;
                    |found: Null; required: Int
                }
            }
        </div>
    </div>
</div>

<hr/>

<div class="sidebyside">
    <div>
        <div class="sidebyside p10_90">
            <span>(3)</span>
            @snippet() {
                @callblock(fragment = false) {
                    |var r: AnyVal = true
                    |r = 1
                }
                @outblock() {
                    |r: AnyVal = true
                    |r: AnyVal = 1
                }
            }
        </div>
    </div>
    <div>
        <div class="sidebyside p10_90">
            <span>(4)</span>
            @snippet() {
                @callblock(fragment = false) {
                    |val r = if(true) false else ()
                }
                @outblock() {
                    |r: AnyVal = false
                }
            }
        </div>
    </div>
</div>

<hr/>

<div class="sidebyside">
    <div>
        <div class="sidebyside p10_90">
            <span>(5)</span>
            @snippet() {
                @callblock(fragment = false) {
                    |var r: AnyRef = 1
                    |r = true
                }
                @outblock(error = true) {
                    |error: type mismatch;
                    |found: Boolean; required: AnyRef
                }
            }
        </div>
    </div>
    <div>
        <div class="sidebyside p10_90">
            <span>(6)</span>
            @snippet() {
                @callblock(fragment = false) {
                    |def r =
                    |   throw new RuntimeException
                }
                @outblock() {
                    |r: ()Nothing
                }
            }
        </div>
    </div>
</div>

<hr/>

<div class="sidebyside">
    <div>
        <div class="sidebyside p10_90">
            <span>(7)</span>
            @snippet() {
                @callblock(fragment = false) {
                    |val r = new Nothing
                }
                @outblock(error = true) {
                    |error: trait Nothing is abstract
                }
            }
        </div>
    </div>
    <div>
        <div class="sidebyside p10_90">
            <span>(8)</span>
            @snippet() {
                @callblock(fragment = false) {
                    |val r: BigInt = null
                }
                @outblock() {
                    |r: BigInt = null
                }
            }
        </div>
    </div>
</div>