@sidebyside() {
    @sidebyside((5, 90)) {
        <span>(1)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |List("1") ::: List("2")
            }
            @outblock() {
                |res1: List[String] = List(1, 2)
            }
        }
    }
} {
    @sidebyside((5, 90)) {
        <span>(2)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |List(1,2,3).head + List(3,2,1).head
            }
            @outblock() {
                |res0: Int = 4
            }
        }
    }
}

@spacer2()

@sidebyside() {
    @sidebyside((5, 90)) {
        <span>(3)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |1 ::: List(2, 3)
            }
            @outblock(error = true) {
                |error   : type mismatch;
                |found   : Int
                |required: List[?]
            }
        }
    }
} {
    @sidebyside((5, 90)) {
        <span>(4)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |"Hi" :: List("World")
            }
            @outblock() {
                |res0: List[String] = List(Hi, World)
            }
        }
    }
}

@spacer2()

@sidebyside() {
    @sidebyside((5, 90)) {
        <span>(5)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |Nil.size
            }
            @outblock() {
                |res0: Int = 0
            }
        }
    }
} {
    @sidebyside((5, 90)) {
        <span>(6)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |Nil.::(4).::(3).::(2).::(1)
            }
            @outblock() {
                |res0: List[Int] = List(1, 2, 3, 4)
            }
        }
    }
}

@spacer2()

@autocenter {
    @sidebyside((5, 90)) {
        <span>(7)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |List("1" :: "2" :: Nil)
            }
            @outblock() {
                |res0: List[List[String]] = List(List(1, 2))
            }
        }
    }
}