@sidebyside() {
    @sidebyside((5, 90)) {
        <span>(1)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |def f1 = 42
                |println(f1)
            }
            @outblock() {
                |42
            }
        }
    }
} {
    @sidebyside((5, 90)) {
        <span>(2)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |def f2 {42}
                |println(f2)
            }
            @outblock() {
                |()
            }
        }
    }
}

@spacer2()

@sidebyside() {
    @sidebyside((5, 90)) {
        <span>(3)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |def f3 = {42}
                |println(f3)
            }
            @outblock() {
                |42
            }
        }
    }
} {
    @sidebyside((5, 90)) {
        <span>(4)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |def f4 {42}
                |println(f4())
            }
            @outblock(error = true) {
                |error: Unit does not take parameters
            }
        }
    }
}

@spacer2()

@sidebyside() {
    @sidebyside((5, 90)) {
        <span>(5)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |def f5 = 42
                |println(f5())
            }
            @outblock(error = true) {
                |error: Int does not take parameters
            }
        }
    }
} {
    @sidebyside((5, 90)) {
        <span>(6)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |def f6() {42}
                |println(f6)
            }
            @outblock() {
                |()
            }
        }
    }
}