@sidebyside() {
    @sidebyside((5, 90)) {
        <span>(1)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |def f = 42
                |println(f)
            }
            @outblock() {
                |42
            }
        }
    }
} {
    @sidebyside((5, 90)) {
        <span>(2)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |def f = 42
                |println(f())
            }
            @outblock(error = true) {
                |Int does not take parameters
            }
        }
    }
}

@spacer()

@sidebyside() {
    @sidebyside((5, 90)) {
        <span>(3)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |def f = {42}
                |println(f)
            }
            @outblock() {
                |42
            }
        }
    }
} {
    @sidebyside((5, 90)) {
        <span>(4)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |def f {42}
                |println(f())
            }
            @outblock(error = true) {
                |Unit does not take parameters
            }
        }
    }
}

@spacer()

@sidebyside() {
    @sidebyside((5, 90)) {
        <span>(5)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |def f(i: Int = 42) = {i}
                |println(f)
            }
            @outblock(error = true) {
                |missing arguments for method f
            }
        }
    }
} {
    @sidebyside((5, 90)) {
        <span>(6)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |def f(i) = i
                |println(f(42))
            }
            @outblock(error = true) {
                |':' expected but ')' found
            }
        }
    }
}

@spacer()

@sidebyside() {
    @sidebyside((5, 90)) {
        <span>(7)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |def f(i: Int = 42) = i
                |println(f())
            }
            @outblock() {
                |42
            }
        }
    }
} {
    @sidebyside((5, 90)) {
        <span>(8)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |def f(i: Int, j: Int = 42) = i + j
                |println(f(21, j=21))
            }
            @outblock() {
                |42
            }
        }
    }
}