@sidebyside() {
    @sidebyside((5, 90)) {
        <span>(1)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |def f = 42
                |println (f)
            }
            @outblock() {
                |42
            }
        }
    }
} {
    @sidebyside((5, 90)) {
        <span>(2)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |def f = 42
                |println (f())
            }
            @outblock(error = true) {
                |Int does not take parameters
            }
        }
    }
}

@spacer2()

@sidebyside() {
    @sidebyside((5, 90)) {
        <span>(3)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |def f = {42}
                |println (f)
            }
            @outblock() {
                |42
            }
        }
    }
} {
    @sidebyside((5, 90)) {
        <span>(4)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |def f {42}
                |println (f())
            }
            @outblock(error = true) {
                |Unit does not take parameters
            }
        }
    }
}

@spacer2()

@sidebyside() {
    @sidebyside((5, 90)) {
        <span>(5)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |def f {42}
                |println (f)
            }
            @outblock() {
                |()
            }
        }
    }
} {
    @sidebyside((5, 90)) {
        <span>(6)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |def f (i: Int = 41) = {i + 1}
                |println (f)
            }
            @outblock(error = true) {
                |missing arguments for method f
            }
        }
    }
}