<!-- DONE -->

@sidebyside() {
    @sidebyside((5, 90)) {
        <span>(1)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |val `String` = "String"
            }
            @outblock() {
                |String: String = String
            }
        }
    }
} {
    @sidebyside((5, 90)) {
        <span>(2)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |val r = 5.*5
            }
            @outblock() {
                |r: Double = 25.0
            }
        }
    }
}

@spacer()

@sidebyside() {
    @sidebyside((5, 90)) {
        <span>(3)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |val r = "ABC" charAt 0
            }
            @outblock() {
                |r: Char = A
            }
        }
    }
} {
    @sidebyside((5, 90)) {
        <span>(4)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |val r = 42 isWhole
            }
            @outblock() {
                |r: Boolean = true
            }
        }
    }
}

@spacer()

@sidebyside() {
    @sidebyside((5, 90)) {
        <span>(5)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |val r = (5.)*5
            }
            @outblock() {
                |r: Double = 25.0
            }
        }
    }
} {
    @sidebyside((5, 90)) {
        <span>(6)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |val r = (1 toString) toLong
            }
            @outblock() {
                |r: Long = 1
            }
        }
    }
}

@spacer()

@sidebyside() {
    @sidebyside((5, 90)) {
        <span>(7)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |val r = !true.unary_!
            }
            @outblock() {
                |r: Boolean = true
            }
        }
    }
} {
    @sidebyside((5, 90)) {
        <span>(8)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |val r = (5).*(5)
            }
            @outblock() {
                |r: Int = 25
            }
        }
    }
}

@*
@spacer()

@sidebyside() {
    @sidebyside((5, 90)) {
        <span>(9)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |
            }
            @outblock() {
                |
            }
        }
    }
} {
    @sidebyside((5, 90)) {
        <span>(10)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |
            }
            @outblock() {
                |
            }
        }
    }
}
*@