@sidebyside() {
    @sidebyside((5, 90)) {
        <span>(1)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |Some("a").get
            }
            @outblock() {
                |res0: String = a
            }
        }
    }
} {
    @sidebyside((5, 90)) {
        <span>(2)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |None.getOrElse(1)
            }
            @outblock() {
                |res0: Int = 1
            }
        }
    }
}

@spacer2()

@sidebyside() {
    @sidebyside((5, 90)) {
        <span>(3)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |None.get
            }
            @outblock(error = true) {
                |NoSuchElementException: None.get
            }
        }
    }
} {
    @sidebyside((5, 90)) {
        <span>(4)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |None(1)
            }
            @outblock(error = true) {
                |error: None.type
                |       does not take parameters
            }
        }
    }
}

@spacer2()

@sidebyside() {
    @sidebyside((5, 90)) {
        <span>(5)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |None.getOrElse(Some("a")).get
            }
            @outblock() {
                |res0: String = a
            }
        }
    }
} {
    @sidebyside((5, 90)) {
        <span>(6)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |Some(1).get + None.getOrElse(1)
            }
            @outblock() {
                |res0: Int = 2
            }
        }
    }
}