<!-- DONE -->

@sidebyside() {
    @sidebyside((5, 90)) {
        <span>(1)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |val int r = 42
            }
            @outblock(error = true) {
                |illegal start of simple pattern
            }
        }
    }
} {
    @sidebyside((5, 90)) {
        <span>(2)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |val r = {
                |   1 + { 1 + 1 }
                |}
            }
            @outblock() {
                |r: Int = 3
            }
        }
    }
}

@spacer()

@sidebyside() {
    @sidebyside((5, 90)) {
        <span>(3)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |val r = 24 == 42
            }
            @outblock() {
                |r: Boolean = false
            }
        }
    }
} {
    @sidebyside((5, 90)) {
        <span>(4)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |val r = 'S'
            }
            @outblock() {
                |r: Char = S
            }
        }
    }
}

@spacer()

@sidebyside() {
    @sidebyside((5, 90)) {
        <span>(5)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |val r = {
                |   1
                |   2; 3
                |}
            }
            @outblock() {
                |r: Int = 3
            }
        }
    }
} {
    @sidebyside((5, 90)) {
        <span>(6)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock() {
                |var r = 1L
                |r = 25
            }
            @outblock(fragment = false) {
                |r: Long = 1
                |r: Long = 25
            }
        }
    }
}

@spacer()

@sidebyside() {
    @sidebyside((5, 90)) {
        <span>(7)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |val r: String = 3.14
            }
            @outblock(error = true) {
                |type mismatch
            }
        }
    }
} {
    @sidebyside((5, 90)) {
        <span>(8)</span>
    } {
        @snippet(clazz = "slim") {
            @callblock(fragment = false) {
                |val r = 5; r = 10
            }
            @outblock(error = true) {
                |reassignment to val
            }
        }
    }
}