@import comp._

@layout.internal("Inhalt") {
    <section id="main" class="slidedecks">

        <div class="reveal">
            <div class="slides">
                <table border="1">
                    <colgroup>
                        <col width="5%">
                        <col width="19%">
                        <col width="19%">
                        <col width="19%">
                        <col width="19%">
                        <col width="19%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Allgemein</th>
                            <th>Objekte</th>
                            <!--<th>Typen</th>-->
                            <th>Funktionen</th>
                            <th>Erweitert</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="divider">
                            <td colspan="10">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="level">
                                I
                            </td>
                            <td>
                                @topics {
                                    @topic("Einführung", "basic", "introduction", status = "green")
                                    @topic("Geschichte", "basic", "history", status = "green")
                                    @topic("Erste Schritte", "basic")
                                    @topic("Kontrollstrukturen", "basic")
                                    @topic("Methoden", "basic")
                                    @topic("Ausnahmen", "basic")
                                }
                            </td>
                            <td>
                                @topics {
                                    @*@topic("Klassen")*@
                                    @*@topic("Vererbung I")*@
                                    @*@topic("Objekte")*@
                                    @*@topic("Zugriffsrechte")*@
                                    @*@topic("Pakete")*@
                                }
                            </td>
                            <!--<td>
                                @topics {

                                }
                            </td>-->
                            <td>
                                @topics {

                                }
                            </td>
                            <td>
                                @topics {
                                    @topic("Werkzeuge I", "ext", "tools1", status = "green")
                                    @topic("Werkzeuge II", "ext", "tools2", status = "green")
                                }
                            </td>
                        </tr>
                        <tr class="divider">
                            <td colspan="10">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="level">
                                II
                            </td>
                            <td>
                                @topics {
                                    @*@topic("Operatoren", "basic")*@
                                    @*@topic("Annotationen", "basic")*@
                                    @*@topic("Reflektion", "basic")*@
                                    @*@topic("Reguläre Ausdrücke", "basic")*@
                                }
                            </td>
                            <td>
                                @topics {
                                    @topic("Hierarchie", "oop", "typehierarchy", status = "green")
                                    @*@topic("Traits")*@
                                    @*@topic("Case-Klassen")*@
                                    @*@topic("Vererbung II")*@
                                }
                            </td>
                            <!--<td>
                                @topics {
                                    @*@topic("Option")*@
                                    @*@topic("Tuple")*@
                                    @*@topic("Kollektionen")*@
                                    @*@topic("Typ-Parameter I")*@
                                }
                            </td>-->
                            <td>
                                @topics {
                                    @*@topic("Anonyme Funktionen")*@
                                }
                            </td>
                            <td>
                                @topics {
                                    @topic("XML", "ext", "xml", status = "yellow")
                                    @*@topic("JSON")*@
                                    @*@topic("Swing")*@
                                    @*@topic("Testen")*@
                                }
                            </td>
                        </tr>
                        <tr class="divider">
                            <td colspan="10">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="level">
                                III
                            </td>
                            <td>
                                @topics {
                                    @*@topic("Parsen")*@
                                    @*@topic("Extraktoren")*@
                                    @*@topic("Dynamic")*@
                                    @*@topic("Lazy")*@
                                }
                            </td>
                            <td>
                                @topics {

                                }
                            </td>
                            <!--<td>
                                @topics {
                                    @*@topic("Streams")*@
                                    @*@topic("Typ-Parameter II")*@
                                    @*@topic("Parallele Kollektionen")*@
                                }
                            </td>-->
                            <td>
                                @topics {
                                    @*@topic("Call-by-Name", "fp", "call_by_name")*@
                                    @*@topic("Partial Functions", "fp", "partial")*@
                                    @*@topic("Currying", "fp", "currying")*@
                                }
                            </td>
                            <td>
                                @topics {
                                    @*@topic("Aktoren")*@
                                    @*@topic("Utilities")*@
                                    @*@topic("Datenbanken")*@
                                    @*@topic("Web Frameworks")*@
                                }
                            </td>
                        </tr>
                        <tr class="divider">
                            <td colspan="10">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="level">
                                IV
                            </td>
                            <td>
                                @topics {
                                    @*@topic("Makros")*@
                                    @*@topic("Delimited Continuations")*@
                                }
                            </td>
                            <td>
                                @topics {
                                    @*@topic("Early Definitions")*@
                                }
                            </td>
                            <!--<td>
                                @topics {
                                    @*@topic("Self-Types")*@
                                    @*@topic("Abstrakte Typen")*@
                                    @*@topic("Strukturelle Typen")*@
                                }
                            </td>-->
                            <td>
                                @topics {

                                }
                            </td>
                            <td>
                                @topics {
                                    @*@topic("Scalaz")*@
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </section>
}


@topics(content: Html) = {
  <ul>
    @content
  </ul>
}

@topic(label: String, chpt: String = "", file: String = "", status: String = "red") = {
  <li class="topic @status">
    @if(status == "red") {
      <span>@label</span>
    } else {
      <a href='/app/slides/@{if(chpt != "") chpt + "/" else ""}@file/#/'>
        <span class="state"></span>
        @label
      </a>
    }
  </li>
}