@import comp._
@import Content._

@layout.internal("Inhalt") {

    <section id="dashboard" class="slidedecks">

        <div class="reveal">
            <div class="slides">

                <table border="1">
                    <colgroup>
                        <col width="5%">
                        <col width="19%">
                        <col width="19%">
                        <col width="19%">
                        <col width="19%">
                        <col width="19%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th></th>
                            <th><h4>Allgemein</h4></th>
                            <th><h4>Objekte</h4></th>
                            <th><h4>Funktional</h4></th>
                            <th><h4>Erweitert</h4></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="level">
                                <h4>I</h4>
                            </td>
                            <td>
                                @topics {
                                    @topic2(einfuehrung)
                                    @topic2(geschichte)
                                    @topic2(ersteSchritte)
                                    @topic2(methoden)
                                    @topic2(kontrollstrukturen)
                                }
                            </td>
                            <td>
                                @topics {
                                    @topic2(klassen1)
                                    @topic2(vererbung1)
                                    @topic2(objekte)
                                    @topic2(pakete)
                                }
                            </td>
                            <td>
                                @topics {
                                    @topic2(funcproc)
                                    @topic2(funktionen1)
                                    @topic2(funktionen2)
                                }
                            </td>
                            <td>
                                @topics {
                                    @topic2(werkzeuge1)
                                    @topic2(werkzeuge2)
                                    @topic2(uebungen)
                                }
                            </td>
                        </tr>
                        <tr class="divider">
                            <td colspan="10">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="level">
                                <h4>II</h4>
                            </td>
                            <td>
                                @topics {
                                    @topic2(operatoren)
                                    @topic2(recursion)
                                    @topic2(implicit1)

                                    @*@topic2(annotationen)*@
                                    @*@topic2(regexp)*@
                                }
                            </td>
                            <td>
                                @topics {
                                    @topic2(typen1)
                                    @topic2(traits)
                                    @topic2(klassen2)
                                    @topic2(generics1)
                                }
                            </td>
                            <td>
                                @topics {
                                    @topic2(datatypes1)
                                    @topic2(datatypes2)
                                    @topic2(listen)
                                    @topic2(funktionen3)
                                    @topic2(forexpr)
                                }
                            </td>
                            <td>
                                @topics {
                                    @topic2(xml)
                                    @topic2(interop)

                                    @*@topic2(swing)*@
                                    @*@topic2(jsond)*@
                                }
                            </td>
                        </tr>
                        <tr class="divider">
                            <td colspan="10">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="level">
                                <h4>III</h4>
                            </td>
                            <td>
                                @topics {
                                    @*@topic2(implicit2)*@
                                    @*@topic2(reflection)*@
                                    @*@topic2(macros)*@
                                    @*@topic2(dynamic)*@
                                    @*@topic2(extraktoren)*@

                                    @*@topic2(parser)*@
                                    @*@topic("Lazy")*@
                                    @*@topic("Delimited Continuations")*@
                                }
                            </td>
                            <td>
                                @topics {
                                    @*@topic2(generics2)*@
                                    @*@topic2(typen2)*@

                                    @*@topic2(vererbung2)*@
                                    @*@topic2(typeclass)*@

                                    @*@topic("DSL")*@
                                }
                            </td>
                            <td>
                                @topics {
                                    @topic2(funktionen4)
                                    @*@topic2(datatypes3)*@
                                    @topic2(kontrollabstraktion)
                                }
                            </td>
                            <td>
                                @topics {
                                    @topic2(tests)
                                    @topic2(aktoren)
                                    @topic2(dbase)
                                    @topic2(web)

                                    @*@topic2(scalaz)*@
                                    @*@topic2(utilities)*@
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                @topics {
                                    @topic2(ausblick)
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- reset button -->
                <a class="btn btn-icon btn-danger" id="btn-resetprogress" href="javascript:window.Progress.reset()">/</a>

                <!-- timer -->
                <div id="timer" data-percent="100">
                    <div></div>
                </div>
            </div>
        </div>
    </section>

    <!-- Countdown modal -->
    <div id="countdownModal" class="modal hide">
        <div class="modal-body">
            @countdown(15)
        </div>
    </div>

    <script type="text/javascript">
        require(['app/util/progress', 'app/util/overlay', "app/util/timer", "app/util/countdown"], function(Progress, Overlay, Timer, Countdown) {
            new Countdown();
            new Overlay();
            new Timer();
            $("#navi").addClass("subtle");
        });
    </script>
}

@topics(content: Html) = {
  <div>
      <ul>
        @content
      </ul>
  </div>
}

@topic2(s: Slide) = {
  @topic(s.label, s.id, s.chpt, s.deps, s.status)
}

@topic(label: String, id: String = "", chpt: String = "", deps: Seq[Slide] = Seq(), status: String = "todo") = {
  <li class="topic @status">
      @defining("/app/slides/" + (if(chpt != "") chpt + "/" else "") + id + "/#/") { url =>
        <input type="checkbox" data-key="@url"/>
        <a href="@url" data-id="@id" data-label="@label" data-deps='@{deps.map(_.id).mkString(",")}' class="@status">
          @label
        </a>
      }
  </li>
}