@import comp._
@import Content._

@layout.internal("Inhalt") {

    <section id="dashboard" class="slidedecks">

        <div class="reveal">
            <div class="slides">
                <table border="1">
                    <colgroup>
                        <col width="5%">
                        <col width="19%">
                        <col width="19%">
                        <col width="19%">
                        <col width="19%">
                        <col width="19%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th></th>
                            <th><h4>Allgemein</h4></th>
                            <th><h4>Objekte</h4></th>
                            <!--<th>Typen</th>-->
                            <th><h4>Funktionen</h4></th>
                            <th><h4>Erweitert</h4></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="level">
                                <h4>I</h4>
                            </td>
                            <td>
                                @topics {
                                    @topic2(einfuehrung)
                                    @topic2(geschichte)
                                    @topic2(ersteSchritte)
                                    @topic2(kontrollstrukturen)
                                }
                            </td>
                            <td>
                                @topics {
                                    @topic("Klassen")
                                    @topic("Vererbung I")
                                    @topic("Objekte")
                                    @topic("Sichtbarkeit")
                                    @topic("Pakete")
                                }
                            </td>
                            <!--<td>
                                @topics {

                                }
                            </td>-->
                            <td>
                                @topics {
                                    @topic("Funktionen I")
                                }
                            </td>
                            <td>
                                @topics {
                                    @topic2(tools1)
                                    @topic2(tools2)
                                }
                            </td>
                        </tr>
                        <tr class="divider">
                            <td colspan="10">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="level">
                                <h4>II</h4>
                            </td>
                            <td>
                                @topics {
                                    @topic("Operatoren", "basic")
                                    @topic("Annotationen", "basic")
                                    @topic("Reflektion", "basic")
                                    @topic("Reguläre Ausdrücke", "basic")
                                    @topic2(recursion)
                                }
                            </td>
                            <td>
                                @topics {
                                    @topic2(hierarchy)
                                    @topic("Traits")
                                    @topic("Case-Klassen")
                                    @topic("Vererbung II")
                                    @topic("Typ-Parameter I")
                                }
                            </td>
                            <!--<td>
                                @topics {

                                }
                            </td>-->
                            <td>
                                @topics {
                                    @topic("Option")
                                    @topic("Tuple")
                                    @topic("for")
                                    @topic("Kollektionen I")
                                    @topic("Anonyme Funktionen")
                                }
                            </td>
                            <td>
                                @topics {
                                    @topic2(xml)
                                    @topic("JSON")
                                    @topic("Swing")
                                    @topic("Testen")
                                }
                            </td>
                        </tr>
                        <tr class="divider">
                            <td colspan="10">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="level">
                                <h4>III</h4>
                            </td>
                            <td>
                                @topics {
                                    <!--@topic("Parsen")-->
                                    @topic("Extraktoren")
                                    @topic("Dynamic")
                                    @topic("Lazy")
                                    <!--@topic("Makros")-->
                                    <!--@topic("Delimited Continuations")-->
                                }
                            </td>
                            <td>
                                @topics {
                                    <!--@topic("Early Definitions")-->
                                    @topic("Typ-Parameter II")
                                    @topic("Self-Types")
                                    @topic("Abstrakte Typen")
                                    @topic("Strukturelle Typen")
                                }
                            </td>
                            <!--<td>
                                @topics {

                                }
                            </td>-->
                            <td>
                                @topics {
                                    @topic("Kollektionen II")
                                    @topic("Partial Functions", "fp")
                                    @topic("Kontrollabstraktion", "fp")
                                }
                            </td>
                            <td>
                                @topics {
                                    @topic("Aktoren")
                                    <!--@topic("Utilities")-->
                                    @topic("Datenbanken")
                                    @topic("Web Frameworks")
                                    @topic("Scalaz")
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>

                <a class="btn btn-icon btn-danger" id="btn-resetprogress" href="javascript:window.Progress.reset()">/</a>
            </div>
        </div>

    </section>

    <script type="text/javascript">
        require(['app/progress'], function(Progress) {
            Progress.init();
            $("#navi").addClass("subtle");
        });
    </script>
}

@topics(content: Html) = {
  <ul>
    @content
  </ul>
}

@topic2(s: Slide) = {
  @topic(s.label, s.id, s.chpt, s.deps, s.status)
}

@topic(label: String, id: String = "", chpt: String = "", deps: Seq[Slide] = Seq(), status: String = "planned") = {
  <li class="topic @status">
    @if(status == "planned") {
        <span>@label</span>
    } else {
      @defining("/app/slides/" + (if(chpt != "") chpt + "/" else "") + id + "/#/") { url =>
        <input type="checkbox" class="status" data-key="@url"/>
        <a href="@url" data-id="@id" data-label="@label" data-deps='@{deps.map(_.id).mkString(",")}'>
          @label
        </a>
      }
    }
  </li>
}