@import comp._

@layout.internal("Slides") {
<section id="main" class="slidedecks">


    @*<!----------------------------------------------------------------------------------->*@
    <h2>Intro</h2>
    @*<!----------------------------------------------------------------------------------->*@

    @slidebox("intro/Willkommen", todo = true)
    @slidebox("intro/Einführung")
    @slidebox("intro/Geschichte")
    @slidebox("intro/Werkzeuge", todo = true)



    @*<!----------------------------------------------------------------------------------->*@
    <h2>Beginner (A1)</h2>
    @*<!----------------------------------------------------------------------------------->*@

    @slidebox("lvl1/Variablen")
    @slidebox("lvl1/Methoden")
    @slidebox("lvl1/Klassen", todo = true)
    @slidebox("lvl1/Bedingungen", todo = true)
    @slidebox("lvl1/Schleifen", todo = true)

    <br/>

    @slidebox("lvl1/Arrays", todo = true)
    @slidebox("lvl1/Pakete", todo = true)
    @slidebox("lvl1/Tupel", todo = true)
    @slidebox("lvl1/Option", todo = true)
    @slidebox("lvl1/Exceptions", todo = true)

    <br/>

    @slidebox("lvl1/Case Classes", todo = true)
    @slidebox("lvl1/Objekte", todo = true)
    @slidebox("lvl1/For", todo = true)



    @*<!----------------------------------------------------------------------------------->*@
    <h2>Intermediate (A2/L1)</h2>
    @*<!----------------------------------------------------------------------------------->*@

    @slidebox("lvl2/Testen", todo = true)
    @slidebox("lvl2/Traits", todo = true)
    @slidebox("lvl2/Predef", todo = true)
    @slidebox("lvl2/Collections", todo = true)
    @slidebox("lvl2/List", todo = true)

    <br/>

    @slidebox("lvl2/Map", todo = true)
    @slidebox("lvl2/Operatoren", todo = true)
    @slidebox("lvl2/XML", todo = true)
    @slidebox("lvl2/Pattern-Matching", todo = true)
    @slidebox("lvl2/Lazy-Vals", todo = true)

    <br/>

    @slidebox("lvl2/String", todo = true)
    @slidebox("lvl2/Typparameter", "Typ-Parameter", todo = true)
    @slidebox("lvl2/Rekursion", todo = true)
    @slidebox("lvl2/Currying", todo = true)
    @slidebox("lvl2/Implicits", todo = true)

    <br/>

    @slidebox("lvl2/Partial Functions", todo = true)
    @slidebox("lvl2/Namensparameter", "Namens-parameter", todo = true)



    @*<!----------------------------------------------------------------------------------->*@
    <h2>Advanced (A3/L2)</h2>
    @*<!----------------------------------------------------------------------------------->*@

    @slidebox("lvl3/DSL", todo = true)
    @slidebox("lvl3/Aktoren", todo = true)
    @slidebox("lvl3/Streams", todo = true)
    @slidebox("lvl3/Iteratoren", todo = true)
    @slidebox("lvl3/Cake Pattern", todo = true)

    <br/>

    @slidebox("lvl3/Structural-Types", todo = true)



    @*<!----------------------------------------------------------------------------------->*@
    @*<h2>Expert (L3)</h2>*@
    @*<!----------------------------------------------------------------------------------->*@



    @*<!----------------------------------------------------------------------------------->*@
    <h2>Miscellaneous</h2>
    @*<!----------------------------------------------------------------------------------->*@

    @slidebox("setup/Scala")
    @slidebox("setup/Eclipse-IDE", todo = true)
    @slidebox("setup/IntelliJ-IDE", todo = true)
    @slidebox("Zusammenfassungen", "Zusammen-fassungen")


    <br/><br/>
    <i>
        PS: Informationen zur Kategorisierung sind
        <a href="http://www.scala-lang.org/node/8610">hier</a> zu finden
    </i>

</section>
}