@layout.slide("Werkzeuge für Scala") {

<div class="slides">


    <section>
        <h1><em>Werkzeuge</em></h1>
        <hr/>
        <h3 class="banner">Homo scalacus</h3>
    </section>


    <section>
        @overview
    </section>


    <section>
        <h3>&gt;<em> scala</em></h3>
    </section>


    <section>
        <h3>&gt;<em> scalac</em></h3>
    </section>


    <section>
        <h3>&gt;<em> fsc</em></h3>
    </section>


    <section>
        <h3>&gt;<em> scaladoc</em></h3>
    </section>


    <section>
        <h3>&gt;<em> ant</em></h3>
    </section>


    <section>
        <h3>&gt;<em> maven</em></h3>
    </section>


    <section>
        <h3>&gt;<em> sbt</em></h3>
    </section>


    <section>
        <h3><em>IntellJ</em> IDE</h3>
    </section>


    <section>
        <h3><em>Eclipse</em> IDE</h3>
    </section>


    <section>
        @overview
    </section>


    <section>
        <h3>Zusammenfassung</h3>
    </section>

</div>
}

@overview = @{
    <h3>Übersicht</h3>

    <div class="tcenter">
        <img class="naked"
             src="https://docs.google.com/drawings/pub?id=1783HIWb4Go77MjWAzcByaElyxeOaMFrL4fKCno17LmU&amp;w=700&amp;h=700"/>
    </div>
}