@layout.slide("Werkzeuge für Scala") {

<div class="slides">


    <section>
        <h1><em>Werkzeuge</em></h1>
        <hr/>
        <h3 class="banner">Homo scalacus</h3>
    </section>


    <section>
        @overview
    </section>


    <section>
        <div class="indent">
            <div class="sidebyside">
                <div>
                    <h3>
                        <em>scala-compiler</em>.jar
                    </h3>
                    <div class="indent">
                        <ul>
                            <li class="fragment">
                                rund <em>11 MB</em> groß
                            </li>
                            <li class="fragment">
                                benötigt zum <br/> <em>Kompilieren</em>
                            </li>
                            <li class="fragment">
                                <em>erstellt Java-Bytecode</em> <br/> aus Scala- und Java-Dateien
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <h3>
                        <em>scala-library</em>.jar
                    </h3>
                    <div class="indent">
                        <ul>
                            <li class="fragment">
                                rund <em>8.6 MB</em> groß
                            </li>
                            <li class="fragment">
                                benötigt zum <br/> <em>Kompilieren und Ausführen</em>
                            </li>
                            <li class="fragment">
                                <em>enthält Scala-Klassen</em> <br/> und -Sprachelemente <br/>
                                <comment>(wie Collections, Annotationen etc.)</comment>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section>
        @overview
    </section>


    <section>
        @comp.headbody() {
            &gt;<em> scalac</em>
        } {
            <div class="indent">
                <ul>
                    <li><em>Konsolenanwendung</em>: kompiliert <em>Scala-Code</em> zu <var>Java-Bytecode</var>
                        <hr/>
                        @comp.outcode(fragment = true) {
                            |$ scalac HelloWorld.scala
                        }
                    </li>
                    <li class="fragment">braucht typischerweise etwas länger als der Java-Compiler <var>javac</var></li>
                </ul>
            </div>
        }
    </section>


    <section>
        @comp.headbody() {
            &gt;<em> fsc</em>
        } {
            <div class="indent">
                <ul>
                    <li><var>fast scala compiler</var></li>
                    <li><em>Konsolenanwendung</em>: kompiliert Scala-Code mittels Hintergrundprozess</li>
                    <li class="fragment">
                        kompiliert schneller als <em>scalac</em>: Startzeit fällt weg plus Caching
                        <hr/>
                        @comp.outcode() {
                            |$ fsc HelloWorld.scala   // erster Aufruf, Prozess wird gestartet und kompiliert
                            |
                            |$ fsc HelloWorld.scala   // zweiter Aufruf, Prozess kompiliert direkt
                        }
                        <hr/>
                    </li>
                </ul>
            </div>
        }
    </section>


    <section>
        @comp.headbody() {
            &gt;<em> scala</em>
        } {
            <div class="indent">
                <ul>
                    <li>
                        <em>Konsolenanwendung</em>: führt Scala-Programme aus
                        <hr/>
                        <div class="indent">
                            <ol>
                                <li class="fragment">
                                    kompilierte Programme
                                    <hr/>
                                    @comp.outcode() {
                                        |$ scala HelloWorld
                                        |
                                        |$ Hello World
                                    }
                                    <hr/>
                                    <div class="fragment">
                                        alternativ kann natürlich auch <var>java</var> verwendet werden:
                                        <hr/>
                                        @comp.outcode() {
                                            |$ java -classpath lib/scala-library.jar HelloWorld
                                            |
                                            |$ Hello World
                                        }
                                    </div>
                                </li>
                                <li class="fragment">
                                    interaktive Programme
                                    <hr/>
                                    @comp.outcode() {
                                        |$ scala
                                        |
                                        |scala> 1 + 2
                                        |res0: Int = 3
                                    }
                                </li>
                            </ol>
                        </div>
                    </li>
                </ul>
            </div>
        }
    </section>


    <section>
        @overview
    </section>


    <section>
        @comp.headbody() {
            <em>Maven</em>
        } {
            <div class="sidebyside p40_60">
                <div>
                    <div class="indent">
                        <ul>
                            <li>
                                <em>offizielles Scala-Plugin</em>
                            </li>
                            <li>
                                kompiliert <code>src/main/scala</code> und <code>src/test/scala</code>
                            </li>
                            <li class="fragment">
                                nur leider <var>zu langsam</var>, <br/>lieber <em>SBT</em> verwenden
                            </li>
                        </ul>
                    </div>
                </div>
                @comp.outcode() {
                    |&lt;plugin&gt;
                    |    &lt;groupId&gt;org.scala-tools&lt;/groupId&gt;
                    |    &lt;artifactId&gt;maven-scala-plugin&lt;/artifactId&gt;
                    |
                    |    &lt;executions&gt;
                    |        &lt;execution&gt;
                    |            &lt;goals&gt;
                    |                &lt;goal&gt;compile&lt;/goal&gt;
                    |                &lt;goal&gt;testCompile&lt;/goal&gt;
                    |            &lt;/goals&gt;
                    |        &lt;/execution&gt;
                    |    &lt;/executions&gt;
                    |
                    |    &lt;configuration&gt;
                    |        &lt;scalaVersion&gt;${scala.version}&lt;/scalaVersion&gt;
                    |    &lt;/configuration&gt;
                    |&lt;/plugin&gt;
                }
            </div>
        }
    </section>


    <section>
        @comp.headbody() {
            <em>SBT</em>
        } {
            <div class="indent">
                <ul>
                    <li>
                        <var>Simple Build Tool</var>, aktuelle stabile Version <code>0.11.3</code>
                        <comment>(nicht abschrecken lassen!)</comment>
                        <hr/>
                        <ul>
                            <li class="fragment">ist <em>in Scala</em> geschrieben</li>
                            <li class="fragment"><em>kompatibel mit Maven</em>-Repositories</li>
                            <li class="fragment"><em>Projektdefinition in Scala</em>, mit Hilfe einer speziellen DSL</li>
                            <li class="fragment">läuft permanent als Prozess im Hintergrund: <em>schnelles Kompilieren</em></li>
                            <li class="fragment">viele Scala-Bibliotheken, Scala selbst und <var>Typesafe</var> setzen darauf</li>
                        </ul>
                    </li>
                </ul>
            </div>
        }
    </section>


    <section>
        @comp.headbody() {
            <em>SBT</em>: Beispiel
        } {
            <div class="sidebyside p33_66">
                <div>
                    @comp.outcode() {
                        |myproject
                        |   |
                        |   +project
                        |   |   |Build.scala
                        |   |   |plugins.sbt
                        |   |   |build.properties
                        |   |
                        |   +src
                        |   |   +main
                        |   |   |   +resources
                        |   |   |   +scala
                        |   |   |       |Hello.scala
                        |   |   |
                        |   |   +test
                        |   |       +resources
                        |   |       +scala
                        |   |
                        |   +target
                    }
                    <sub>
                        Verzeichnisstruktur
                    </sub>
                </div>
                <div>
                    @comp.sourcecode() {
                        |// Build.scala
                        |import sbt._
                        |import Keys._
                        |
                        |object Build {
                        |
                        |  lazy val myproject =
                        |    Project ("myproject", file ("."))
                        |      .settings(libraryDependencies ++= Seq(joda))
                        |
                        |  val joda = "joda-time" % "joda-time" % "2.1"
                        |}
                    }
                    <sub>
                        Projektdefinition
                    </sub>
                </div>
            </div>

            <hr/><hr/>

            @comp.outcode() {
                |$ sbt
                |> compile
            }
        }
    </section>


    <section>
        @overview
    </section>


    <section>
        @comp.headbody() {
            <em>IntelliJ</em> IDE
        } {
            <div class="indent">
                <ul>
                    <li></li>
                </ul>
            </div>
        }
    </section>


    <section>
        @comp.headbody() {
            <em>Eclipse</em> IDE
        } {
            <div class="indent">
                <ul>
                    <li>
                    </li>
                </ul>
            </div>
        }
    </section>


    <section>
        @overview
    </section>


    <section>
        @comp.headbody() {
            Zusammenfassung
        } {
            @summary.werkzeuge("")
        }
    </section>

</div>
}

@overview = @{
    <h3>Übersicht</h3>

    <div class="tcenter">
        <img class="naked"
             src="https://docs.google.com/drawings/pub?id=1783HIWb4Go77MjWAzcByaElyxeOaMFrL4fKCno17LmU&amp;w=700&amp;h=700"/>
    </div>
}