@layout.slide("Vorstellungsrunde") {

<div class="slides">

    <section>
        <h1><em>Willkommen</em></h1>
        <hr/>
        <h3 class="banner">teilnehmer.foreach(t => println("Hallo " + t))</h3>
    </section>


    <!--<section>
        <h3>Zu Tutego</h3>
        <ul>
            <li>Inhouse-Schulungen mit individualisierten Inhalten und individueller Terminauswahl</li>
            <li>Über 230 Seminare</li>
            <li>Kernkompetenz Java (70 Themen)
                <ul>
                    <li>Europaweit führende Position im Bereich Java-Schulungen</li>
                </ul>
            </li>
            <li>Hochqualifizierte und zertifizierte Referenten</li>
            <li>Firmengründung 1997 von Christian Ullenboom, den Sun als Java Champion auszeichnete</li>
        </ul>
    </section>-->


    <section>
        <h3>Zu meiner <em>Person</em></h3>

        <!--
            kein Theoretiker, Anwender
        -->
    </section>


    <section>
        <h3>Nun zu <em>Ihnen</em> ... </h3>

        <div class="indent">
            <ul>
                <li>Name ?</li>
                <li>erster Java-Kontakt ?</li>
                <li>Vorkenntnisse in Scala ?</li>
                <li>Erwartungen und Wünsche ?</li>
            </ul>
        </div>
    </section>


    <section>
        <h3>Zum <em>Ablauf</em></h3>
    </section>


    <section>
            <h3>Zum <em>Szenario</em></h3>

            <hr/>

            <h4 class="fragment">
                Sie sind ein irischer Milliardär
                <span class="fragment"> und <em>gelangweilt</em>...</span>
            </h4>

            <div class="fragment tcenter">
                <img src="/assets/img/hammock.jpg" width="400">
            </div>

            <h4 class="fragment" style="text-align: right">
                ... also beschließen Sie, eine eigene Fluglinie zu gründen: <em>ScalaWings</em>.<br/><br/>
                <!--<span style="text-align: right">
                    Doch dafür gilt es noch viel zu lernen ...
                </span>-->
            </h4>

        </section>


</div>
}