@*
    http://my.safaribooksonline.com/book/programming/scala/9780596801908/type-less-do-more/reservedwords
*@
@layout.simpledeck("Keywords", showhHead = false, clazz = "noheader") {

    @sidebyside() {
        <table>
            <tr>
                <td>
                    <code>abstract</code>
                </td>
                <td>
                    Klasse abstrakt markieren
                </td>
            </tr>
            <tr>
                <td>
                    <code>case</code>
                </td>
                <td>
                    Pattern Matching
                </td>
            </tr>
            <tr>
                <td>
                    <code>class</code>
                </td>
                <td>
                    Klasse deklarieren
                </td>
            </tr>
            <tr>
                <td>
                    <code>def</code>
                </td>
                <td>
                    Methode deklarieren
                </td>
            </tr>
            <tr>
                <td>
                    <code>do / while</code>
                </td>
                <td>
                    Schleife einleiten
                </td>
            </tr>
            <tr>
                <td>
                    <code>extends / with</code>
                </td>
                <td>
                    Vererbung
                </td>
            </tr>
            <tr>
                <td>
                    <code>false / true</code>
                </td>
                <td>
                    Boolean-Konstante
                </td>
            </tr>
            <tr>
                <td>
                    <code>final</code>
                </td>
                <td>
                    Überschreiben verhindern
                </td>
            </tr>
            <tr>
                <td>
                    <code>for</code>
                </td>
                <td>
                    Schleife
                </td>
            </tr>
            <tr>
                <td>
                    <code>forSome</code>
                </td>
                <td>
                    existenzielle Typen
                </td>
            </tr>
            <tr>
                <td>
                    <code>if / else</code>
                </td>
                <td>
                    Bedingung
                </td>
            </tr>
            <tr>
                <td>
                    <code>implicit</code>
                </td>
                <td>
                    Typ-Konvertierung deklarieren
                </td>
            </tr>
            <tr>
                <td>
                    <code>import</code>
                </td>
                <td>
                    Paketinhalte laden
                </td>
            </tr>
            <tr>
                <td>
                    <code>lazy</code>
                </td>
                <td>
                    Evaluation verzögern
                </td>
            </tr>
            <tr>
                <td>
                    <code>match</code>
                </td>
                <td>
                    Pattern Match einleiten
                </td>
            </tr>
            <tr>
                <td>
                    <code>new</code>
                </td>
                <td>
                    Klasse instanziieren
                </td>
            </tr>
        </table>
    } {
        <table>
            <tr>
                <td>
                    <code>null</code>
                </td>
                <td>
                    nicht-definierter Wert
                </td>
            </tr>
            <tr>
                <td>
                    <code>object</code>
                </td>
                <td>
                    Singleton deklarieren
                </td>
            </tr>
            <tr>
                <td>
                    <code>override</code>
                </td>
                <td>
                    Feld / Methode überschreiben
                </td>
            </tr>
            <tr>
                <td>
                    <code>package</code>
                </td>
                <td>
                    Paket deklarieren
                </td>
            </tr>
            <tr>
                <td>
                    <code>private</code>
                </td>
                <td>
                    Sichtbarkeit eingrenzen
                </td>
            </tr>
            <tr>
                <td>
                    <code>protected</code>
                </td>
                <td>
                    Sichtbarkeit eingrenzen
                </td>
            </tr>
            <tr>
                <td>
                    <code>return</code>
                </td>
                <td>
                    Wert zurückgeben
                </td>
            </tr>
            <tr>
                <td>
                    <code>sealed</code>
                </td>
                <td>
                    Vererbung eingrenzen
                </td>
            </tr>
            <tr>
                <td>
                    <code>super</code>
                </td>
                <td>
                    Referenz auf Elternklasse
                </td>
            </tr>
            <tr>
                <td>
                    <code>this</code>
                </td>
                <td>
                    Selbstreferenz
                </td>
            </tr>
            <tr>
                <td>
                    <code>throw</code>
                </td>
                <td>
                    Ausnahme werfen
                </td>
            </tr>
            <tr>
                <td>
                    <code>trait</code>
                </td>
                <td>
                    Trait deklarieren
                </td>
            </tr>
            <tr>
                <td>
                    <code class="nobreak">try-catch-finally</code>
                </td>
                <td>
                    Ausnahmebehandlung
                </td>
            </tr>
            <tr>
                <td>
                    <code>type</code>
                </td>
                <td>
                    Typ deklarieren
                </td>
            </tr>
            <tr>
                <td>
                    <code>val / var</code>
                </td>
                <td>
                    Wert / Variable deklarieren
                </td>
            </tr>
            <tr>
                <td>
                    <code>yield</code>
                </td>
                <td>
                    Rückgabe bei for-Ausdruck
                </td>
            </tr>
        </table>
    }
}