@()(implicit basePath: String)

@layout.simpledeck("None", "im Vergleich mit 'Some'") {

    <div class="indent">
        <ul>
            <li>
                einer der zwei Untertypen von @glossary("Option")
            </li>
            <li>
                es enthält keinen Wert, im Gegensatz zu @glossary("Some")
            </li>
        </ul>
    </div>

    @spacer()

    @sidebyside((45,45)) {
        @glossary("None")
        <hr class="third"/>
        @shared.none()
    } {
        @glossary("Some")
        <hr class="third"/>
        @shared.some()
    }
}