@()(implicit basePath: String)

@layout.simpledeck("Sichtbarkeit") {

    @sidebyside((45,45)) {
        <h5 class="black">Wer hat Zugriff?</h5>
        @spacer_half()

        @sourcecode(clazz = "slim") {
            |class Plane {
            |  def fly()
            |}
        }
        @codesub2() {
            alle Klassen
        }

        @spacer_half()

        @sourcecode(clazz = "slim") {
            |class Plane {
            |  protected def fly()
            |}
        }
        @codesub2() {
            <code>Plane</code> und seine Unterklassen - siehe @glossary("protected")
        }

        @spacer_half()

        @sourcecode(clazz = "slim") {
            |class Plane {
            |  private def fly()
            |}
        }
        @codesub2() {
            <code>Plane</code> inklusive @glossary("Companion") - siehe @glossary("private")
        }
    } {

        <h5 class="black">Was kann eingeschränkt werden?</h5>
        @spacer_half()

        @sourcecode(clazz = "slim") {
            |class private Plane
        }
        @codesub2() {
            Klassen
        }

        @spacer_half()

        @sourcecode(clazz = "slim") {
            |object private Plane
        }
        @codesub2() {
            @glossary("Objekte")
        }

        @spacer_half()

        @sourcecode(clazz = "slim") {
            |class Plane private (seats: Int) {
            |  private this() = this(0)
            |}
        }
        @codesub2() {
            primäre und sekundäre Konstruktoren
        }

        @spacer_half()

        @sourcecode(clazz = "slim") {
            |class Plane(private val seats: Int) {
            |  private def fly()
            |}
        }
        @codesub2() {
            Variablen und Methoden
        }
    }
}