@layout.simpledeck("Typ-Hierarchie") {

    @sidebyside((60,40)) {
        @Images.types(4, 500)
    } {
        <div class="indent">
            <ul>
                <li>
                    @glossary("Any"):<br/>
                    Super-Klasse aller Klassen
                </li>
                <li>
                    @glossary("AnyVal"):<br/>
                    Super-Klasse aller Values Types
                </li>
                <li>
                    @glossary("AnyRef"):<br/>
                    Super-Klasse aller Reference Types
                </li>
                <li>
                    <em>ScalaObject</em>:<br/>
                    interne Markierungsschnittstelle (marker interface)
                </li>
                <li>
                    @glossary("Null", "nulls"):<br/>
                    Sub-Klasse aller Reference Types
                </li>
                <li>
                    @glossary("Nothing"):<br/>
                    Sub-Klasse aller Klassen
                </li>
            </ul>
        </div>
    }

}