@(topic: String)

<div class="well">
    <h4>Firmenintern</h4>

    <div>
        Kontaktieren Sie einfach meinen <strong>Kooperations-partner Tutego</strong> für eine flexible,
        zugeschnittene Schulung direkt bei Ihnen.
    </div>
    <br/>
    <div>
        Via E-Mail <a href="mailto:info@@tutego.de?subject=@topic-Schulung mit Stephan Behnke">info@@tutego.de</a> oder
        telefonisch unter <strong style="white-space: nowrap;">0800 888 3467</strong> (kostenfrei).
    </div>
    <br/>
    <img class="logo" src='@MyAssets.urlOf("/img/tutego.jpeg", true)'/>
</div>