@subtitle = {<span>"Modernes Javascript"<br/>Schulung</span>}
@layout.main("'Modernes Javascript'", subtitle=subtitle) {

<div class="unit">

    <hr class="soften"/>
    <h3>&Uumlbersicht</h3>
    <hr class="soften"/>

    @sub.about()
</div>


<div class="unit">
    <hr class="soften"/>
    <h3>Ziel</h3>
    <hr class="soften"/>

    <p>
        TODO
    </p>
</div>


<div class="unit">
    <hr class="soften"/>
    <h3>Inhalt</h3>
    <hr class="soften"/>

    <p>
        TODO
    </p>
</div>


<div class="unit">
    <hr class="soften"/>
    <h3>Voraussetzungen</h3>
    <hr class="soften"/>

    <p>
        TODO
    </p>

    @sub.technical()
</div>

<div class="unit">

    <hr class="soften"/>
    <h3>Voranmeldung</h3>
    <hr class="soften"/>

    @sub.register()
</div>

}