@()(implicit flash: Flash)

@layout.main("") {

<div id="index">

    <hr class="soften"/>
    <h3>Training | Kurs | Schulung</h3>
    <hr class="soften"/>

    <br/>

    <div class='alert hidden alert-@flash.get("type")'>
        @flash.get("message")
    </div>

    <div class="unit">
        <p>
            Scala ist das "neue" Java.
            Es erweitert die Plattform um revolution&auml;re Konzepte aus der funktionalen Sprachwelt
            und bleibt dabei doch kompatibel zur Java-Welt - selbst Twitter setzt bereits darauf.
        </p>

        <!--<p>
            Lernen Sie:
        <ul>
            <li>funktionale Programmierung anzuwenden</li>
            <li>bis zu 30% weniger Code zu schreiben</li>
            <li>Scala-Tools zu nutzen</li>
            <li>Entwickeln von Tests</li>
        </ul>-->
    </div>

    <div class="unit">

        <hr class="soften"/>
        <h3>&Uumlbersicht</h3>
        <hr class="soften"/>

        @sub.about()
    </div>


    <div class="unit">
        <hr class="soften"/>
        <h3>Ziel</h3>
        <hr class="soften"/>

        <p>
            Am Ende der zwei Tage sind Sie in der Lage eigene Scala-Applikationen
            im <strong>funktionalen Stil</strong> zu schreiben und zu <strong>testen</strong>
            sowie die <strong>Tools</strong> aus der Scala-Welt effektiv zu nutzen.
            Und Sie hatten ehrlich <strong>Spa&szlig;</strong> dabei.
        </p>
    </div>


    <div class="unit">
        <hr class="soften"/>
        <h3>Inhalt</h3>
        <hr class="soften"/>

        <div style="width: 66%; margin: 0 auto;">
            <p>
            <ul>
                <li>
                    Entwicklungsumgebung
                    <ul>
                        <li>Eclipse/IntelliJ IDE</li>
                        <li>SBT build tool</li>
                    </ul>
                </li>
                <li>
                    Unterschiede zu Java
                    <ul>
                        <li>Lazy</li>
                        <li>Type Inference</li>
                        <li>Companion Object</li>
                        <li>Pattern Matching</li>
                        <li>&Uuml;berladen von Operatoren</li>
                    </ul>
                </li>
                <li>
                    Datentypen
                    <ul>
                        <li>Listen und Arrays</li>
                        <li>Tuple</li>
                    </ul>
                </li>
                <li>
                    Funktionale Programmierung
                    <ul>
                        <li>Closures</li>
                        <li>Immutability</li>
                        <li>Higher Order Functions</li>
                    </ul>
                </li>
                <li>
                    Vererbungs- und Kompositionsmuster
                    <ul>
                        <li>Traits</li>
                        <li>Self-Types</li>
                        <li>Cake Pattern</li>
                        <li>Multiple Inheritance</li>
                    </ul>
                </li>
                <li>Testen mit specs2</li>
            </ul>
        </div>
        </p>
    </div>

    @sub.trainer()

    <div class="unit">
        <hr class="soften"/>
        <h3>Voraussetzungen</h3>
        <hr class="soften"/>

        <p>
            Um diesen Kurs zu besuchen, sollten Sie Erfahrungen mit <strong>einer Programmiersprache</strong> haben;
            idealerweise Java, C++, C# oder Ruby. <strong>Vorkenntnisse in Scala sind nicht erforderlich</strong>.
        </p>

        @sub.technical()
    </div>

    <div class="unit">

        <hr class="soften"/>
        <h3>Voranmeldung</h3>
        <hr class="soften"/>

        @sub.register()
    </div>

</div>

}