@()(implicit flash: Flash)

@layout.public("") {

<div id="index">

    <hr class="soften"/>
    <h3>Training | Kurs | Schulung</h3>
    <hr class="soften"/>

    <br/>

    <div class='alert hide alert-@flash.get("type")'>
        @flash.get("message")
    </div>

    <div class="unit">
        <p>
            Scala ist das "neue" Java.
            Es erweitert die Plattform um revolution&auml;re Konzepte aus der funktionalen Sprachwelt
            und bleibt dabei doch kompatibel zur Java-Welt - selbst Twitter setzt bereits darauf.
        </p>

        <p>
            Lernen Sie:
            <ul>
                <li>funktionale Programmierung anzuwenden</li>
                <li>bis zu 30% weniger Code zu schreiben</li>
                <li>Scala-Tools zu nutzen</li>
                <li>Entwickeln von Tests</li>
            </ul>
        </p>
    </div>

    <div class="unit">

        <hr class="soften"/>
        <h3>&Uumlbersicht</h3>
        <hr class="soften"/>

        <p>
            Angeboten wird eine <strong>2-t&auml;gige</strong>, <strong>deutschsprachige</strong>
            Schulung &uuml;ber ingesamt 14 Stunden
            in <strong>Berlin</strong>. In einer Gruppe von bis zu 8 Teilnehmern wird der
            Inhalt sehr <strong>praxisnah</strong>, ohne unn&ouml;tigen Theorieballast, vom Trainer vermittelt.
        </p>
    </div>


    <div class="unit">
        <hr class="soften"/>
        <h3>Ziel</h3>
        <hr class="soften"/>

        <p>
            Am Ende der zwei Tage sind Sie in der Lage eigene Scala-Applikationen
            im <strong>funktionalen Stil</strong> zu schreiben und zu <strong>testen</strong>
            sowie die <strong>Tools</strong> aus der Scala-Welt effektiv zu nutzen.
            Und Sie hatten ehrlich <strong>Spa&szlig;</strong> dabei.
        </p>
    </div>


    <div class="unit">
        <hr class="soften"/>
        <h3>Inhalt</h3>
        <hr class="soften"/>

        <div style="width: 66%; margin: 0 auto;">
            <p>
            <ul>
                <li>
                    Entwicklungsumgebung
                    <ul>
                        <li>Eclipse/IntelliJ IDE</li>
                        <li>SBT build tool</li>
                    </ul>
                </li>
                <li>
                    Unterschiede zu Java
                    <ul>
                        <li>Lazy</li>
                        <li>Type Inference</li>
                        <li>Companion Object</li>
                        <li>Pattern Matching</li>
                        <li>&Uuml;berladen von Operatoren</li>
                    </ul>
                </li>
                <li>
                    Datentypen
                    <ul>
                        <li>Listen und Arrays</li>
                        <li>Tuple</li>
                    </ul>
                </li>
                <li>
                    Funktionale Programmierung
                    <ul>
                        <li>Closures</li>
                        <li>Immutability</li>
                        <li>Higher Order Functions</li>
                    </ul>
                </li>
                <li>
                    Vererbungs- und Kompositionsmuster
                    <ul>
                        <li>Traits</li>
                        <li>Self-Types</li>
                        <li>Cake Pattern</li>
                        <li>Multiple Inheritance</li>
                    </ul>
                </li>
                <li>Testen mit specs2</li>
            </ul>
        </div>
        </p>
    </div>

    <div class="unit">

        <hr class="soften"/>
        <h3>Trainer</h3>
        <hr class="soften"/>

        <p>
            Ihr Trainer bin ich: Stephan Behnke.
            Ich bin selbstst&auml;ndiger Unternehmer und Softwareentwickler.
            Nach einem Studium in Wirtschaftsinformatik half ich mehreren Firmen bei der Entwicklung ihres
            Backend-Systems, anfangs mit Hilfe von Java, sp&auml;ter dann mit Scala. Insgesamt habe ich
            <strong>drei Scala-basierte Produktivsysteme</strong> auf den Weg gebracht.
        </p>
    </div>

    <div class="unit">
        <hr class="soften"/>
        <h3>Voraussetzungen</h3>
        <hr class="soften"/>

        <p>
            Um diesen Kurs zu besuchen, sollten Sie Erfahrungen mit <strong>einer Programmiersprache</strong> haben;
            idealerweise Java, C++, C# oder Ruby. <strong>Vorkenntnisse in Scala sind nicht erforderlich</strong>.
        </p>

        <p>
            Technische Voraussetzungen sind ein <strong>eigener Laptop</strong>.
            Dieser sollte <strong>WLAN</strong>-Zugang haben und
            ausreichend schnell sein (mind. 1 GHz, 2 GB RAM), das Betriebssystem ist beliebig.
            Außerdem muss mindestens das
            <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">Java Developer Kit 6</a>
            bereits installiert sein - falls nicht sollten wenigstens Admin-Rechte hierfür vorhanden sein.
        </p>
    </div>

    <div class="unit">

        <hr class="soften"/>
        <h3>Voranmeldung</h3>
        <hr class="soften"/>

        <p>
            Momentan befindet sich der Kurs noch im Aufbau, aber wenn Sie Interesse haben,
            k&ouml;nnen Sie sich durch Eintragung Ihrer E-Mail-Adresse benachrichtigen lassen sobald es losgeht:
        </p>

        @*<!--<p>
            Der Preis liegt bei ingesamt <span class="strike">699&euro;</span><strong> 499&euro; netto</strong> pro
            Person
            (Aktion zur ersten Veranstaltung) und beinhaltet Snacks und Getr&auml;nke vor Ort, Schulungsmaterialien und
            die Teilnahmeurkunde.
        </p>

        <p>
            Die Schulung wird voraussichtlich im Juli/August 2012 stattfinden, Ort und Zeit stehen noch nicht fest
            - aber hinterlassen Sie einfach eine E-Mail-Adresse um eine Benachrichtigung zu bekommen:
        </p>
        -->*@

        <div id="entermail">
            <form action="@routes.Contact.doMail" method="POST">
                <input type="text" class=":required;;label :email;;label :only_on_submit" name="mail"/>
                <input type="submit"  value="Senden"/>

                <div id="label" style="display:none">Bitte geben Sie eine g&uuml;ltige E-Mail-Adresse ein</div>
            </form>
        </div>

        <p>
            Fragen k&ouml;nnen gern per E-Mail an mich gesendet werden: <a href="mailto:stephan@@learnscala.de">Stephan
            Behnke</a>
        </p>
    </div>
</div>

}