@(chapter: String = "")

@slide() {
} {
    <div class="sidebyside">
        <div>
            @snippet() {
                @sourceblock(fragment = false) {
                    |def hello(): String = {
                    |   return "Hello World"
                    |}
                }
                @outblock() {
                    |hello: String
                }
            }
        </div>
        <div>
            <div class="indent">
                <ul>
                    <li class="fragment">
                        <code>def</code> startet die Definition
                    </li>
                    <li class="fragment">
                        <code>hello</code> ist der Name der Methode
                    </li>
                    <li class="fragment">
                        <code>()</code> beinhaltet die Liste der Parameter
                    </li>
                    <li class="fragment">
                        <code>String</code> ist der Rückgabetyp
                    </li>
                    <li class="fragment">
                        <code>{ .. }</code> enthält Implementierung
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr/>

    @infobox() {
        <code>def</code> leitet eine Methode ein - diese hat immer einen Rückgabetyp.
    }

    <details>
        <a href="http://stackoverflow.com/questions/2529184/difference-between-method-and-function-in-scala">
            Difference between method and function in Scala
        </a>
    </details>
}

<!--<section>
<h3>Variablen <var><></var> Methoden</h3>

<div>
    <div class="sidebyside">
        comp.snippet() {
            |val rand = util.Random.nextInt(10)
            |
            |println(rand)
            |println(rand)
        }
        comp.snippet() {
            |def rand = util.Random.nextInt(10)
            |
            |println(rand)
            |println(rand)
        }
    </div>
</div>

<div class="fragment">
    <div class="sidebyside">
        comp.console() {
            |rand: Int = 6
            |6
            |6
        }
        comp.console() {
            |rand: Int
            |3
            |9
        }
    </div>
</div>

@infobox() {
    <code>val</code> wird einmal berechnet und <strong>speichert</strong> das Ergebnis, <br/>
    <code>def</code> wird bei jedem Aufruf <strong>neu berechnet</strong>.
}
</section>-->


<!--<section>
@summary(){
    @summaries.methoden()
}
</section>-->

<!--<section>
    @headbody() {
        Methoden: Name
    } {
        <div class="sidebyside">
            @snippet() {
                @sourceblock() {
                    |def √(): String = {
                    |   return "square root"
                    |}
                }
                @outblock() {
                    |$u221A: ()String
                }
                @sourceblock() {
                    |def $(): String = {
                    |   return "dollar"
                    |}
                }
                @outblock() {
                    $: ()String
                }
            }
        </div>
    }
    <details>
        <a href="http://stackoverflow.com/questions/7656937/valid-identifier-characters-in-scala">
            Welche Zeichen sind in Methodennamen erlaubt?
        </a>
    </details>
</section>-->

@slide() {
} {
    <div class="sidebyside">
        @snippet() {
            @sourceblock(fragment = false) {
                |def hello() = {
                |   println("Hello World")
                |}
            }
            @outblock() {
                |hello: Unit
            }
        }

        @snippet() {
            @sourceblock() {
                |def hello() {
                |   println("Hello World")
                |}
            }
            @outblock() {
                |hello: Unit
            }
        }
    </div>

    <hr/>

    @infobox() {
        Hat eine Methode keinen Rückgabewert, hat sie den Typ <code>Unit</code>.<br/>
        Sie werden überlicherweise ohne <code>=</code> definiert.
    }
}


@slide() {
} {
    <div class="fragment sidebyside p40_60">
        @sourcecode(id = "hello", fragment = false) {
            |def hello(): String =
            |   return "Hello World"
        }
        <div>
            <strong><em>ohne</em></strong> geschweifte Klammern<br/>
            <comment>Wann? Nur eine Zeile</comment>
        </div>
    </div>

    <hr/>

    <div class="fragment sidebyside p40_60">
        @sourcecode(fragment = false) {
            |def hello(): String =
            |   "Hello World"
        }
        <div>
            <strong><em>ohne</em></strong> <code>return</code><br/>
            <comment>Wann? Immer, Rückgabe ist Ergebnis des letzten Ausdrucks</comment>
        </div>
    </div>

    <hr/>

    <div class="fragment sidebyside p40_60">
        @sourcecode(fragment = false) {
            |def hello: String =
            |   "Hello World"
        }
        <div>
            <strong><em>ohne</em></strong> Parameterliste<br/>
            <comment>Wann? Keine Parameter</comment>
        </div>
    </div>

    <hr/>

    <div class="fragment sidebyside p40_60">
        @sourcecode(fragment = false) {
            |def hello =
            |   "Hello World"
        }
        <div>
            <strong><em>ohne</em></strong> Rückgabetyp<br/>
            <comment>Wann? Nicht rekursiv oder überladen</comment>
        </div>
    </div>

    <hr/>

    <div class="fragment sidebyside p40_60">
        @sourcecode(fragment = false) {
            |def hello = "Hello World"
        }
        <div>
            <strong><em>ohne</em></strong> Zeilenumbruch
        </div>
    </div>
}


@quiz() {
    <div class="sidebyside">
        <div>
            <div class="sidebyside p10_90">
                <span>(1)</span>
                @snippet() {
                    @sourceblock(fragment = false) {
                        |def sub(x: Float, y: Float): Int =
                        |   x - y
                    }
                    @outblock() {
                        |error: type mismatch
                    }
                }
            </div>
        </div>
        <div>
            <div class="sidebyside p10_90">
                <span>(2)</span>
                @snippet() {
                    @sourceblock(fragment = false) {
                        |def fn(n: Int) =
                        |   if (n == 0) 1 else n * fn(n - 1)
                    }
                    @outblock() {
                        |error: recursive method fn needs
                        |       result type
                    }
                }
            </div>
        </div>
    </div>

    <hr/><hr/><hr/>

    <div class="sidebyside">
        <div>
            <div class="sidebyside p10_90">
                <span>(3)</span>
                @snippet() {
                    @sourceblock(fragment = false) {
                        |def sub(x: Int, y: Int): Float =
                        |   x - y
                    }
                    @outblock() {
                        |sub: (x: Int, y: Int)Float
                    }
                }
            </div>
        </div>
        <div>
            <div class="sidebyside p10_90">
                <span>(4)</span>
                @snippet() {
                    @sourceblock(fragment = false) {
                        |def add(x, y) =
                        |   x + y
                    }
                    @outblock() {
                        |error: ':' expected but ',' found.
                    }
                }
            </div>
        </div>
    </div>

    <hr/><hr/><hr/>

    <div class="sidebyside">
        <div>
            <div class="sidebyside p10_90">
                <span>(5)</span>
                @snippet() {
                    @sourceblock(fragment = false) {
                        |def mult(x: Int, y: Int) {
                        |   println(x * y)
                        |}
                    }
                    @outblock() {
                        |mult: (x: Int, y: Int)Unit
                    }
                }
            </div>
        </div>
        <div>
            <div class="sidebyside p10_90">
                <span>(6)</span>
                @snippet() {
                    @sourceblock(fragment = false) {
                        |def negate(n: Int): Long = {
                        |   -1 * n
                        |}
                    }
                    @outblock() {
                        |negate: (n: Int)Long
                    }
                }
            </div>
        </div>
    </div>
}


@slide() {
} {
    <div class="sidebyside p60_40">
        @snippet() {
            @sourceblock(id = "double", fragment = false) {
                |def double(x: Int) =
                |   2 * x
            }
            @outblock() {
                |double: (x: Int)Int
            }
        }
        <div>
            Methode <code>double</code> mit 1 <code>Int</code>-Parameter
            und Rückgabetyp <code>Int</code>
        </div>
    </div>

    <hr/><hr/>

    <div class="fragment sidebyside p60_40">
        @snippet() {
            @sourceblock(id = "add", fragment = false) {
                |def add(x: Float, y: Float) =
                |   x + y
            }
            @outblock() {
                |add: (x: Float, y: Float)Float
            }
        }
        <div>
            Methode <code>add</code> mit 2 <code>Float</code>-Parameter
            und Rückgabetyp <code>Float</code>
        </div>
    </div>

    <hr/>

    @infobox() {
        Parameter werden durch Komma getrennt und müssen einen Typ haben.
    }
}


@slide() {
} {
    <div class="sidebyside p40_60">
        @snippet() {
            @callblock(fragment = false) {
                |42.isWhole
            }
            @outblock() {
                |res0: Boolean = true
            }
        }
        <div>
            Aufruf der <em>parameterlosen</em> Methode <code>isWhole</code>
        </div>
    </div>

    <hr/>

    <div class="fragment sidebyside p40_60">
        @snippet() {
            @callblock(fragment = false) {
                |42.compare(42)
            }
            @outblock() {
                |res0: Int = 0
            }
            @callblock() {
                |42 compare(42)
            }
            @outblock() {
                |res1: Int = 0
            }
            @callblock() {
                |42 compare 42
            }
            @outblock() {
                |res2: Int = 0
            }
        }
        <div>
            Aufruf der <em>1-parametrigen</em> Methode <code>compare</code>
        </div>
    </div>

    <hr/>

    <div class="fragment sidebyside p40_60">
        @snippet() {
            @callblock(fragment = false) {
                |add (1, 2)
            }
            @outblock() {
                |res0: Float = 3.0
            }
        }
        <div>
            Aufruf der <em>2-parametrigen</em> Methode <code>add</code>
        </div>
    </div>

    @tipbox() {
        Runde Klammern bei Methoden ohne oder mit nur 1 Parameter sind optional.
    }
}

@uebung() {

}
