@slidehead(chapter = "Ausblick") {
    Weiterführende Themen
} {

}

@headslide() {
    Testen
} {
    @snippet() {
        @sourceblock() {
            |import org.specs2.mutable._
            |
            |class HelloWorldSpec extends Specification {
            |
            |   "The 'Hello world' string" should {
            |
            |       "contain 11 characters" in {
            |           "Hello world" must have size(11)
            |       }
            |       "start with 'Hello'" in {
            |           "Hello world" must startWith("Hello")
            |       }
            |       "end with 'world'" in {
            |           "Hello world" must endWith("world")
            |       }
            |   }
            |}
        }
    }
}


@headslide() {
    XML
} {
    @snippet() {
        @sourceblock() {
            |class XML(title: String) {
            |
            | val page =
            |  &lt;html&gt;
            |    &lt;head&gt;
            |      &lt;title&gt;{title}&lt;/title&gt;
            |    &lt;/head&gt;
            |    &lt;body&gt;
            |      &lt;h1&gt;{title}&lt;/h1&gt;
            |      &lt;p&gt;&lt;a href="scala-lang.org"&gt;Scala&lt;/a&gt; talks XHTML&lt;/p&gt;
            |    &lt;/body&gt;
            |  &lt;/html&gt;
            |}
        }
        @callblock() {
            |println(new XML("Hello World").page.toString())
        }
    }
}


@headslide() {
    Collections II
} {
    @sourcecode() {
        |// sequentiell:
        |listOfFiles foreach (file => sendToS3(file))
    }

    @spacer()

    @sourcecode() {
        |// parallel
        |listOfFiles.par foreach (file => sendToS3(file))
    }

    @spacer2()

    @snippet() {
        @sourceblock() {
            |// lazy
            |lazy val fib: Stream[Int] = Stream.cons(0, Stream.cons(1,
            |                                fib.zip(fib.tail).map(p => p._1 + p._2)))
        }
        @callblock() {
            |fib.take(15).print
        }
    }
}


@headslide() {
    Cake Pattern
} {

        @sourcecode() {
            |trait DatabaseContext { val dataSource: Datasource }
            |
            |trait OrderRepoComp {
            |    this: DatabaseContext =>
            |
            |    trait OrderRepoImpl {
            |        // ...
            |    }
            |    val orderRepo: OrderRepoImpl
            |}
            |
            |trait ProductRepoComp {
            |    this: DatabaseContext =>
            |
            |    trait ProductRepoImpl {
            |        // ...
            |    }
            |    val productRepo: ProductRepoImpl
            |}
            |
            |object Registry extends OrderRepoComp with ProductRepoComp with DatabaseContext {
            |    val dataSource = new DatasourceImpl
            |    val orderRepo = new OrderRepoImpl
            |    val productRepo = new ProductRepoImpl
            |}
        }

}

@overview("Bibliotheken")

@overview(title: String = null) = {
    @headslide(title = title) {
        @title
    } {
        <div class="tcenter dcenter">
            <img class="naked"
                 src="https://docs.google.com/drawings/pub?id=1vSm9_gkdyPs056mS6zagWC5EB9fAEcC5hJ9yvKmrK9E&amp;w=650">
        </div>
    }
}

<!--
    - Servlets ?
-->
