@defining(Content.ausblick.label) { implicit topic =>

    @layout.slidedeck(topic) {

        @slidehead() {
            @topic
        } {

        }

        <!-- ################################################################################## -->

        @titleslide("Testen") {
            @snippet() {
                @sourceblock() {
                    |import org.specs2.mutable._
                    |
                    |class HelloWorldSpec extends Specification {
                    |
                    |  "The 'Hello world' string" should {
                    |
                    |    "contain 11 characters" in {
                    |      "Hello world" must have size(11)
                    |    }
                    |    "start with 'Hello'" in {
                    |      "Hello world" must startWith("Hello")
                    |    }
                    |    "end with 'world'" in {
                    |      "Hello world" must endWith("world")
                    |    }
                    |  }
                    |}
                }
            }
        }

        <!-- ################################################################################## -->

        @titleslide("XML") {

            @autocenter {
                @snippet(id = "xml") {
                    @sourceblock() {
                        |case class XML(title: String) {
                        |  val page =
                        |    &lt;html&gt;
                        |      &lt;head&gt;
                        |        &lt;title&gt;{title}&lt;/title&gt;
                        |      &lt;/head&gt;
                        |      &lt;body&gt;
                        |        &lt;h1&gt;{title}&lt;/h1&gt;
                        |        &lt;p&gt;
                        |          &lt;a href="scala-lang.org"&gt;Scala&lt;/a&gt;
                        |        &lt;/p&gt;
                        |      &lt;/body&gt;
                        |    &lt;/html&gt;
                        |}
                    }
                    @callblock() {
                        |val xml = XML("Hello World").page
                    }
                }
            }

            @spacer()

            @sidebyside() {
                @callcode(reference = "xml") {
                    println(xml.toString)
                }
                @codesub2() {
                    als String ausgeben
                }
            } {
                @callcode(reference = "xml") {
                    (xml \\ "a")
                }
                @codesub2() {
                    <code>&lt;a&gt;</code> Elemente extrahieren
                }
            }
        }

        <!-- ################################################################################## -->

        @*
        @titleslide("Swing") {
            @sourcecode() {
                |object SwingApp extends SimpleSwingApplication {
                |
                |  def top = new MainFrame {
                |    title = "SwingApp"
                |    var numclicks = 0
                |
                |        object label extends Label {
                |            val prefix = "Number of button clicks: "
                |            text = prefix + "0  "
                |            listenTo(button)
                |            reactions += {
                |                case ButtonClicked(button) =>
                |                    numclicks = numclicks + 1
                |                    text = prefix + numclicks
                |            }
                |        }
                |
                |        object button extends Button {
                |           text = "I am a button"
                |       }
                |
                |       contents = new FlowPanel {
                |          contents.append(button, label)
                |          border = Swing.EmptyBorder(5, 5, 5, 5)
                |        }
                |    }
                |}
            }
        }
        *@

        <!-- ################################################################################## -->

        @titleslide("Parallel Collections") {

            @spacer()

            @sourcecode() {
                |// sequential
                |listOfFiles foreach { file => sendToS3(file) }
            }

            @spacer2()

            @sourcecode() {
                |// parallel
                |listOfFiles.par foreach { file => sendToS3(file) }
            }

            @*
            @spacer2()

            @snippet() {
                @sourceblock() {
                    |// lazy
                    |lazy val fib: Stream[Int] = Stream.cons(0, Stream.cons(1,
                    |                                fib.zip(fib.tail).map(p => p._1 + p)))
                }
                @callblock() {
                    |fib.take(15).print
                }
            }
            *@
        }

        <!-- ################################################################################## -->

        @titleslide("Testen II") {
            @sourcecode() {
                |import org.specs2._
                |import org.scalacheck._
                |
                |class ScalaCheckExamples
                |   extends Specification with ScalaCheck {
                |
                |  "addition and multiplication are related" ! prop {
                |    (a: Int) => a + a == 2 * a
                |  }
                |
                |  "startsWith" ! check {
                |    (a: String, b: String) => (a + b) startsWith a
                |  }
                |}
            }
            @codesub2() {
                <em>ScalaCheck</em> generiert Testfälle
            }
        }

        <!-- ################################################################################## -->

        @titleslide("Try") {
            @sourcecode(id = "try") {
                |import scala.util.Try
                |import java.net.URL
                |
                |def parseURL(url: String): Try[URL] = Try { new URL(url) }
            }

            @spacer2()

            @indent() {
                @snippet() {
                    @callblock(reference ="try") {
                        |parseURL("invalid.url") getOrElse { new URL("http://google.com") }
                    }
                    @outblock() {
                        |res0: java.net.URL = http://google.com
                    }
                }

                @spacer()

                @snippet() {
                    @callblock(reference ="try") {
                        |parseURL("http://scala-lang.org") map { _.getProtocol }
                    }
                    @outblock() {
                        |res0: scala.util.Try[String] = Success(http)
                    }
                }
            }
        }

        <!-- ################################################################################## -->

        @titleslide("Macros") {

            @sourcecode() {
                |expect {
                |  person.name == "Fred"
                |  person.age  == 42
                |}
            }
            @codesub2() {
                Bibliothek <em>expecty</em> erlaubt Tests mit <code>==</code>
            }

            @spacer2()

            @sourcecode() {
                |import play.api.libs.json._
                |import play.api.libs.functional.syntax._
                |
                |case class Person(name: String, age: Int)
                |
                |implicit val personJSON = Json.writes[Person]
                |Json.toJson(Person("Fred", 42))
            }
            @codesub2() {
                Framework <em>Play2</em> generiert JSON-Serialisierung
            }
        }

        <!-- ################################################################################## -->

        @titleslide("Value Class") {

            @snippet() {
                @sourceblock() {
                    |case class Meter(value: Double) extends AnyVal {
                    |  def +(m: Meter): Meter = Meter(value + m.value)
                    |}
                }
                @callblock() {
                    |val x = Meter(3.5)
                    |val y = Meter(4.5)
                    |val z = x + y
                }
            }
            @codesub2() {
                zur Laufzeit wird @uline("keine") Instanz erstellt <br/> sondern Primitives verwendet!
            }

            @notes {
                - [LIMIT] nur '1' öffentliches Feld
                - [LIMIT] no vals / vars or nested traits / classes / objects
            }
        }

        <!-- ################################################################################## -->

        @*
        @titleslide("Funktionen IV") {

            @sourcecode() {
                |val f = (i: Int) => i.toString
                |val g = (s: String) => s+s+s
                |val h: Int => String = g compose f
            }

            @spacer()

            @sourcecode() {
                |val u: Option[User] = getUser(id)
                |u flatMap (_.username).
                |  flatMap (_.toUpperCase).
                |  map (_.charAt(0))
            }

            @spacer()

            @sourcecode() {
                |def getUser(id: Int): Future[User]
                |def authenticate(user: User): Future[Boolean]
                |
                |def isIdAuthed(id: Int): Future[Boolean] =
                |  getUser(id) flatMap { user => authenticate(user) }
            }
        }
        *@

        <!-- ################################################################################## -->

        @*
        @titleslide("lazy") {

            @snippet(clazz = "slim") {
                @sourceblock() {
                    |lazy val random = {
                    |  println("generating random number")
                    |  util.Random.nextInt
                    |}
                }
                @outblock() {
                    |random: Int = &lt;lazy>&gt;
                }
                @callblock() {
                    |println(random)
                }
                @outblock() {
                    |generating random number
                    |1271069754
                }
                @callblock() {
                    |println(random)
                }
                @outblock() {
                    |1271069754
                }
            }
        }
        *@

        <!-- ################################################################################## -->

        @titleslide("String Interpolation") {

            @spacer()

            @sidebyside(gap = 10) {
                @snippet() {
                    @callblock() {
                        |val age = 42
                        |val name = "Bob"
                        |
                        |s"$name, $age years old"
                    }
                    @outblock() {
                        |res0: String = Bob, 42 years old
                    }
                }
                @codesub2() {
                    <code>s</code> bettet Variablen ein
                }
            } {
                @snippet() {
                    @callblock() {
                        |val name = "Bob"
                        |val height = 1.9f
                        |
                        |f"$name, $height%1.2f meters"
                    }
                    @outblock() {
                        |res0: String = Bob, 1.90 meters
                    }
                }
                @codesub2() {
                    <code>f</code> formatiert String
                }
            }
        }

        <!-- ################################################################################## -->

        @titleslide("Datenbank") {

            @sourcecode() {
                |@@table("COFFEES") case class Coffee(
                |  @@column("COF_NAME") name:  String,
                |  @@column("SUP_ID")   supID: Int,
                |  @@column("PRICE")    price: Double
                |)
            }

            @spacer()

            @sourcecode() {
                |val coffees = Queryable[Coffee]
                |
                |val l = for {
                |  c <- coffees if c.supID == 101
                |} yield(c.name, c.price)
            }

            @spacer()

            @sourcecode() {
                |backend.result(l, session)
                |  .foreach { case (n, p) => println(n + ": " + p) }
            }
        }

        <!-- ################################################################################## -->

        @titleslide("Dynamic") {

            @snippet(clazz = "slim") {
                @sourceblock(id = "dynamic") {
                    |class KeyVal extends Dynamic {
                    |
                    |  def selectDynamic(name: String) =
                    |    println(s"select '$name'")
                    |
                    |  def updateDynamic(name: String)(arg: Any) =
                    |    println(s"update '$name' with $arg")
                    |
                    |  def applyDynamic(name: String)(args: Any*) =
                    |    println(s"apply ${args.mkString(",")} to '$name'")
                    |
                    |  def applyDynamicNamed(name: String)(args: (String, Any)*) =
                    |    println(s"apply ${args.mkString(",")} to '$name'")
                    |}
                }
            }

            @spacer()

            @sidebyside() {
                @snippet(clazz = "slim") {
                    @callblock(reference = "dynamic") {
                        |val kv = new KeyVal
                        |kv.bar(5)
                    }
                    @outblock() {
                        |apply 5 to 'bar'
                    }
                    @callblock() {
                        |kv.bar(x = 5)
                    }
                    @outblock() {
                        |apply (x,5) to 'bar'
                    }
                }
            } {
                @snippet(clazz = "slim") {
                    @callblock(reference = "dynamic") {
                        |val kv = new KeyVal
                        |kv.bar
                    }
                    @outblock() {
                        |select 'bar'
                    }
                    @callblock() {
                        |kv.bar = 5
                    }
                    @outblock() {
                        |update 'bar' with 5
                    }
                }
            }
        }

        <!-- ################################################################################## -->

        @titleslide("Cake Pattern") {

            @spacer()

            @sidebyside() {
                @sourcecode(id = "cake1") {
                    |import javax.sql.DataSource
                    |
                    |trait DatabaseContext {
                    |  val dataSource: DataSource
                    |}
                }

                @spacer_half()

                @sourcecode(reference = "cake1", id = "cake2") {
                    |trait OrderRepoComp {
                    |  this: DatabaseContext =>
                    |
                    |  class OrderRepoImpl {
                    |    // ...
                    |  }
                    |
                    |  val orderRepo: OrderRepoImpl
                    |}
                }
            } {
                @spacer2()

                @sourcecode(reference = "cake2") {
                    |object Registry extends OrderRepoComp
                    |                with DatabaseContext {
                    |
                    |  val orderRepo  = new OrderRepoImpl
                    |  val dataSource = DatabaseDriver.getDS
                    |}
                }
            }
        }

        <!-- ################################################################################## -->

        @titleslide(title = "Bücher") {

            @sidebyside() {
                @sidebyside() {
                    @fragment {
                        @image("programmingscala.jpeg", clazz = "naked", height = 350)
                    }
                } {
                    @fragment {
                        @image("seeberger.jpeg", clazz = "naked", height = 350)
                    }
                }
            } {
                @sidebyside() {
                    @fragment {
                        @image("scalaimpatient.jpeg", clazz = "naked", height = 350)
                    }
                } {
                    @fragment {
                        @image("scala-in-depth.jpeg", clazz = "naked", height = 350)
                    }
                }
            }
        }

        <!-- ################################################################################## -->

        @titleslide(title = "Übungen") {

            @image("koans2.png", clazz = "naked", height = 350)

            @codesub2(fragment = false) {
                http://www.scalakoans.org/
            }
        }

        <!-- ################################################################################## -->

        @titleslide(title = "Übungen", subtitle = "II", connector = "") {

            @image("scalapuzzlers.png", clazz = "naked", height = 350)

            @codesub2(fragment = false) {
                http://scalapuzzlers.com/
            }
        }

        <!-- ################################################################################## -->

        @titleslide(title = "Übungen", subtitle = "III", connector = "") {

            @image("99-scala.png", clazz = "naked", height = 550)

            @codesub2(fragment = false) {
                http://aperiodic.net/phil/scala/s-99/
            }
        }

        <!-- ################################################################################## -->

        @titleslide(title = "Best Practices") {

            @image("scaladocs.png", clazz = "naked", height = 350)

            @codesub2(fragment = false) {
                http://docs.scala-lang.org
            }
        }

        <!-- ################################################################################## -->

        @titleslide(title = "Best Practices", subtitle = "II", connector = "") {
            @image("effectivescala.png", clazz = "naked", height = 350)

            @codesub2(fragment = false) {
                http://twitter.github.com/effectivescala/
            }
        }

        <!-- ################################################################################## -->

        @slide() {
            @spacer2()
            @spacer()

            <div class="dcenter tcenter">
                <h1>
                    The End <em class="fragment">?</em>
                </h1>

                @spacer()

                <h3>
                    teilnehmer.foreach(t => println("Bye " + t))
                </h3>
            </div>
        }
    }
}
