@defining("Intro") { implicit topic =>

    @layout.slidedeck(topic) {

        @slidehead() {
            Willkommen
        } {
            teilnehmer.foreach(t => println("Hallo " + t))
        }

        <!-- ################################################################################## -->

        @headslide(title = "Tutego") {
            Tute<em>go</em>
        } {
            <ul>
                <li>Inhouse-Schulungen mit individualisierten Inhalten und individueller Terminauswahl</li>
                <li><em>Über 230 Seminare</em></li>
                <li>Kernkompetenz <em>Java</em> (70 Themen)
                    @spacer_half()
                    <ul>
                        <li>Europaweit führende Position im Bereich Java-Schulungen</li>
                    </ul>
                </li>
                <li>Hochqualifizierte und zertifizierte Referenten</li>
                <li>Firmengründung 1997 von <em>Christian Ullenboom</em>, den Sun als Java Champion auszeichnete</li>
            </ul>
        }

        <!-- ################################################################################## -->

        @headslide(title = "Vorstellung") {
            <em>Vor</em>stellung
        } {
            <ul>
                <li>Name ?</li>
                <li>Erster Java-Kontakt ?</li>
                <li>Woran arbeiten Sie so ?</li>
                <li>Vorkenntnisse in Scala ?</li>
                <li>Befürchtungen ?</li>
                <li>Erwartungen und Wünsche ?</li>
            </ul>

            @notes {
                - selbst vorstellen
                    - Wünsche: direkt fragen & mitarbeiten
                - andere vorstellen lassen (mitschreiben!)
            }
        }

        <!-- ################################################################################## -->

        @headslide(title = "Ablauf", clazz = "wide") {
            <em>Ablauf</em>
        } {
            <div class="dcenter" >
                <table id="timetable">
                    <tr>
                        <td>
                            <h4>Tag 1</h4>

                            @spacer()

                            <table>
                                <tr>
                                    <td>
                                        <em>9:00 - 10:30</em>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="smaller">
                                        Pause
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <em>10:45 - 12:15</em>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="smaller">
                                        Mittagspause
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <em>13:00 - 14:30</em>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="smaller">
                                        Pause
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <em>14:45 - 16:15</em>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="smaller">
                                        Pause
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <em>16:30 - 17:15</em>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <h4>Tag 2</h4>

                            @spacer()

                            <table>
                                <tr>
                                    <td>
                                        <em>9:00 - 10:30</em>
                                    </td>
                                   
                                </tr>
                                <tr>
                                    <td colspan="2" class="smaller">
                                        Pause
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <em>10:45 - 12:15</em>
                                    </td>
                                    
                                </tr>
                                <tr>
                                    <td colspan="2" class="smaller">
                                        Mittagspause
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <em>13:00 - 14:30</em>
                                    </td>
                                    
                                </tr>
                                <tr>
                                    <td colspan="2" class="smaller">
                                        Pause
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <em>14:45 - 16:15</em>
                                    </td>
                                    
                                </tr>
                                <tr>
                                    <td colspan="2" class="smaller">
                                        Pause
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <em>16:30 - 17:15</em>
                                    </td>
                                    
                                </tr>
                            </table>
                        </td>
                        <td>
                            <h4>Tag 3</h4>

                            @spacer()

                            <table>
                                <tr>
                                    <td>
                                        <em>9:00 - 10:30</em>
                                    </td>
                                    
                                </tr>
                                <tr>
                                    <td colspan="2" class="smaller">
                                        Pause
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <em>10:45 - 12:15</em>
                                    </td>
                                    
                                </tr>
                                <tr>
                                    <td colspan="2" class="smaller">
                                        Mittagspause
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <em>13:00 - 14:30</em>
                                    </td>
                                    
                                </tr>
                                <tr>
                                    <td colspan="2" class="smaller">
                                        Pause
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <em>14:45 - 16:15</em>
                                    </td>
                                    
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        }

        <!-- ################################################################################## -->

        @headslide(title = "Ziele") {
            <em>Ziele</em>
        } {
            <ul class="fragments">
                <li>
                    Scala-Programme <em>schreiben</em>
                </li>
                <li>
                    funktional und objektorientiert <em>programmieren</em>
                </li>
                <li>
                    Vor- und Nachteile von Scala <em>kennen</em>
                </li>
                <li>
                    Grundkonzepte <em>verinnerlichen</em>
                </li>
            </ul>

            @notes {
                - selbst vorstellen
                    -
                - andere vorstellen lassen (mitschreiben!)
            }
        }

        <!-- ################################################################################## -->

        @*@headslide(title = "Inhalt") {
            <em>Inhalt</em>
        } {
            <div class="indent">
                <ul>
                    <li class="fragment">
                        <h4>Basics</h4>
                        @li(Html("Syntax, Bedingungen, Parameter, Typen, Variablen, Methoden, Pakete, Import"))
                    </li>
                    <li class="fragment">
                        <h4>Objektorientierung</h4>
                        @li(Html("Klassen, Objekte, Vererbung, Konstruktor, Traits, override & abstract, Linearisierung"))
                    </li>
                    <li class="fragment">
                        <h4>Typensystem</h4>
                        @li(Html("Typenhierarchie, Datentypen, Array, Tuple, Option, Collections, Typ-Parameter, Bounds"))
                    </li>
                    <li class="fragment">
                        <h4>Funktionale Programmierung</h4>
                        @li(Html("Higher-Order Functions, map, flatMap, For-Expressions, partial & anonymous Functions"))
                    </li>
                    <li class="fragment">
                        <h4>Fortgeschrittene Themen</h4>
                        @li(Html("specs2, Implicits, XML, Recursion, Java-Integration, DSLs, Extractors, Cake Pattern, Actors"))
                    </li>
                    <li class="fragment">
                        <h4>Weiterführende Themen</h4>
                        @li(Html("Test- und Web-Frameworks, Bibliotheken"))
                    </li>
                </ul>
            </div>
        }*@
    }
}