@slidehead(title = "Erste Schritte", chapter = "Basics") {
    Erste Schritte
} {
   Ein kleiner Schritt für einen Entwickler ...
}


@slide() {
} {
    <div class="sidebyside p40_60">
        <div>
            @snippet() {
                @callblock(fragment = false) {
                    |42
                }
                @outblock() {
                    |res0: Int = 42
                }
            }
        </div>

        <div>
            <ul class="indent">
                <li class="fragment">
                    <code>res0</code> ist der Name der Variable <br/>
                    <comment>(fortlaufend nummeriert)</comment>
                </li>
                <li class="fragment">
                    <code>Int</code> ist Typ der Variable <br/>
                    <comment>(automatisch ermittelt)</comment>
                </li>
                <li class="fragment">
                    <code>42</code> ist Wert der Variable <br/>
                    <comment>(via <code>toString()</code>)</comment>
                </li>
            </ul>
        </div>
    </div>
}


@slide() {
} {
    <div class="sidebyside">
        @snippet() {
            @callblock(fragment = false) {
                |42.toString()
            }
            @outblock() {
                |res0: java.lang.String = 42
            }
        }
        <div>
            Methode <code>toString</code> von Objekt <code>42</code>
        </div>
    </div>

    <hr/>

    <div class="fragment sidebyside">
        @snippet() {
            @callblock(fragment = false) {
                |42.isWhole()
            }
            @outblock() {
                |res1: Boolean = true
            }
        }
        <div>
            Methode <code>isWhole</code>
        </div>
    </div>

    <hr/>

    <div class="fragment sidebyside">
        @snippet() {
            @callblock(fragment = false) {
                |42.==(42)
            }
            @outblock() {
                |res2: Boolean = true
            }
        }
        <div>
            Methode <code>==</code>
        </div>
    </div>

    <hr/>

    @infobox() {
        Alles ist ein Objekt und jedes Objekt kann Operatoren als Methoden haben.
    }
}