@slide(title = "Exceptions") {
    <!-- Catch -->
} {
    <div class="sidebyside p66_33">
        @snippet() {
            @sourceblock(fragment = false) {
                |def getWords(msg: String) =
                |   try {
                |       println(msg.split(' '))
                |   } catch {
                |       case ex: NullPointerException =>
                |           println("No message")
                |       case _ =>
                |           println("Unexpected internal error")
                |   } finally {
                |       // cleanup
                |   }
            }
            @callblock() {
                |getWords(null)
            }
            @outblock() {
                |No message
            }
        }
        @empty()
    </div>

    @infobox() {
        In einem <code>try/catch</code>-Block kommt Pattern Matching zum Einsatz.
    }
}

@slide() {
    <!-- Throw -->
} {
    <div class="sidebyside p66_33">
        @snippet() {
            @sourceblock(id = "fuel-exception", fragment = false) {
                |def sufficientFuel(f: Float) =
                |  if(f == 0.0)
                |    throw new RuntimeException("Not enough fuel!")
            }
            @callblock() {
                |sufficientFuel(0)
            }
            @outblock() {
                |java.lang.RuntimeException: Not enough fuel!
            }
        }
        @empty()
    </div>

    @infobox() {
        Mit <code>throw</code> wird eine Ausnahme ausgelöst,
        eine Angabe der möglichen Ausnahmen einer Methode kann/muss nicht spezifiziert werden.
    }
}


@uebung() {
    TODO
}