@slide(title = "Pakete") {
} {
    <div class="sidebyside p60_40">
        @sourcecode(fragment = false) {
            |// file learnscala/src/main/scala/Plane.scala
            |package de.learnscala
            |
            |class Plane
        }
        @fragment {
            Klasse <code>Plane</code> ist direkt im Quellcodeverzeichnis in <var>Plane.scala</var>
            definiert - hat aber das Paket <code>com.learnscala</code>
        }
    </div>

    <hr/>

    @infobox() {
        <code>package</code> leitet die Namensgebung eines Paketes ein -
        Dateipfad und Paketpfad <strong>müssen nicht</strong> übereinstimmen.
    }
}

@slide() {
    <!-- private[Package] -->
} {
    <div class="sidebyside p60_40">
        @sourcecode(fragment = false) {
            |package de.learnscala.crew
            |
            |class private[learnscala] Plane
        }
        @fragment {
            <code>private[learnscala]</code> beschränkt den Zugriff auf
            das Paket <code>learnscala</code> <comment class="nobreak">(und dessen Unterpakete)</comment>
        }
    </div>

    <hr/><hr/>

    <div class="sidebyside p60_40">
        @sourcecode() {
            |package de.learnscala.crew
            |
            |class private[crew] Pilot
        }
        @fragment {
            <code>private[crew]</code> beschränkt den Zugriff auf
            das Paket <code>crew</code> <comment class="nobreak">(und dessen Unterpakete)</comment>
        }
    </div>

    <hr/><hr/>

    @infobox() {
        Die Sichtbarkeit von Klassen, Variablen und Methoden kann mittels
        <code>private[Package]</code> auf ein Paket und dessen Unterpakete begrenzt werden.
    }
}

@slide() {
    <!-- Package Objects -->
} {
    <div class="sidebyside p66_33">
        @sourcecode(fragment = false) {
            |// file "package.scala"
            |package object util {
            |
            |  val wingsPerPlane = 2
            |
            |  def sufficientFuel(f: Float) = {
            |    if(f == 0.0)
            |      throw new RuntimeException("Not enough fuel!")
            |  }
            |}
        }
        @empty()
    </div>

    <hr/>

    <div class="sidebyside p66_33">
        @sourcecode() {
            |package scala
            |
            |package object math extends MathCommon {
            |
            |  def sinh(x: Double): Double = java.lang.Math.sinh(x)
            |  def cosh(x: Double): Double = java.lang.Math.cosh(x)
            |  def tanh(x: Double): Double = java.lang.Math.tanh(x)
            |  // ...
            |}
        }
        @empty()
    </div>
}


@*@uebung() {
    Die Übung ist unter
        <code>/src/main/scala/de/learnscala/uebungen/<em>U120.scala</em></code>
    zu finden.

    <hr/>

    Die dazugehörige Testspezifikation unter
        <code>/src/test/scala/de/learnscala/specs/<var>S120.scala</var></code>.
}*@

<!--
    - Sub-Packages ?
    - Super-Packages ?
-->