@slide(title = "Pakete") {
    Pakete
} {
    <div class="sidebyside p60_40">
        @sourcecode(fragment = false) {
            |// file scalawings/src/main/scala/Plane.scala
            |package de.scalawings
            |
            |class Plane
        }
        @fragment {
            Klasse <code>Plane</code> ist direkt im Quellcodeverzeichnis in <var>Plane.scala</var>
            definiert - hat aber das Paket <code>com.scalawings</code>
        }
    </div>

    <hr/>

    @infobox() {
        <code>package</code> leitet die Namensgebung eines Paketes ein -
        Dateipfad und Paketpfad <strong>müssen nicht</strong> übereinstimmen.
    }
}

@slide() {
    <!-- private[Package] -->
} {
    <div class="sidebyside p60_40">
        @sourcecode(fragment = false) {
            |package de.scalawings.crew
            |
            |class private[scalawings] Plane
        }
        @fragment {
            <code>private[scalawings]</code> beschränkt den Zugriff auf
            das Paket <code>scalawings</code> <comment class="nobreak">(und dessen Unterpakete)</comment>
        }
    </div>

    <hr/><hr/>

    <div class="sidebyside p60_40">
        @sourcecode() {
            |package de.scalawings.crew
            |
            |class private[crew] Pilot
        }
        @fragment {
            <code>private[crew]</code> beschränkt den Zugriff auf
            das Paket <code>crew</code> <comment class="nobreak">(und dessen Unterpakete)</comment>
        }
    </div>

    <hr/><hr/>

    @infobox() {
        Die Sichtbarkeit von Klassen, Variablen und Methoden kann mittels
        <code>private[Package]</code> auf ein Paket und dessen Unterpakete begrenzt werden.
    }
}

<!--
    - Sub-Packages ?
    - Super-Packages ?
-->