@slide(title = "Hierarchie", chapter = "Typen") {
    <!-- Hierarchie: Any -->
} {
    <div class="sidebyside">
        <div>
            <img class="naked"
                 src="https://docs.google.com/drawings/pub?id=1rohDVf9bLpnQOdnrA-ODUQXHt1BWXUFvvP70bkyLlsU&amp;h=595">
        </div>
        @fragment {
            <h4>Typ 'Any'</h4>
            <hr/>
            <div class="indent">
                <ul>
                    <li>gemeinsame Super-Klasse aller Typen</li>
                    <li>
                        finale Methoden:
                        <hr/>
                        <ul>
                            <li><code>==</code></li>
                            <li><code>!=</code></li>
                            <li><code>isInstanceOf</code></li>
                            <li><code>asInstanceOf</code></li>
                        </ul>
                    </li>
                    <li>
                        Standardimplementierungen für:
                        <hr/>
                        <ul>
                            <li><code>equals</code></li>
                            <li><code>hashCode</code></li>
                            <li><code>toString</code></li>
                        </ul>
                    </li>
                </ul>
            </div>
        }
    </div>
}


@slide() {
    <!-- Hierarchie: AnyVal -->
} {
    <div class="sidebyside">
        <div>
            <img class="naked"
                 src="https://docs.google.com/drawings/pub?id=19k3tuSEN-J5VTHvJJb-3ObAfj8P57cAkhBKIEgJJ7WI&amp;h=595">
        </div>
        @fragment {
            <h4>Typ 'AnyVal'</h4>
            <hr/>
            <div class="indent">
                <ul>
                    <li>"Value Types"</li>
                    <li class="fragment">
                        kann nicht direkt verebt (final) oder instanziiert (abstrakt) werden
                    </li>
                    <li class="fragment">
                        entspricht primitiven Datentypen aus <var>Java</var> <comment>(werden im Hintergrund auch verwendet)</comment>
                    </li>
                    <li class="fragment">
                        Ausnahme ist <em>Scala</em>-spezifischer Typ <code>Unit</code> <comment>(wie <code>void</code>)</comment>
                    </li>
                </ul>
            </div>
        }
    </div>
}


@slide() {
    <!-- Hierarchie: AnyRef -->
} {
    <div class="sidebyside">
        <div>
            <img class="naked"
                 src="https://docs.google.com/drawings/pub?id=1BUr9qK8XaZ_GbMztJqmY7iOmuepP1qoCas7brZ0XJWA&w=734&h=614&amp;h=595">
        </div>
        @fragment {
            <h4>Typ 'AnyRef'</h4>
            <hr/>
            <div class="indent">
                <ul>
                    <li>"Reference Types"</li>
                    <li class="fragment">
                        entspricht <code>java.lang.Object</code>
                    </li>
                    <li class="fragment">
                        vererbt an <var>Java-Klassen</var> <comment>(z.B. java.lang.String)</comment>
                        und <em>Scala-Klassen</em> <comment>(z.B. scala.Predef)</comment>
                    </li>
                    <li class="fragment">
                        zusätzlich erben <em>Scala-Klassen</em> vom Trait <code>ScalaObject</code>
                        <comment>(einzig für interene Zwecke)</comment>
                    </li>
                </ul>
            </div>
        }
    </div>
}


@slide() {
    <!-- Hierarchie: Null -->
} {
    <div class="sidebyside">
        <div>
            <img class="naked"
                 src="https://docs.google.com/drawings/pub?id=1DT7OetZ3WkNsUa-rGlJwbBdbPOGXuzdmK1rks6DCqBc&amp;h=595">
        </div>
        <div>
            @fragment {
                <h4>Typ 'Null'</h4>
                <hr/>
                <div class="indent">
                    <ul>
                        <li>"Bottom Type"</li>
                        <li class="fragment">
                            Unterklasse von allen Reference Types
                        </li>
                        <li class="fragment">
                            einziger möglicher Wert ist <code>null</code>
                        </li>
                    </ul>
                    <hr/>
                    @snippet() {
                         @callblock() {
                             |val i: Int = null
                         }
                         @outblock(error = true) {
                             |error   : type mismatch;
                             |found   : Null(null)
                             |required: Int
                         }
                    }
                    <hr/>
                    @snippet() {
                         @callblock() {
                             |s: String = null
                         }
                         @outblock() {
                             |s: String: Null = null
                         }
                    }
                </div>
            }
        </div>
    </div>
}


@slide() {
     <!-- Hierarchie: Nothing -->
} {
     <div class="sidebyside">
         <div>
             <img class="naked"
                  src="https://docs.google.com/drawings/pub?id=1TTuoy1DRDc5o7DcBu8zuK4vXQUXawnaAzLfP29kMR-E&amp;h=595">
         </div>
         <div>
             @fragment {
                 <h4>Typ 'Nothing'</h4>
                 <hr/>
                 <div class="indent">
                     <ul>
                         <li>"Bottom Type"</li>
                         <li class="fragment">
                             Unterklasse aller Typen
                         </li>
                         <li class="fragment">
                             hat keinen Wert, wird aber z.B. bei Exceptions benötigt:
                             <hr/>
                             @snippet() {
                                 @sourceblock(fragment = false) {
                                     |def error(msg: String) =
                                     |  throw new RuntimeException(msg)
                                 }
                                 @outblock() {
                                     |error: (msg: String)Nothing
                                 }
                             }
                             <hr/>
                              @snippet() {
                                  @sourceblock() {
                                      |def divide(x: Int, y: Int): Int =
                                      |  if (y != 0) x / y
                                      |  else error("can't divide by zero")
                                  }
                                  @outblock() {
                                      |divide: (x: Int, y: Int)Int
                                  }
                              }
                         </li>
                     </ul>
                 </div>
             }
         </div>
     </div>
 }


@slide() {
    <!-- Typenüberprüfung -->
} {
    <div class="sidebyside p66_33">
        @snippet() {
            @sourceblock(fragment = false) {
                |trait Employee
                |class Pilot extends Employee
                |class Stewardess extends Employee
                |
                |class Passenger
            }
        }
        @empty()
    </div>

    @infobox() {
        TODO
    }
}


@slide() {
    <!-- Equality -->
} {

}


@slide() {
    <!--Typ-Parameter-->
} {

}