@slide(title = "Rekursion") {
    Rekursion
} {
    TODO
    <!--<div class="sidebyside p66_33">
        @snippet() {
            @callblock(fragment = false) {
                |def factorial(n: Int): Int = {
                |   var acc = 1
                |   for (i <- 2 to n) {
                |     acc *= i
                |   }
                |   acc
                |}
            }
            @outblock() {
                |factorial: (n: Int)Int
            }
            @callblock() {
                |factorial(4)
            }
            @outblock() {
                |res0: Int = 24
            }
            @callblock() {
                |factorial(10000)
            }
            @outblock() {
                |res0: Int = 24
            }
        }
        <div>

        </div>
    </div>-->
}


<!--
@slide() {
} {
    <div class="sidebyside p66_33">
        @snippet() {
            @callblock(fragment = false) {
                |def factorial(n: Int) =
                |   if (n == 0) 1 else n * factorial(n - 1)
            }
            @outblock(error = true) {
                |error: recursive method factorial needs result type
            }
        }
        <div>

        </div>
    </div>

    <hr/>

    <div class="sidebyside p66_33">
        @snippet() {
            @callblock() {
                |def factorial(n: Int): Int =
                |   if (n == 0) 1 else n * factorial(n - 1)
            }
            @outblock() {
                |factorial: (n: Int)Int
            }
            @callblock() {
                |factorial(4)
            }
            @outblock() {
                |res0: Int = 24
            }
            @callblock() {
                |factorial(1000)
            }
            @outblock() {
                |res1: Int = 24
            }
        }
        <div>

        </div>
    </div>
}


@slide() {
    &lt;!&ndash; @@tailrec &ndash;&gt;
} {
    <div class="sidebyside p66_33">
        @snippet() {
            @callblock() {
                |def factorial(n: Int): Int =
                |   if (n == 0) 1 else n * factorial(n - 1)
            }
            @outblock() {
                |factorial: (n: Int)Int
            }
            @callblock() {
                |
            }
        }
        <div>

        </div>
    </div>
}-->
