@slidehead(chapter = "Ausblick") {
    Weiterführende Themen
} {

}

@overview

@S610()
@S611()

@overview

@S620()
@S621()
@S622()
@S623()
@S624()
@S625()
@S626()

@overview

@S630()
@S631()
@S632()

@*@overview

@S640()
@S641()*@

@overview

@S650()
@S651()
@S652()



@overview = {
    @slide() {
    } {
        <div class="tcenter dcenter">
            <img class="naked"
                 src="https://docs.google.com/drawings/pub?id=1vSm9_gkdyPs056mS6zagWC5EB9fAEcC5hJ9yvKmrK9E&amp;w=650">
        </div>
    }
}

<!--
    - Servlets ?
-->
