@slidehead() {
    Werkzeuge
} {
    Homo scalacus
}


@slide() {
    Übersicht
} {
    @overview
}
        

@slide()(null) {
    <div class="indent">
        <div class="sidebyside">
            <div>
                <h3>
                    <em>scala-compiler</em>.jar
                </h3>
                <div class="indent">
                    <ul>
                        <li class="fragment">
                            rund <em>11 MB</em> groß
                        </li>
                        <li class="fragment">
                            benötigt zum <br/> <em>Kompilieren</em>
                        </li>
                        <li class="fragment">
                            <em>erstellt Java-Bytecode</em> <br/> aus Scala- und Java-Dateien
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <h3>
                    <em>scala-library</em>.jar
                </h3>
                <div class="indent">
                    <ul>
                        <li class="fragment">
                            rund <em>8.6 MB</em> groß
                        </li>
                        <li class="fragment">
                            benötigt zum <br/> <em>Kompilieren und Ausführen</em>
                        </li>
                        <li class="fragment">
                            <em>enthält Scala-Klassen</em> <br/> und -Sprachelemente <br/>
                            <comment>(wie Collections, Annotationen etc.)</comment>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}


@slide() {
    Übersicht
} {
    @overview
}


@slide() {
    &gt;<em> scalac</em>
} {
    <div class="indent">
        <ul>
            <li><em>Skript</em>: kompiliert <em>Scala-Code</em> zu <var>Java-Bytecode</var>
                <hr/>
                @outcode(fragment = true) {
                    |$ scalac HelloWorld.scala
                }
            </li>
            <li class="fragment">braucht typischerweise etwas länger als der Java-Compiler <var>javac</var></li>
        </ul>
    </div>
}

    
@slide() {
    &gt;<em> fsc</em>
} {
    <div class="indent">
        <ul>
            <li><var>fast scala compiler</var></li>
            <li><em>Skript</em>: kompiliert Scala-Code mittels Hintergrundprozess</li>
            <li class="fragment">
                kompiliert schneller als <em>scalac</em>: Startzeit fällt weg plus Caching
                <hr/>
                @outcode() {
                    |$ fsc HelloWorld.scala   // erster Aufruf, Prozess wird gestartet und kompiliert
                    |
                    |$ fsc HelloWorld.scala   // zweiter Aufruf, Prozess kompiliert direkt
                }
                <hr/>
            </li>
        </ul>
    </div>
}

    
@slide() {
    &gt;<em> scala</em>
} {
    <div class="indent">
        <ul>
            <li>
                <em>Skript</em>: führt Scala-Programme aus
                <hr/>
                <div class="indent">
                    <ol>
                        <li class="fragment">
                            kompilierte Programme
                            <hr/>
                            @outcode() {
                                |$ scala HelloWorld
                                |
                                |$ Hello World
                            }
                            <hr/>
                            <div class="fragment">
                                alternativ kann natürlich auch <var>java</var> verwendet werden:
                                <hr/>
                                @outcode() {
                                    |$ java -classpath lib/scala-library.jar HelloWorld
                                    |
                                    |$ Hello World
                                }
                            </div>
                        </li>
                        <li class="fragment">
                            interaktive Programme
                            <hr/>
                            @outcode() {
                                |$ scala
                                |
                                |scala> 1 + 2
                                |res0: Int = 3
                            }
                        </li>
                    </ol>
                </div>
            </li>
        </ul>
    </div>
}


@*
@slide() {
    Zusammenfassung
} {
    @summaries.werkzeuge()
}
*@
    

@overview = {
    <div class="tcenter">
        <img class="naked"
             src="https://docs.google.com/drawings/pub?id=1X-TUMbxK4vkC96NLMAQsqPn51lr5RL_ZGQn4_RGtpTo&amp;h=600">
    </div>
}