@slide(title = "Willkommen", chapter = "Intro")(null) {
    <h1><em>Willkommen</em></h1>
    <hr/>
    <h3 class="banner">teilnehmer.foreach(t => println("Hallo " + t))</h3>
}


<!--<section>
    <h3>Zu Tutego</h3>
    <ul>
        <li>Inhouse-Schulungen mit individualisierten Inhalten und individueller Terminauswahl</li>
        <li>Über 230 Seminare</li>
        <li>Kernkompetenz Java (70 Themen)
            <ul>
                <li>Europaweit führende Position im Bereich Java-Schulungen</li>
            </ul>
        </li>
        <li>Hochqualifizierte und zertifizierte Referenten</li>
        <li>Firmengründung 1997 von Christian Ullenboom, den Sun als Java Champion auszeichnete</li>
    </ul>
</section>-->


@slide() {
    Zu meiner <em>Person</em>
} {
    TODO
    <!--
        kein Theoretiker, Anwender
    -->
}


@slide() {
    Nun zu <em>Ihnen</em> ...
} {
    <div class="indent">
        <ul>
            <li>Name ?</li>
            <li>erster Java-Kontakt ?</li>
            <li>woran arbeiten Sie so ?</li>
            <li>Vorkenntnisse in Scala ?</li>
            <li>Erwartungen und Wünsche ?</li>
        </ul>
    </div>
}


@slide() {
    Zum <em>Ablauf</em>
} {
    TODO
}


@slide() {
    Zum <em>Inhalt</em>
} {
    <div class="indent">
        <ul>
            <li class="fragment">
                <h4>Basics</h4>
                @li(Html("Syntax, Bedingungen, Parameter, Typen, Variablen, Methoden, Pakete, Import"))
            </li>
            <li class="fragment">
                <h4>Objektorientierung</h4>
                @li(Html("Klassen, Objekte, Vererbung, Konstruktor, Traits, override & abstract, Linearisierung"))
            </li>
            <li class="fragment">
                <h4>Typensystem</h4>
                @li(Html("Typenhierarchie, Datentypen, Array, Tupel, Option, Collections, Typ-Parameter, Bounds"))
            </li>
            <li class="fragment">
                <h4>Funktionale Programmierung</h4>
                @li(Html("Higher-Order Functions, map, flatMap, For-Expressions, partial & anonymous Functions"))
            </li>
            <li class="fragment">
                <h4>Testen mit Scala</h4>
                @li(Html("specs2, scalacheck, IDE Integration, sbt"))
            </li>
            <!--<li class="fragment">
                <h4>Fortgeschrittene Funktionen</h4>
                @li(Html("Implicits, Tail Recursion, DSLs, Extractors, Cake Pattern, Actors"))
            </li>-->
            <li class="fragment">
                <h4>Weiterführende Themen</h4>
                @li(Html("Test- und Web-Frameworks, Bibliotheken, Java-Integration"))
            </li>
        </ul>
    </div>
}


@slide() {
    Zum <em>Szenario</em>
} {

    <div>
        @fragment {
            Sie sind ein irischer Milliardär
            <span class="fragment">und nach dem Verkauf ihrer letzten Firma <em>devbliss</em> erstmal Urlaub.</span>
        }

        <hr/><hr/>

        <div class="sidebyside p40_60">
            @fragment {
                <img src="/assets/img/hammock2.jpg" height="250">
            }

            <div>
                <div>
                    <span class="fragment">
                        Am Strand auf der Insel <em>Java</em>, in einer Hängematte liegend,
                        genießen Sie die warme Brise und lauschen den Wellen.
                    </span>
                </div>

                <hr/>

                <div>
                    <span class="fragment">
                    Das Leben kann so schön sein.<br/>
                    </span>
                    <span class="fragment">
                        Es gibt nur ein Problem:<br/>
                    </span>
                    <span class="fragment">
                        Sie sind zu Tode <var>gelangweilt!</var>
                    </span>
                </div>
            </div>
        </div>

        <hr/>

        @fragment {
            Der Vollblutunternehmer in Ihnen hat eine neue Geschäftsidee
            <span class="fragment">- eine eigene Fluglinie:</span>
            <span class="fragment"><em>ScalaWings</em>.</span>
        }

        <hr/>

        @fragment {
            Doch dafür gilt es <em>noch viel zu lernen ...</em>
        }
    </div>
}