@slide()(null) {
    <h1><em>Willkommen</em></h1>
    <hr/>
    <h3 class="banner">teilnehmer.foreach(t => println("Hallo " + t))</h3>
}


<!--<section>
    <h3>Zu Tutego</h3>
    <ul>
        <li>Inhouse-Schulungen mit individualisierten Inhalten und individueller Terminauswahl</li>
        <li>Über 230 Seminare</li>
        <li>Kernkompetenz Java (70 Themen)
            <ul>
                <li>Europaweit führende Position im Bereich Java-Schulungen</li>
            </ul>
        </li>
        <li>Hochqualifizierte und zertifizierte Referenten</li>
        <li>Firmengründung 1997 von Christian Ullenboom, den Sun als Java Champion auszeichnete</li>
    </ul>
</section>-->


@slide() {
    Zu meiner <em>Person</em>
} {
    <!--
        kein Theoretiker, Anwender
    -->
}


@slide() {
    Nun zu <em>Ihnen</em> ...
} {
    <div class="indent">
        <ul>
            <li>Name ?</li>
            <li>erster Java-Kontakt ?</li>
            <li>Vorkenntnisse in Scala ?</li>
            <li>Erwartungen und Wünsche ?</li>
        </ul>
    </div>
}


@slide() {
    Zum <em>Ablauf</em>
} {

}


@slide() {
    Zum <em>Inhalt</em>
} {

}


@slide() {
    Zum <em>Szenario</em>
} {

    <h4 class="fragment">
        Sie sind ein irischer Milliardär und nach dem Verkauf ihrer letzten Firma <em>devbliss</em>
        machen Sie jetzt Urlaub auf der Insel <em>Java</em>.
    </h4>

    <h4 class="fragment">
        Am Strand in einer Hängematte liegend,
        genießen eine warme Briese und lauschen den Wellen.
    </h4>

    <div class="fragment tcenter">
        <img src="/assets/img/hammock.jpg" width="400">
    </div>

    <hr/>

    <h4 class="fragment">
        Das Leben kann so schön sein, es gibt nur ein Problem:
        <span class="fragment">
            Sie sind zu Tode <var>gelangweilt!</var>
        </span>
        <span class="fragment">
            Der Vollblutunternehmer in Ihnen hat eine neue Geschäftsidee - eine eigene Fluglinie:
            <span class="fragment"><em>ScalaWings</em>.</span>
        </span>
        <span class="fragment">
            Doch dafür gilt es <em>noch viel zu lernen ...</em>
        </span>
    </h4>
}