<p>
    Ihr Trainer bin ich, Stephan Behnke:
    <strong>selbstständiger Unternehmer und Softwareentwickler</strong>.
    Nach einem Studium der Wirtschaftsinformatik half ich mehreren Firmen bei der Entwicklung ihres
    Backend-Systems, anfangs mit Hilfe von Java, später dann mit Scala. Insgesamt habe ich
    <strong>drei Scala-basierte Systeme</strong> auf den Weg gebracht.
</p>

<p>
    Softwareentwicklung ist meine Leidenschaft und Scala das beste Werkzeug dazu -
    ich freue mich darauf, Ihnen das in meiner Schulung zu vermitteln.
</p>