<p>
    Ihr Trainer bin ich, Stephan Behnke:
    <strong>selbstständiger Unternehmer, Softwareentwickler</strong> und Mitglied der Berliner Scala-Gruppe.
    Nach einem Studium der Wirtschaftsinformatik war ich als Freelancer im Bereich Java für mehreren Firmen tätig;
    später auch unter Anwendung von Scala, das ich seit 2008 verwende.
</p>

<p>
    Softwareentwicklung ist meine Leidenschaft und Scala das beste Werkzeug dazu -
    ich freue mich darauf, Ihnen das in meiner Schulung zu vermitteln.
</p>