<h4>Persönlich</h4>

<p>
    Um diesen Kurs zu besuchen, sollten Sie Erfahrungen mit <strong>einer Programmiersprache</strong> haben;
    idealerweise Java, C++, C# oder Ruby.
    Vorkenntnisse in Scala sind @underline("nicht") erforderlich.
</p>

<div>&nbsp;</div>

<h4>Technik</h4>

<p>    
    Technische Voraussetzungen sind ein <strong>eigener Laptop</strong>.
    Dieser sollte <strong>WLAN</strong>-Zugang haben und
    ausreichend schnell sein (mind. 1 GHz, 2 GB RAM), das Betriebssystem ist beliebig.
    Außerdem muss mindestens das
    <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">Java Developer Kit 6</a>
    installiert sein.
</p>