@*<p>
    Am Ende der zwei Tage sind Sie in der Lage <strong>
    eigene Scala-Applikationen
    im funktionalen Stil
</strong> zu schreiben und zu <strong>testen</strong>
    sowie die notwendigen <strong>Tools effektiv zu nutzen</strong>.
    Und Sie hatten ehrlich <strong>Spaß</strong> dabei.
</p>*@

<p>
    Nach Abschluss dieses Kurses können Sie in <strong>Scala programmieren</strong>
    und die <strong>gesteigerte Produktivität</strong> genießen.

    Sie wissen was Scala von Java unterscheidet, wo die Vor- und Nachteile liegen.
    Durch die geschaffenen Grundlagen lassen sich fortgeschrittene Themen
    <strong>schneller und einfacher erlernen</strong>.
</p>