@()(implicit req: RequestHeader)

<div id="logo">
    <a href="https://www.learnscala.de">
        <img src="/assets/img/learnscala.png" height="60" width="48" alt="LearnScala">
    </a>
</div>

<nav>
    <ul>
        <li>
            <a href="@routes.Home.news" class='@{if(req.uri.contains("/news")) "active"}'>
                <span class="head">Aktuelles</span>
            </a>
        </li>

        <li>
            <a href="@routes.Home.training" class='@{if(req.uri.contains("/schulung")) "active"}'>
                <span class="head">Training</span>
            </a>
        </li>

        <li>
            <a href="@routes.Home.links" class='@{if(req.uri.contains("/links")) "active"}'>
                <span class="head">Links</span>
            </a>
        </li>

        <li>
            <a href="@routes.Home.contact" class='@{if(req.uri.contains("/kontakt")) "active"}'>
                <span class="head">Kontakt</span>
            </a>
        </li>
    </ul>
</nav>

<hr/>

@*<!--<div id="navi">
    <ul>
        <li>
            <a href="@routes.Auth.login">
                <span>Login</span>
            </a>
        </li>
    </ul>
</div>
-->*@
