@()(implicit req: RequestHeader)

@*
<!--<div id="logo">
    <a href="https://www.learnscala.de">
        <img src="/assets/img/learnscala.png" height="60" width="48" alt="LearnScala">
    </a>
</div>-->

<!--<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class='@{if(req.uri.contains("/news")) "active"}'>
                        <a href="@routes.Home.news">
                            <span class="head">Aktuelles</span>
                        </a>
                    </li>

                    <li class='@{if(req.uri.contains("/schulung")) "active"}'>
                        <a href="@routes.Home.training">
                            <span class="head">Training</span>
                        </a>
                    </li>

                    <li class='@{if(req.uri.contains("/links")) "active"}'>
                        <a href="@routes.Home.links">
                            <span class="head">Links</span>
                        </a>
                    </li>

                    <li class='@{if(req.uri.contains("/kontakt")) "active"}'>
                        <a href="@routes.Home.contact">
                            <span class="head">Kontakt</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<hr/>-->
*@

@*<!--<div id="navi">
    <ul>
        <li>
            <a href="@routes.Auth.login">
                <span>Login</span>
            </a>
        </li>
    </ul>
</div>
-->*@
