@()

<!--<div id="logo">
    <a href="https://www.learnscala.de">
        <img src="/assets/img/learnscala.png" height="60" width="48" alt="LearnScala">
    </a>
</div>-->

<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="blog">
                        <a href="@routes.Blog.index">
                            <span class="head">Blog</span>
                        </a>
                    </li>

                    <li class="train">
                        <a href="@routes.Training.scalaIndex">
                            <span class="head">Training</span>
                        </a>
                    </li>

                    @*<li class="glossar">
                        <a href="@routes.Home.glossar">
                            <span class="head">Glossar</span>
                        </a>
                    </li>*@

                    <li class="link">
                        <a href="@routes.Home.links">
                            <span class="head">Links</span>
                        </a>
                    </li>

                    <li class="mail">
                        <a href="@routes.Home.contact">
                            <span class="head">Kontakt</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


@*<div id="navi">
    <ul>
        <li>
            <a href="@routes.Auth.login">
                <span>Login</span>
            </a>
        </li>
    </ul>
</div>
*@
