<div id="navi">
    <ul>
        <li id="naviSlides">
            <a href="@routes.Slide.index2">
                <span>Slides</span>
            </a>
            <span class="divider">|</span>
        </li>
        <!--<li id="naviOverlay">
            <a href="@routes.Slide.index2">
                <span>PiP</span>
            </a>
            <span class="divider">|</span>
        </li>-->
        <li id="naviEditor">
            <a href="@routes.Editor.index2" class="openEditor">
                <span>Editor</span>
            </a>
            <span class="divider">|</span>
        </li>
        <li id="naviLogout" class="last">
            <a href="@routes.Auth.logout">
                <span>Logout</span>
            </a>
        </li>
    </ul>
</div>