@()(implicit req: RequestHeader)

@template("Kursbeschreibung", meta = "Kursbeschreibung zur Schulung '" + Training.akka + "'") {

    <div>
        @sub.intro()
        @sub.about()
    </div>

    <div class="row">
        <h3 style="margin-left: 20px;">Inhalt</h3>

        <div class="span4 contents">
            @sub.inhalt1()
        </div>
        <div class="span4 contents">
            @sub.inhalt2()
        </div>
    </div>

    <div class="row">
        <div class="span4">
            <div>
                <h3>Schulungsziele</h3>
                @sub.ziel()
            </div>
        </div>
        <div class="span4">
            <div style="margin: 0 20px;">
                <h3>Kursvoraussetzungen</h3>
                @sub.voraussetzung()
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span4">
            <div>
                <h3>Trainer</h3>
                @training.comp.trainer()
            </div>
        </div>
        <div class="span4">
            <div style="margin: 0 20px;">
                <h3>Seminaraufbau</h3>
                @sub.aufbau()
            </div>
        </div>
    </div>

    @*<div class="row">
        <h3 style="margin-left: 20px;">Kombination mit Schulung "Einführung in Scala"</h3>

        <p style="margin-left: 20px;">
            Eine zusätzliche Option, jedoch kein Muss, ist die Kombination mit dem 2-tägigen Kurs
            <a href="@routes.Training.scalaIndex">Einführung in Scala</a>.
            Dadurch können
        </p>
    </div>*@

    @training.comp.photos()
}