@(title: String, meta: String = "")(content: Html)

@layout.kurs(title, baseTitle = "Schulung 'Einführung in Akka': ", heading =  """Professionelle Schulung "Einführung in Akka"""", meta) {

    <div class="logo_link">
        <a class="akka" href="@routes.Training.akkaIndex">
            <img width="120" src='@MyAssets.urlOf("/img/akka-logo.png", true)' alt="Akka Schulung"/>
        </a>
    </div>


    <div class="scala well">
        <nav id="kurs_navi">
            <ul>
                <li class="descr">
                    <a href="@routes.Training.akkaIndex()">Kursbeschreibung</a>
                </li>
                <li class="why">
                    <a href="@routes.Training.akkaWhy()">Warum Akka</a>
                </li>
            </ul>
        </nav>
    </div>

    @training.comp.firmenintern()
} {
    @content
}