@(title: String, meta: String = "")(content: Html)

@layout.kurs(title, baseTitle = Training.akkaS + ": ", heading = Training.akkaS, meta) {

    <div class="logo_link">
        <a class="akka" href="@routes.Training.akkaIndex">
            <img width="120" height="94" src='@MyAssets.urlOf("akka-logo.png", "img")' alt="Akka"/>
        </a>
    </div>

    @*<div class="scala well">
        <nav id="kurs_navi">
            <ul style="margin-left: 20px;">
                <li class="descr">
                    <a href="@routes.Training.akkaIndex">Kursbeschreibung</a>
                </li>
            </ul>
        </nav>
    </div>*@

    @training.comp.firmenintern("Akka")

    <div class="well">
        <h4>Weitere Kurse</h4>

        <div style="text-align: center">
            <a href="@routes.Training.scalaIndex" title="@Training.scala">
                <img width="150" height="45" src='@MyAssets.urlOf("scala-logo.png", "img")' alt="Scala"/>
            </a>
        </div>
    </div>
} {
    @content
}