@(image: Html)

@sidebyside((60,40)) {
    @image
} {
    @fragment {
        <h4>Typ 'AnyRef'</h4>
        @spacer()
        <div class="indent">
            <ul>
                <li>Reference Types / Referenztypen</li>
                <li class="fragment">
                    entspricht <code>java.lang.Object</code>
                </li>
                @spacer()
                <li class="fragment">
                    automatisch vererbt an
                    @spacer_half()
                    <ul>
                        <li>
                            <var>Java-Klassen</var> <comment>(z.B. java.lang.String)</comment>
                        </li>
                        <li>
                            <em>Scala-Klassen</em> <comment>(z.B. scala.Predef)</comment>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    }
}