@(image: Html)

@sidebyside((60,40)) {
    @image
} {
    @fragment {
        <h4>Typ 'AnyRef'</h4>
        @spacer()
        <div class="indent">
            <ul>
                <li>"Reference Types"</li>
                <li class="fragment">
                    entspricht <code>java.lang.Object</code> in Java bzw.
                    <code>System.Object</code> in .NET
                </li>
                <li class="fragment">
                    vererbt an <var>Java-Klassen</var> <comment>(z.B. java.lang.String)</comment>
                    und <em>Scala-Klassen</em> <comment>(z.B. scala.Predef)</comment>
                </li>
            </ul>
        </div>
    }
}