@(image: Html)

@sidebyside((60,40)) {
    @image
} {
    @fragment {
        <h4>Typ 'AnyVal'</h4>
        @spacer()
        <div class="indent">
            <ul>
                <li>Value Types / Werttypen</li>
                <li class="fragment">
                    entspricht primitiven Datentypen aus <var>Java</var> <comment>(im Hintergrund auch verwendet)</comment>
                </li>
                <li class="fragment">
                    Ausnahme ist <em>Scala</em>-spezifischer Typ <code>Unit</code> <comment>(wie <code>void</code>)</comment>
                </li>
                <li class="fragment">
                    kann nicht direkt instanziiert (abstrakt) ...
                </li>
                <li class="fragment">
                    ... aber seit Version 2.10 vererbt werden <comment>(Value Class)</comment>
                </li>
            </ul>
        </div>
    }
}