@(image: Html)

@sidebyside((60,40)) {
    @image
} {
    @fragment {
        <h4>Typ 'Null'</h4>
        <hr/>
        <div class="indent">
            <ul>
                <li>"Bottom Type"</li>
                <li class="fragment">
                    Unterklasse von allen Reference Types
                </li>
                <li class="fragment">
                    einziger möglicher Wert ist <code>null</code>
                </li>
            </ul>
            <hr/>
        </div>
    }
}

<hr/>

@sidebyside() {
    @snippet() {
         @callblock() {
             |val i: Int = null
         }
         @outblock(error = true) {
             |error   : type mismatch;
             |found   : Null(null)
             |required: Int
         }
    }
} {
    @snippet() {
         @callblock() {
             |val s: String = null
         }
         @outblock() {
             |s: String = null
         }
    }
}