@(image: Html)

@sidebyside((60,40)) {
    @image
} {
    @fragment {
        <h4>Typ 'Null'</h4>
        @spacer()
        <div class="indent">
            <ul>
                <li>"Bottom Type"</li>
                <li class="fragment">
                    Unterklasse von allen Referenztypen
                </li>
                <li class="fragment">
                    einziger möglicher Wert ist <code>null</code>
                </li>
            </ul>
            @spacer()
        </div>
    }
}

@spacer()

@sidebyside() {
    @snippet() {
        @callblock() {
         |val i: Int = null
        }
        @outblock(error = true) {
         |error   : type mismatch;
         |found   : Null(null)
         |required: Int
        }
        @codenote() {
            <code>AnyVal</code> kann nicht <code>null</code> sein
        }
    }
} {
    @snippet() {
         @callblock() {
             |val s: String = null
         }
         @outblock() {
             |s: String = null
         }
        @codenote() {
            <code>AnyRef</code> darf <code>null</code> sein
        }
    }
}