@layout.slidedeck("LearnScala.de Slides") {

    <div class="slides">

        @sub.willkommen()

        @sub.einfuehrung()
        @sub.geschichte()

        @sub.werkzeuge1()
        @sub.setup1()

        @sub.S000()
        @sub.S010()
        @sub.S020()
        @sub.S030()

        @sub.werkzeuge2()
        @sub.setup2()

        @sub.S100()
        @sub.S110()
        @sub.S120()
        @sub.S121()
        @sub.S130()
        @sub.S140()
        @sub.S150()
        @sub.S160()

    </div>
}