@layout.slidedeck("LearnScala.de Slides") {

    <div class="slides">

        @sub.willkommen()
        @sub.einfuehrung()
        @sub.geschichte()
        @sub.werkzeuge1()
        @sub.setup1()

        <!--============-->
        <!-- A1 & A2/L1 -->
        <!--============-->

        @slidehead(chapter = "Basics") {
            Erste Schritte
        } {
           Ein kleiner Schritt für einen Entwickler ...
        }

        @sub.S000()
        @sub.S010()
        @sub.S020()
        @sub.S030()
        @sub.S040()
        @sub.S050()
        @sub.werkzeuge2()
        @sub.setup2()

        @slidehead(chapter = "OOP") {
            Objektorientierung
        } {
        }

        @sub.S100()
        @sub.S110()
        @sub.S120()
        @sub.S121()
        @sub.S130()
        @sub.S140()
        @sub.S150()

        @slidehead(chapter = "Typen") {
            Typensystem
        } {

        }

        <!--============-->
        <!-- A3/L2 & L3 -->
        <!--============-->

        @sub.S200()
        @sub.S210()
        @sub.S220()
        @sub.S221()
        @sub.S222()
        @sub.S223()
        @sub.S230()

        @slidehead(chapter = "FP") {
            Funktionale Programmierung
        } {
        }

        @sub.S300()
        @sub.S310()
        @sub.S311()
        @sub.S320()
        @sub.S330()
        @sub.S340()

        @slidehead(chapter = "Advanced") {
            Fortgeschrittene Themen
        } {
        }

        @sub.S400()
        @sub.S401()
        @sub.S410()
        @sub.S420()
        @sub.S430()
        @sub.S440()
        @sub.S441()
        @sub.S442()
        @sub.S460()
        @sub.S470()
        @sub.S480()
        @sub.S481()
        @sub.S482()
        @sub.S490()

        @slidehead(chapter = "Expert") {
            Experten-Themen
        } {
        }

        @sub.S500()
        @sub.S510()
        @sub.S520()
        @sub.S521()
        @sub.S530()
        @sub.S540()
        @sub.S550()
        @sub.S560()

        @sub.S600()

    </div>
}

<!--
  - Operatoren
  - Files
  - Regex
  - Delimited Continuations
  - Parser
  - Swing
-->