@layout.slide("Zusammenfassung") {
<div class="slides">


    <section>
        <h1>Zusammenfassung</h1>
    </section>


    <section>
        @headbody() {
            Werkzeuge
        } {
            @summary.werkzeuge("")
        }
    </section>


    <section>
        @headbody() {
            Variablen
        } {
            @summary.variablen("")
        }
    </section>


    <section>
        @headbody() {
            Methoden
        } {
            @summary.methoden("")
        }
    </section>


    <section>
        @headbody() {
            Klassen
        } {
            @summary.klassen("")
        }
    </section>


    <section>
        @headbody() {
            Objekte
        } {
            @summary.objekte("")
        }
    </section>

</div>
}