@(title: String, date: String, url: String, withComments: Boolean = true, langs: List[String])(head: Html)(body: Html)

@shareUrl = @{
    "https://www.learnscala.de" +
        url.
            replaceAllLiterally("/part2/", "/").
            replaceAllLiterally("/teil2/", "/").
            replaceAllLiterally("-part-2", "").
            replaceAllLiterally("-teil-2", "")
}

@shareTitle = @{
    title.
        replaceAllLiterally(": Part 2", "").
        replaceAllLiterally(" - Part 2", "").
        replaceAllLiterally(": Teil 2", "").
        replaceAllLiterally(" - Teil 2", "")
}

@meta = {
    <meta property="og:url" content="@shareUrl" />
    <meta property="og:title" content="@shareTitle" />
    <meta property="og:image" content="https://www.learnscala.de/assets/img/learnscala.png" />
}

@layout.public(shareTitle, meta = meta) {

    <div class="blog unit">
        @if(langs.size > 1) {
            <div class="langchg" style="margin-right: 22px">
                @if(url.contains("/de/")) {
                    <div style="text-align: center">
                        <a style="display: block" href='@{url.replace("/de/", "/en/").replace("/teil", "/part")}'>
                            <div>
                                <img width="50" src="@MyAssets.urlOf("britain.jpeg", "img")"></img>
                                <div class="label">
                                    in English
                                </div>
                            </div>
                        </a>
                    </div>
                }
                @if(url.contains("/en/")) {
                    <div style="text-align: center">
                        <a style="display: block" href='@{url.replace("/en/", "/de/").replace("/part", "/teil")}'>
                            <div>
                                <img width="50" src="@MyAssets.urlOf("german.png", "img")"></img>
                                <div class="label">
                                    in German
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        }
        <h2>
            @title
            <span class="date">@date</span>
            <div class="clrfix"></div>
        </h2>

        <article>
            <p class="bloghead">
                @head
            </p>
            @body
        </article>

        @social(shareTitle, shareUrl)

        @if(withComments) {
            @comp.disqus()
        }
    </div>
}