@(title: String, date: String, url: String, withComments: Boolean = true, langs: List[String])(head: Html)(body: Html)

@shareUrl = @{
    "http://www.learnscala.de" +
        url.
            replaceAllLiterally("/part2/", "/").
            replaceAllLiterally("/teil2/", "/").
            replaceAllLiterally("-part-2", "").
            replaceAllLiterally("-teil-2", "")
}

@shareTitle = @{
    title.
        replaceAllLiterally(": Part 2", "").
        replaceAllLiterally(" - Part 2", "").
        replaceAllLiterally(": Teil 2", "").
        replaceAllLiterally(" - Teil 2", "")
}

@meta = {
    <meta property="og:url" content="@shareUrl" />
    <meta property="og:title" content="@shareTitle" />
    <meta property="og:image" content="http://www.learnscala.de/assets/img/learnscala.png" />
}

@layout.public(shareTitle, meta = meta) {

    <div class="blog unit">
        @if(langs.size > 1) {
            <div class="langchg" style="margin-right: 44px">
                @if(url.contains("/de/")) {
                    <div style="text-align: center">
                        <a style="display: block" href='@{url.replace("/de/", "/en/").replace("/teil", "/part")}'>
                            <div>
                                <img width="50" src="@MyAssets.urlOf("britain.jpeg", "img")"></img>
                                <div class="label">
                                    in English
                                </div>
                            </div>
                        </a>
                    </div>
                }
                @if(url.contains("/en/")) {
                    <div style="text-align: center">
                        <a style="display: block" href='@{url.replace("/en/", "/de/").replace("/part", "/teil")}'>
                            <div>
                                <img width="50" src="@MyAssets.urlOf("german.png", "img")"></img>
                                <div class="label">
                                    auf deutsch
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        }
        <h2>
            @title
            <span class="date">@date</span>
            <div class="clrfix"></div>
        </h2>

        <article>
            <p class="bloghead">
                @head
            </p>
            @body
        </article>

        @social(shareTitle, shareUrl)

        <script type="text/javascript"><!--
          google_ad_client = "ca-pub-2368346601042451";
          /* LS */
          google_ad_slot = "4879592920";
          google_ad_width = 728;
          google_ad_height = 90;
          //-->
        </script>
        <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>

        @if(withComments) {
            @comp.disqus()
        }
    </div>
}