@(clazz: String = "fragment")

<div class="@clazz sidebyside p60_40">
    @comp.snippet {
        |val one: Int = 1    // explizite Typen
        |val two: Double = 1
        |val three = 3L      // erkannte Typen
        |val pi = 3.14f
    }
    @comp.console {
        |one: Int = 1
        |two: Double = 1.0
        |three: Long = 3
        |pi: Float = 3.14
    }
</div>

<div class="@clazz sidebyside p60_40">
    @comp.snippet {
        |val pi = 3.14f
        |pi = 3              // val ist endgültig
    }
    @comp.console {
        |pi: Float = 3.14
        |<console>:8: error: reassignment to val
    }
</div>

<div class="@clazz sidebyside p60_40">
    @comp.snippet {
        |val pi = 3.14f
        |pi.isWhole          // Zahlen sind Objekte
    }
    @comp.console {
        |pi: Float = 3.14
        |res0: Boolean = false
    }
</div>

<div class="@clazz sidebyside p60_40">
    @comp.snippet {
        |42.==(42)
        |42./(42)            // Operatoren sind Methoden
    }
    @comp.console {
        |res2: Boolean = true
        |res1: Double = 1.0
    }
</div>

<div class="@clazz sidebyside p60_40">
    @comp.snippet {
        |var pi = 3.14f
        |pi = 3.0f           // var ist überschreibbar
    }
    @comp.console {
        |pi: Float = 3.14
        |pi: Float = 3.0
    }
</div>