@import comp._

@layout.internal("") {
<section id="main" class="slidedecks">


    @*<!----------------------------------------------------------------------------------->*@
    <h2>Intro</h2>
    @*<!----------------------------------------------------------------------------------->*@

    @slidebox("intro/welcome", "Willkommen", " (TODO)")
    @slidebox("intro/about", "Einführung")
    @slidebox("intro/history", "Geschichte")
    @slidebox("intro/tools", "Werkzeuge", " (TODO)")




    @*<!----------------------------------------------------------------------------------->*@
    <h2>Anfänger (A1/L1)</h2>
    @*<!----------------------------------------------------------------------------------->*@

    @slidebox("lvl1/first-steps", "Erste Schritte")




    @*<!----------------------------------------------------------------------------------->*@
    <h2>Fortgeschritten (A2/L2)</h2>
    @*<!----------------------------------------------------------------------------------->*@

    @slidebox("TBA")




    @*<!----------------------------------------------------------------------------------->*@
    <h2>Experte (A3/L3)</h2>
    @*<!----------------------------------------------------------------------------------->*@

    @slidebox("TBA")




    @*<!----------------------------------------------------------------------------------->*@
    <h2>Sonstiges</h2>
    @*<!----------------------------------------------------------------------------------->*@

    @slidebox("setup/basics", "Installation", " (TODO)")
    @slidebox("setup/eclipse", "Eclipse IDE", " (TODO)")
    @slidebox("setup/intelliJ", "IntelliJ IDE", " (TODO)")


    <br/><br/>
    <i>
        PS: Informationen zur Kategorisierung sind
        <a href="http://www.scala-lang.org/node/8610">hier</a> zu finden
    </i>

</section>
}