@import comp._

@layout.internal("Slides") {
<section id="main" class="slidedecks">


    @*<!----------------------------------------------------------------------------------->*@
    <h2>Intro</h2>
    @*<!----------------------------------------------------------------------------------->*@

    @slidebox("intro/Willkommen", append = "(TODO)")
    @slidebox("intro/Einführung")
    @slidebox("intro/Geschichte")
    @slidebox("intro/Werkzeuge", append = "(TODO)")




    @*<!----------------------------------------------------------------------------------->*@
    <h2>Anfänger (A1/L1)</h2>
    @*<!----------------------------------------------------------------------------------->*@

    @slidebox("lvl1/Variablen")
    @slidebox("lvl1/Methoden")
    @slidebox("lvl1/Klassen", append = "(TODO)")



    @*<!----------------------------------------------------------------------------------->*@
    <h2>Fortgeschritten (A2/L2)</h2>
    @*<!----------------------------------------------------------------------------------->*@

    @slidebox("TBA")




    @*<!----------------------------------------------------------------------------------->*@
    @*<h2>Experte (A3/L3)</h2>*@
    @*<!----------------------------------------------------------------------------------->*@

    @*@slidebox("TBA")*@




    @*<!----------------------------------------------------------------------------------->*@
    <h2>Sonstiges</h2>
    @*<!----------------------------------------------------------------------------------->*@

    @slidebox("setup/Installation", append = "(TODO)")
    @slidebox("setup/Eclipse-IDE", append = "(TODO)")
    @slidebox("setup/IntelliJ-IDE", append = "(TODO)")
    @slidebox("Zusammenfassungen", "Zusammen-fassungen")


    <br/><br/>
    <i>
        PS: Informationen zur Kategorisierung sind
        <a href="http://www.scala-lang.org/node/8610">hier</a> zu finden
    </i>

</section>
}