@layout.internal("Warteraum") {

<div class="box header-box alert-box error-box">

    <header>
        <h2>Willkommen im Warteraum</h2>
    </header>

    <section>
        <div>
            Es scheint, als seien Sie dem System noch nicht bekannt - daher müssen Sie erst freigeschaltet werden.
            Es kann ja hier nicht jeder einfach reinspazieren.
        </div>

        <div>
            Sollte dies ein Irrtum sein und Sie hatten bereits einmal Zugang,
            wenden Sie sich bitte an den <a href="mailto:stephan@@learnscala.de">Administrator</a>.
        </div>
    </section>

    <footer></footer>

</div>
}