@h: 70%;
@d: 1.5%;

.ide {
    @m: 10px;
    padding: 0;
    position: absolute;
    overflow: hidden;
    left: @m; right: @m; top: @m; bottom: @m;

    .pane {
        width: 100%;
        position: relative;
    }

    .input-wrap {
        height: @h - @d / 2;

        .left {
            float: left;
            position: relative;
            .w(49.5%); height: 100%;
        }

        .right {
            float: right;
            position: relative;
            .w(49.5%); height: 100%;
        }

        //.hdivider { .w(1%); }

        .input {
            overflow: hidden;
            position: absolute;
            top: 0; bottom: 0; right: 0; left: 0;
        }
    }

    .vdivider { height: @d; }

    .output-wrap {
        overflow: auto;

        height: 100% - @h - @d / 2 - 0.5;

        box-sizing: border-box;
        border: 2px solid #aaa;

        // result colors
        &.success {
            border-color: @c_emph;
            .selection-bg(@c_select);
        }
        &.error {
            border-color: @c_hlight;
            .selection-bg(fade(@c_hlight, 40%));
        }

        .spinner {
            display: inline;
        }
        .output {
            padding: 10px;
        }
    }

    pre {
        margin: 0;
    }
}