.CodeMirror {
    height: 99%;
    //overflow-y: auto;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
}

.CodeMirror-scroll {
    height: 100%;
    //overflow: auto;
    position: relative;
}

.snippet pre, .CodeMirror {
    position: relative;

    // color
    .bg(@c_code_bg);
    .border(@c_code_border);

    // toolbar
    .toolbar {
        position: absolute;

        .btn {
            margin-left: 10px;
            .linear-transition(opacity);
            .opacity(0);
        }
    }
    &:hover {
        .btn { .full-opacity(); }
    }
}

.CodeMirror, .ide {
    border-width: 2px;

    // font and line size
    font-size:   2.25 * @fs_code;
    line-height: 2 * @fs_code;

    .output {
        font-size:   .9 * 2.25 * @fs_code;
        line-height: .9 * 2 * @fs_code;
    }

    // toolbar
    .toolbar { right: 16px; bottom: 16px; }
}

.snippet pre {
    // font and line size
    font-size: @fs_code;
    line-height: 1.8 * @fs_code;
    &.output {
        font-size: @fs_code * 0.85;
        line-height: 1.7 * @fs_code;
    }

    // border default: dashed top and bottom
    @c_border_f: fadeout(@c_code_border, 10%);
    border-bottom: 1px dashed @c_border_f;
    border-top: 1px dashed @c_border_f;

    // border first and last: solid top and bottom
    &:first-child { .border-top(@c_code_border); }
    &:last-child { .border-bottom(@c_code_border); }

    // border explicit start/middle/end: dashed
    &.first, &.middle, &.start { border-bottom: 1px dashed @c_border_f; }
    &.last, &.middle, &.end { border-top: 1px dashed @c_border_f; }

    // toolbar
    .toolbar { right: 4px; bottom: 4px; }
}

// use gray for output background
.cm-s-ambiance.output, .ide .output-wrap {
    .bg(darken(#eee, 3%));
}

// use one plain color for output code
.cm-s-ambiance.output, .ide .output .cm-s-ambiance {
    .cm-keyword, .cm-atom, .cm-number, .cm-def, .cm-variable, .cm-variable-2, .cm-variable-3,
    .cm-property, .cm-operator, .cm-comment, .cm-string, .cm-string-2, .cm-meta, .cm-error, .cm-qualifier,
    .cm-builtin, .cm-bracket, .cm-tag, .cm-attribute, .cm-header, .cm-quote, .cm-hr, .cm-link, .cm-special {
        color: #8f7b67;
    }
}

@font-face {
    .font("Inconsolata", "inconsolata/regular");
}

/*
.CodeMirror-gutter {
    padding: 0 5px;
    background: #ddd;
    //text-shadow: #333 1px 1px;
    //border-right: 1px solid #4D4D4D;
}
*/

/*
.CodeMirror-gutter .CodeMirror-gutter-text {
    color: #222;
    text-shadow: 0px 1px 1px #4d4d4d;
}
*/

/*
.CodeMirror-lines .CodeMirror-cursor {
    border-left: 4px solid fade(@c_emph, 80%);
}
*/