@layout.slide("Werkzeuge für Scala") {

<div class="slides">


    <section>
        <h1><em>Werkzeuge</em></h1>

        <h3 class="banner">Homo scalacus</h3>
    </section>


    <section>
        <h2>Übersicht</h2>

        <div>

        </div>
    </section>


    <section>
        <h2>&gt;<em> scala</em></h2>
    </section>


    <section>
        <h2>&gt;<em> scalac</em></h2>
    </section>


    <section>
        <h2>&gt;<em> fsc</em></h2>
    </section>


    <section>
        <h2>&gt;<em> scaladoc</em></h2>
    </section>


    <section>
        <h2>&gt;<em> ant</em></h2>
    </section>


    <section>
        <h2>&gt;<em> maven</em></h2>
    </section>


    <section>
        <h2>&gt;<em> sbt</em></h2>
    </section>


    <section>
        <h2><em>IntellJ</em> IDE</h2>
    </section>


    <section>
        <h2><em>Eclipse</em> IDE</h2>
    </section>


    <section>
        <h2>Zusammenfassung</h2>
    </section>

</div>
}