@(typeOf: String, id: String = null, fragment: Boolean = false, clazz: String = null, include: String = null,
  reference: String = null, lang: String = null, hl: String = null, linebyline: Boolean = false)(data: Html)

<div class="raw-block"
        data-type="@typeOf @clazz"
        data-fragment="@{if(fragment) fragment}"
        id="@{if(id != null) s"snippet-$id"}"
        data-hlight="@{if(hl != null) hl}"
        data-lang="@{if(lang != null) lang}"
        data-include="@{if(include != null) s"snippet-$include"}"
        data-reference="@{if(reference != null) s"snippet-$reference"}"
        data-linebyline="@linebyline">
        @data
</div>