@(fragment: Boolean = true, codeIsRight: Boolean = false, clazz: String = "", include: String = null, reference: String = null)(left: Html)(right: Html = null)
<tr class='@{if(codeIsRight) "code-right" else "code-left"} @clazz'>

    <td class='@{if(codeIsRight) "text" else "code"}'>
        <div class='@{if(fragment) "fragment" else ""}'>
            @sourcecode(fragment = false, include = include, reference = reference) {
                @left
            }
        </div>
    </td>

    <td>&nbsp;</td>

    <td class='@{if(codeIsRight) "code" else "text"}'>
        @if(right == null) {
            <div>&nbsp;</div>
        } else {
            @codenote2(fragment) {
                @right
            }
        }
    </td>

</tr>
