@(typeOf: String, id: String = null, fragment: Boolean = false, clazz: String = null, include: String = null,
  reference: String = null, lang: String = null, hl: String = null)(data: Html)

<div class="raw-block"
     data-type='@typeOf @clazz'
     data-fragment='@{if(fragment) "true" else "false"}'
     @{if(hl == null) "" else "data-hlight=" + hl}
     @{if(id == null) "" else "id=snippet-" + id}
     @{if(lang == null) "" else "data-lang=" + lang}
     @{if(include == null) "" else "data-include=snippet-" + include}
     @{if(reference == null) "" else "data-reference=snippet-" + reference}>
        @data
</div>