<div class="event_register" style="float: right; margin-left: 20px; position: relative">
    @*<img src="@MyAssets.urlOf("learnscala.png", "img")" width="60"
        style="position: absolute; left: 0; top: 0;"/>*@

    <div class="inner">
        <div style="text-align: center; font-size: 18px; font-weight: bold; line-height: 22px; margin: 15px 5px;">
            Auf den Geschmack gekommen?
        </div>

        <div style="text-align: center; margin: 15px 7px; font-size: 15px; line-height: 20px;">
            Mit einer Scala-Schulung gezielt durchstarten!
        </div>
        <div class="clrfix"></div>

        <div class="button">
            <a class="btn btn-success" href='/schulungen/scala-training' style="width: 120px; margin-top: 0">
                Mehr Informationen
            </a>
        </div>
    </div>
</div>