@(libs: List[String])

@import controllers.MyAssets._

@for(lib <- js_libs_init) {
    <script type="text/javascript" src="@lib"></script>
}

<script type="text/javascript">
    Loader("@{assetBase}/js", ['modernizr',@embed(libs: _*)], function() {});
</script>

@*
@if(isDevelopment) {
    Loader("@{assetBase}/js", ['modernizr','@libs'], function() {
        @onLoad
    });
} else {
    require(["app/loader"], function(Loader) {
        Loader(['@libs'], function() {
            @onLoad
        });
    });
}
*@