@(typeOf: String, hr: Boolean = true, fragment: Boolean = true)(body: Html)

@if(hr) {
    @spacer()
} else {
    @spacer_half()
}

<div class='@{if(fragment)"fragment" else ""} shoutbox @typeOf clearfix'>
    <div class="inner">
        <table>
            <colgroup>
                <col>
                <col width="100%">
            </colgroup>
            <tr>
                <td class="symbol">
                    <span class="icon-@typeOf"></span>
                </td>
                <td class="content">
                    @body
                </td>
            </tr>
        </table>
    </div>
</div>