@(w: (Int, Int) = (50, 50), classes: (String, String) = ("",""), clazz: String = "", fragment: Boolean = false, gap: Double = 3.0)(cl: Html = empty())(cr: Html = empty())

<div class='sidebyside @{if(fragment) "fragment"} @{clazz}'>

    <table>
        <colgroup>
            <col width="@{w._1 - gap / 2}%">
            <col width="@{gap}%">
            <col width="@{w._2 - gap / 2}%">
        </colgroup>
        <tbody>
            <tr>
                <td class="@classes._1">
                    @cl
                </td>
                <td>&nbsp;</td>
                <td class="@classes._2">
                    @cr
                </td>
            </tr>
        </tbody>
    </table>

</div>


@*
<div class='sidebyside @{if(fragment) "fragment"}'>
    <div class="@clazz._1" style="width: @{w._1 - gap / 2}%; float: left">
        @cl
    </div>
    <div class="@clazz._2" style="width: @{w._2 - gap / 2}%; float: right">
        @cr
    </div>
</div>
*@