@(title: String = null, id: String = null, subsubtitle: String = null, subtitle: String = null, chapter: String = null,
  hideFooter: Boolean = false, clazz: String = "", narrow: Boolean = false, append: String = "", prepend: String = "",
  htmlTitle: xml.Node = null, head: Boolean = false, connector: String = null)(body: Html = Html.empty)(implicit topic: String = null)

@defining(Option(htmlTitle).getOrElse(title)) { theTitle =>

    @headslide(id = id, subsubtitle = subsubtitle, subtitle = subtitle, title = theTitle.toString, narrow = narrow,
               chapter = chapter, hideFooter = hideFooter, clazz = clazz) {
        @prepend

        @if(subtitle != null) {
            @if(connector != null) {
                @theTitle
                @connector
            }
            @if(head == true) {
                @theTitle
            } else {
                @subtitle
            }
        } else {
            @theTitle
        }

        @append
    } {
        @body
    }
}