@(title: String = null, id: String = null, subsubtitle: String = null, subtitle: String = null, chapter: String = null,
  hideFooter: Boolean = false, clazz: String = "", narrow: Boolean = false, append: String = "", prepend: String = "",
  htmlTitle: xml.Node = null, head: Boolean = false, connector: String = null)(body: Html = Html.empty)(implicit topic: String = null)

@headslide(id = id, subsubtitle = subsubtitle, subtitle = subtitle, title = title, narrow = narrow,
           chapter = chapter, htmlTitle = htmlTitle, hideFooter = hideFooter, clazz = clazz) {
    @prepend

    @if(subtitle != null) {
        @if(connector != null) {
            @title
            @connector
        }
        @if(head == true) {
            @title
        } else {
            @subtitle
        }
    } else {
        @title
    }
    @append
} {


    @body
}