@(title: String = null, id: String = null, subsubtitle: String = null, subtitle: String = null, chapter: String = null,
  hideFooter: Boolean = false, clazz: String = "", narrow: Boolean = true, withSubtitle: Boolean = false, withFollowing: Boolean = false, append: String = "", connector: String = ": ")(body: Html = Html.empty)(implicit topic: String = null)

@headslide(id = id, subsubtitle = subsubtitle, subtitle = subtitle, title = title, chapter = chapter, hideFooter = hideFooter, clazz = clazz) {
    @if(withSubtitle) {
        @subtitle
        @if(withFollowing) {
            @connector
            @subsubtitle
        }
    } else {
        @title
        @if(withFollowing) {
            @connector
            @subtitle
        }
    }
    @append
} {
    @if(narrow) {
        @spacer()
    }

    @body
}