@(id: String, heading: Html = Html("Übung"), append: Html = Html.empty)(implicit topic: String = null)

@headslide(title = "Übung") {
    @heading@append
} {
    @spacer()

    @sidebyside() {
        <ul class="filedir">
            <li>
                src
                <ul>
                    <li>
                        main
                        <ul>
                            <li>
                                scala
                                <ul>
                                    <li>
                                        de
                                        <ul>
                                            <li>
                                                learnscala
                                                <ul>
                                                    <li>
                                                        uebungen
                                                        <ul>
                                                            <li>
                                                                <em>Ubng_@{id}.scala</em>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li>
                        test
                        <ul>
                            <li>
                                scala
                                <ul>
                                    <li>
                                        de
                                        <ul>
                                            <li>
                                                learnscala
                                                <ul>
                                                    <li>
                                                        uebungen
                                                        <ul>
                                                            <li>
                                                                <em>Test_@{id}.scala</em>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    } {
        <div class="uebung-meta">
            @countdown()
            @testprogress(id)
        </div>
    }

    <script type="text/javascript">
        require(["jquery", "app/util/chart"], function($, Chart) {
            new Chart('@id');
        });
    </script>
}