@f_comment: 30%;

@margin: 20px;

.reveal {
    h1, h2, h3, h4 {

        letter-spacing: 0.01em;
        margin-bottom: 2 * @margin;

        &.filled, &.banner {
            /*.bg(#4e443c);
            padding: 20px;
            .col(#fff);*/
        }
    }

    h3, h4 {
        line-height: 1em;
    }

    h4, h5 {
        margin-bottom: 0;
    }

    var {
        color: @c_hlight;
    }

    .black {
        color: @c_text;
    }

    table {
        .w100p();
    }

    .nowrap, .nobreak {
        white-space: nowrap;
    }

    big {
        font-size: 150%;
        vertical-align: bottom;

        &.p110 { font-size: 110%; }
        &.p120 { font-size: 120%; }
        &.p130 { font-size: 130%; }
        &.p140 { font-size: 140%; }
        &.p150 { font-size: 150%; }
        &.p160 { font-size: 160%; }
        &.p170 { font-size: 170%; }
        &.p180 { font-size: 180%; }
        &.p190 { font-size: 190%; }
        &.p200 { font-size: 200%; }
    }

    .indent10   { margin-left: 10px; }
    .indent15   { margin-left: 15px; }
    .indent20   { margin-left: 20px; }
    .indent25   { margin-left: 25px; }
    .indent30   { margin-left: 30px; }
    .indent35   { margin-left: 35px; }
    .indent40   { margin-left: 40px; }
    .indent45   { margin-left: 45px; }
    .indent     { margin-left: 50px; }
    .indent55   { margin-left: 55px; }
    .indent60   { margin-left: 60px; }
    .indent65   { margin-left: 65px; }
    .indent70   { margin-left: 70px; }
    .indent75   { margin-left: 75px; }
    .indent80   { margin-left: 80px; }
    .indent85   { margin-left: 85px; }
    .indent90   { margin-left: 90px; }
    .indent95   { margin-left: 95px; }

    .center, .center-text, .tcenter {
        text-align: center;
    }

    .center-block, .center-div, .dcenter {
        margin: 0 auto;
    }

    .sidebyside {
        margin: 0 auto;

        .partition(@left, @right) {
            >div {
                &:first-child {
                    width: @left - 1.5;
                    float: left;
                }
                &:last-child {
                    width: @right - 1.5;
                    float: right;
                }
            }
        }

        .partition(50%, 50%);
        &.p50_50 { .partition(50%, 50%); }
        &.p49_49 { .partition(49%, 49%); }
        &.p48_48 { .partition(48%, 48%); }
        &.p47_47 { .partition(47%, 47%); }
        &.p46_46 { .partition(46%, 46%); }
        &.p45_45 { .partition(45%, 45%); }
        &.p40_40 { .partition(40%, 40%); }

        &.p55_45 { .partition(55%, 45%); }
        &.p60_40 { .partition(60%, 40%); }
        &.p66_33 { .partition(66%, 33%); }
        &.p70_30 { .partition(70%, 30%); }
        &.p75_25 { .partition(75%, 25%); }
        &.p80_20 { .partition(80%, 20%); }

        &.p10_90 { .partition(10%, 90%); }
        &.p30_70 { .partition(30%, 70%); }
        &.p33_66 { .partition(33%, 66%); }
        &.p40_60 { .partition(40%, 60%); }
        &.p45_55 { .partition(45%, 55%); }

        clear: both; &:after { clear: both; }
    }

    .left { float: left; }
    .right { float: right; }

    .w10p { width: 10% }
    .w20p { width: 20% }
    .w30p { width: 30% }
    .w40p { width: 40% }
    .w45p { width: 45% }
    .w50p { width: 50% }
    .w60p { width: 60% }
    .w70p { width: 70% }
    .w80p { width: 80% }
    .w90p { width: 90% }
    .half { width: 49%; }
    .third { width: 32%; }
    .quarter { width: 24%; }

    .inline {
        display: inline;

        &h1, h2, h3, h4, h4 {
            display: block-inline;
        }
    }

    blockquote {
        padding-left: @margin;
        border-left: 8px solid @c_text_light;

        .who {
            font-style: normal;
            float: right;
        }
    }

    hr {
        @h: 2 * @margin;

        height: @h;
        line-height: @h;

        display: block;
        visibility: hidden;
        clear: both;

        &.half { height: @h / 2; line-height: @h / 2; }
        &.third { height: @h / 3; line-height: @h / 3; }
        &.quarter { height: @h / 4; line-height: @h / 4; }
    }

    .stretch-wide {
        .w100p();
    }

    ol, ul {
        .w100p();
        li {
            .w100p();
            margin-top: @margin;

            &.no-bullet {
                list-style: none;
            }

            >ul {
                margin-left: @margin * 2;
            }

            &:first-child {
                margin-top: 0;
            }

            h3 {
                margin-bottom: 0;
            }
        }
        &.no-bullets {
            li { list-style: none; }
        }
    }

    code {
        font-style: normal;
        color: @c_code;
        padding: 0 5px;
        white-space: nowrap;
        background: fade(@c_text_light, 20%);

        &.console {
            font-size: 90%;
            font-family: Inconsolata;
        }
    }

    comment {
        font-size: 80%;
        color: fadeout(@c_text_light, @f_comment);
        code {
            color: fadeout(@c_code, @f_comment);
        }
    }

    .underline    { border-bottom: 2px solid @c_text_light; }
    em.underline  { border-color: @c_emph; }
    var.underline { border-color: @c_hlight; }

    a {
        border-bottom: 2px solid fadeout(@c_emph, 60%);
        &:hover { border-bottom: 2px solid @c_emph; }
    }

    details, object {
        display: none;
    }

    .snippet {
        position: relative;

        .raw {
            display: none;
        }
        pre {
            //margin-top: @margin;
            overflow: hidden;
            padding: 10px;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    table {
        th, td {
            padding-top: 10px;
        }

        &.slim {
            th, td {
                padding-top: 4px;
            }
        }
    }

    .shoutbox {
        margin: 0 auto;

        table {
            td {
                &.symbol {
                    padding: 0 12px;
                }
                &.content {
                    padding: 10px;
                }
            }
        }

        .box(@c) {
            color: @c;
            border: 2px solid @c;
            background-color: fade(@c, 10%);
            comment { color: fadeout(@c, @f_comment); }
        }

        &.warning {
            .box(@c_hlight);
        }

        &.info, &.info-circle, &.thumbs-up {
            .box(@c_emph);
        }
    }

    .slides {
        >section {
            >header {
                h2, h3, h4 {
                    margin-left: 15px;
                    margin-top: 15px;
                }
                min-height: 15px;
            }
            >article {
                margin: 0 15px;

                /*
                >div {
                    display: table;
                    background-color: yellow;
                    width: 100%;

                    >div {
                        display: table-cell;
                        vertical-align: middle;
                    }
                }
                */
            }
            >footer {
                @h: 30px;
                position: absolute;
                bottom: 0; left: 0; right: 0;
                height: @h; with: 100%;
                font-size: @fs_slide * 0.75;
                line-height: @h;
            }
        }
    }

    .fragment {
        //display: none;

        // hide all buttons on invisible fragments
        .btn { display: none; }
        &.visible { /*display: block;*/ .btn { display: block; } }
    }

    img {
        &.naked {
            background: transparent;
            box-shadow: none;
            border: none;
        }
    }

    .codesub {
        text-align: right;
        margin-top: @margin / 2;
        //font-size: 90%;
    }

    .bigger {
        font-size: 110%;
    }

    .smaller, .codenote {
        font-size: 90%;
    }

    // selection color
    .selection-bg(@c_select);

    /* SLIDE MARK */
    .slide-end {
        //position: absolute;
        //bottom: 0; right: 5px;

        float: left;
        font-size: 40px;
        //line-height: 20px;
        color: fade(@c_emph, 50%);
    }

    /* TIMER */
    #timer {
        position: absolute;
        bottom: 5px; right: 15px;

        canvas {
            position: absolute;
            top: 0; left: 0;
        }

        div {
            color: @c_emph;
            position: absolute;
            top: 0; left: 0; bottom: 0; right: 0;

            z-index: 100;
            font-size: 18px;
            text-align: center;
        }
    }

    .uebung-meta {
        @_bg: fadeout(#ccc, 50%);
        text-align: center;

        >div {
            padding: @margin;
            @w: 300px; width: @w;
            display: inline-block;
            text-align: center;

            .body {
                @h: 150px;
                color: @c_text;
                padding: 10px;
                background-color: @_bg;
                height: @h; line-height: @h;
            }
            .footer {
                height: 40px;
                .btn {
                    .bold();
                }
                .opacity(10);
                .linear-transition(opacity);

                &:hover {
                    .opacity(100);
                }
            }
        }

        /* TEST PROGRESS */
        .testprogress {
            .bar {
                @f: 60%;
                &.fail    { fill: fade(@red, @f); }
                &.pending { fill: fade(@yellow, @f); }
                &.success { fill: fade(@green, @f); }
            }
        }

        /* COUNTDOWN */
        .countdown {
            .body {
                font-size: @fs_slide * 4;
                line-height: @fs_slide * 4;
            }
        }
    }

    #btn-glossary {
        position: absolute;
        top: 15px; right: 15px;
        .opacity(20);
        font-family: 'Entypo';
        z-index: 1000;
        &:hover {
            .opacity(100);
        }
    }
}

/* DROPDOWN */
ul.dropdown-menu {
    min-width: 75px;
    a {
        padding: 6px 8px;
        font-size: 14px;
        line-height: 12px;

        &:hover { .bg(@c_emph); }
    }
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
    display: block;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

body.light {
    #navi { display: none; }
    .progress { height: 0; }
}

#glossary {
    width: @w_slide - 1; height: @h_slide - 1;

    .content-columns(4, 4 * @margin);

    >div {
        margin-top: @margin / 2;
        display: inline-block;

        >h3, >h4, >h5 {
            font-size: 90%;
        }

        >ul {
            margin-left: @margin / 2;

            >li {
                font-size: 90%;
                display: inline;
                list-style-type: none;
                padding-right: @margin / 4;

                > a {
                    border: 0;
                }

                &:after {
                    content: ", ";
                    color: #aaa;
                }

                &:last-child:after {
                    content: "";
                }
            }
        }

        &.inactive {
            display: block;

            >h3, >h4, >h5 {
                .opacity(40);
                margin-bottom: 0;
            }
        }

        &:first-child {
            margin-top: 0;
        }
    }
}

body {
    &.noheader {
        .slides {
            >section {
                >header {
                    min-height: 0;
                }
            }
        }
    }
}