@layout.slide("Erste Schritte mit Scala") {

<div class="slides">


    <section>
        <h1><em>Erste</em> Schritte</h1>

        <h3 class="banner">Ein kleiner Schritt für einen Entwickler ...</h3>
    </section>


    <section>
        <h3>Erste Eingabe in die <em>REPL</em></h3>

        <div class="sidebyside p40_60">
            @comp.snippet {
                |"Hello World"
            }
            <div>
                @comp.console {
                    |res0: java.lang.String = Hello World
                }
                <div class="indent">
                    <ul>
                        <li class="fragment">
                            <code>res0</code> ist der Name der Variable <br/>
                            <comment>(fortlaufend nummeriert)</comment>
                        </li>
                        <li class="fragment">
                            <code>java.lang.String</code> ist Typ der Variable <br/>
                            <comment>(automatisch ermittelt)</comment>
                        </li>
                        <li class="fragment">
                            <code>Hello World</code> ist Wert der Variable <br/>
                            <comment>(via <code>toString()</code>)</comment>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <section>
        <h3><em>Va</em>riab<em>l</em>en</h3>

        <hr/>

        <div class="sidebyside">
            <div>
                @comp.snippet {
                    |val hello: String = "Hello"
                }
                <br/>
                <div class="indent">
                    <ul>
                        <li class="fragment">
                            <code>val</code> beginnt Variable
                        </li>
                        <li class="fragment">
                            <code>hello</code> ist der Name
                        </li>
                        <li class="fragment">
                            <code>:</code> trennt Name und Typ
                        </li>
                        <li class="fragment">
                            <code>String</code> ist der Typ
                        </li>
                        <li class="fragment">
                            <code>=</code> weist Wert zu
                        </li>
                        <li class="fragment">
                            <code>"Hello"</code> ist der Wert
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                @comp.console {
                    |hello: java.lang.String = Hello
                }
                <br/>
                @comp.shout("info-circle") {
                    <code>val</code> leitet eine Variable ein, <br/>der Typ wird hinter dem <br/>Namen angegeben.
                }
            </div>
        </div>

    </section>


    <section>
        <h3><em>Va</em>riab<em>l</em>en</h3>

        <hr/>

        <div class="sidebyside">
            <div>
                @comp.snippet {
                    |val hello: String = "Hello"
                    |
                    |hello = "Goodbye"
                }
            </div>
            <div>
                @comp.console {
                    |hello: String = Hello
                    |
                    |<console>:8: error: reassignment to val
                    |       hello = "Goodbye"
                }
                <br/>
                @comp.shout("info-circle") {
                    <code>val</code> kann nicht überschrieben werden, sie ist unveränderlich (engl. "immutable").
                }
            </div>
        </div>

    </section>


    <section>
        <h3><em>Va</em>riab<em>l</em>en</h3>

        <div class="sidebyside p45_55">
            @comp.snippet {
                |val hello: Int = "Hello"
            }
            <div>
                @comp.console {
                    |<console>:7: error: type mismatch;
                    |   found : java.lang.String("Hello")
                    | required: Int
                    |       val hello: Int = "Hello"
                    |                  ^
                }
                <br/>
                @comp.shout("info-circle") {
                    Der Compiler steht sicher, dass Variablentyp und -wert zusammenpassen.
                }
            </div>
        </div>

    </section>


    <section>
        <h3><em>Va</em>riab<em>l</em>en</h3>

        <div class="sidebyside p45_55">
            @comp.snippet {
                |val hello1: String = "Hello"
                |val hello2         = "Hello"
            }
            @comp.console {
                |hello1: java.lang.String = Hello
                |hello2: java.lang.String = Hello
            }
        </div>

        <div class="fragment sidebyside p45_55">
            @comp.snippet {
                |val meaningOfLife = 42
                |val pi = 3.14f
            }
            <div>
                @comp.console {
                    |
                }

                @comp.shout("info-circle") {
                    Der Variablentyp kann weggelassen werden, der Compiler leitet ihn ab.
                }
            </div>
        </div>

        <!--<div class="fragment indent">
            <ul>
                <li><strong><em>Tipp:</em></strong> Typen für temporäre Variablen weggelassen</li>
                <li class="fragment">
                    <strong><var>Ausnahme:</var></strong> Dokumentationszwecke oder falsche Erkennung
                </li>
            </ul>
        </div>

        <br/>-->

    </section>


    <section>
        <h3>Variablen mit <var>var</var></h3>

        <div class="sidebyside p40_60">
            @comp.snippet {
                |var hello = "Hello World"
                |hello = "Hello Mars"
            }
            @comp.console {
                |hello: java.lang.String = Hello World
                |hello: java.lang.String = Hello Mars
            }
        </div>
        <hr/>
        <div class="fragment indent">
            <ul>
                <li>
                    Wert ist <var>veränderlich</var> ("mutable")
                    <ul>
                        <li>entspricht Standardverhalten in Java</li>
                        <li>problematisch bei Zugriff von mehreren Threads</li>
                    </ul>
                </li>
            </ul>
            <hr/>
            <div class="fragment">
                <ul>
                    <li><strong><em>Tipp:</em></strong> nur in Ausnahmen verwenden (z.B. Performance)</li>
                </ul>
            </div>
        </div>

        <details>
            <a href="http://stackoverflow.com/questions/1791408/what-is-the-difference-between-a-var-and-val-definition-in-scala">
                What is the difference between a var and val definition in Scala?
            </a>
        </details>
    </section>


    <section>
        <h3><em>Optionale</em> Typenangabe</h3>

        <hr/>



        <!--<div class="fragment indent">
            <ul>
                <li>Fehlererkennung durch den Compiler dank Typen<em>sicherheit</em></li>
            </ul>
        </div>-->
    </section>


    <section>
        <h3><em>Optionale</em> Semikolons</h3>

        <hr/>

        <div class="sidebyside p40_60">
            @comp.snippet {
                |val hello1 = "Hello"
                |val hello2 = "Hello";
            }
            @comp.console {
                |hello1: java.lang.String = Hello
                |hello2: java.lang.String = Hello
            }
        </div>

        <hr/><hr/>

        <div class="sidebyside p40_60 fragment">
            @comp.snippet {
                |val h1="Hi"; val h2="Hi"
            }
            @comp.console {
                |hello: java.lang.String = Hello
                |hello2: java.lang.String = Hello
            }
        </div>

        <hr/>

        <div class="fragment indent20">
            <ul class="no-bullets">
                <li><strong><em>Tipp:</em></strong> Semikolons weglassen</li>
                <li><strong><var>Ausnahme:</var></strong> mehrere Anweisungen in einer Zeile</li>
            </ul>
        </div>
    </section>


    <section>
        <h3>Methoden<em>def</em>inition</h3>

        <div class="sidebyside p40_60">
            <div>
                @comp.snippet {
                    |def hello(): String = {
                    |   return "Hello World"
                    |}
                }
                @comp.console {
                    |hello: String
                }
            </div>
            <div>
                <ul class="indent">
                    <li class="fragment">
                        <code>def</code> startet die Definition
                    </li>
                    <li class="fragment">
                        <code>hello</code> ist der Name der Method
                    </li>
                    <li class="fragment">
                        <code>()</code> beinhaltet die Liste der Parameter
                    </li>
                    <li class="fragment">
                        <code>String</code> ist der Rückgabetyp der Methode
                    </li>
                    <li class="fragment">
                        <code>{ .. }</code> enthält Implementierung der Methode
                    </li>
                </ul>
            </div>
        </div>

        <hr/>

        <div class="fragment indent">
            <ul>
                <li><strong><em>Regel:</em></strong> Jede Methode hat einen Rückgabewert.</li>
            </ul>
        </div>

        <details>
            <a href="http://stackoverflow.com/questions/2529184/difference-between-method-and-function-in-scala">
                Difference between method and function in Scala
            </a>
        </details>
    </section>


    <section>
        <h3>Methoden<em>def</em>inition: Typ <code>Unit</code></h3>

        <div class="sidebyside p40_60">
            <div>
                @comp.snippet {
                    |def hello() {
                    |   println("Hello World")
                    |}
                }
                @comp.console {
                    |hello: Unit
                }
            </div>
            <div>
                <ul class="fragment indent">
                    <li>Definition ohne <code>=</code></li>
                    <li>entspricht <code>void</code> aus Java</li>
                </ul>
            </div>
        </div>

        <hr/>

        <!--<div class="fragment sidebyside p40_60">
            <div>
                @comp.snippet {
                    |def hello(): Unit {
                    |   println("Hello World")
                    |}
                }
                @comp.console {
                    |hello: Unit
                }
            </div>
            <div>
                <ul class="indent">
                    <li>
                        kann auch explizit angegeben werden<br/>
                        <comment>(ist aber sehr unüblich)</comment>
                    </li>
                </ul>
            </div>
        </div>-->

        <details>
            <a href="http://stackoverflow.com/questions/2529184/difference-between-method-and-function-in-scala">
                Difference between method and function in Scala
            </a>
        </details>
    </section>


    <section>
        <h3>Methoden<em>def</em>inition: Optionales</h3>

        <div class="fragment sidebyside p40_60">
            @comp.snippet {
                |def hello(): String =
                |   return "Hello World"
            }
            <div>
                <ul class="no-bullets indent10">
                    <li>
                        <strong><em>ohne</em></strong> geschweifte Klammern<br/>
                        <comment>Wann? Nur eine Zeile</comment>
                    </li>
                </ul>
            </div>
        </div>

        <div class="fragment sidebyside p40_60">
            @comp.snippet {
                |def hello(): String =
                |   "Hello World"
            }
            <div>
                <ul class="no-bullets indent10">
                    <li>
                        <strong><em>ohne</em></strong> <code>return</code><br/>
                        <comment>Wann? Immer, Rückgabe ist Ergebnis des letzten Ausdrucks</comment>
                    </li>
                </ul>
            </div>
        </div>

        <div class="fragment sidebyside p40_60">
            @comp.snippet {
                |def hello: String =
                |   "Hello World"
            }
            <div>
                <ul class="no-bullets indent10">
                    <li>
                        <strong><em>ohne</em></strong> Parameterliste<br/>
                        <comment>Wann? Keine Parameter</comment>
                    </li>
                </ul>
            </div>
        </div>

        <div class="fragment sidebyside p40_60">
            @comp.snippet {
                |def hello =
                |   "Hello World"
            }
            <div>
                <ul class="no-bullets indent10">
                    <li>
                        <strong><em>ohne</em></strong> Rückgabetyp<br/>
                        <comment>Wann? Nicht rekursiv oder überladen</comment>
                    </li>
                </ul>
            </div>
        </div>

        <div class="fragment sidebyside p40_60">
            @comp.snippet {
                |def hello = "Hello World"
            }
            <div>
                <ul class="no-bullets indent10">
                    <li>
                        <strong><em>ohne</em></strong> Zeilenumbruch
                    </li>
                </ul>
            </div>
        </div>
    </section>


    <section>
        <h3>Methoden<em>def</em>inition: Parameter</h3>

        <div class="sidebyside">
            <div>
                @comp.snippet {
                    |def add(x: Int, y: Int) = x + y
                }
                @comp.console {
                    |add: (x: Int, y: Int)Int
                }
            </div>
            <div>
                <ul class="fragment indent30">
                    <li>erwartet 2 Parameter vom Typ <code>Int</code></li>
                    <li>Trennung durch Komma</li>
                    <li>Typen <em>müssen</em> definiert werden</li>
                </ul>
            </div>
        </div>
    </section>


    <section>
        <h3>Vergleich von <code>def</code>, <code>val</code> und <code>var</code></h3>

        <div>
            <div class="sidebyside p60_40">
                @comp.snippet {
                    |val rand = util.Random.nextInt(10)
                    |println(rand)
                    |println(rand)
                }
                @comp.console {
                    |rand: Int = 6
                    |6
                    |6
                }
            </div>

            <div class="fragment indent">
                <ul class="no-bullets">
                    <li>⇨ <code>var</code> / <code>val</code> wird <em>einmal</em> ausgeführt</li>
                </ul>
            </div>
        </div>

        <hr/>

        <div class="fragment">
            <div class="sidebyside p60_40">
                @comp.snippet {
                    |def rand = util.Random.nextInt(10)
                    |println(rand)
                    |println(rand)
                }
                @comp.console {
                    |rand: Int
                    |3
                    |9
                }
            </div>

            <div class="fragment indent">
                <ul class="no-bullets">
                    <li>⇨ <code>def</code> wird einmal <em>bei jedem Aufruf</em> ausgeführt</li>
                </ul>
            </div>
        </div>
    </section>



    <section>
        <h3>Zusammenfassung</h3>
        <div class="indent">
            <ul>
                <li>bevorzugt <em>unveränderliche</em> Variablen via <code>val</code></li>
                <li>Datentypdefinition stets am Ende (z.B. <code>def hello(name: String): String</code>)</li>
                <li><em>optionale</em> Semikolons, Datentypen und Klammern</li>
            </ul>
        </div>
    </section>

</div>
}