@layout.slide("Erste Schritte mit Scala") {

<div class="slides">


    <section>
        <h1><em>Erste</em> Schritte</h1>

        <h3 class="banner">Ein kleiner Schritt für einen Entwickler ...</h3>
    </section>


    <section>
        <div style="height: 50%; width: 100%;">
            @comp.ide {
                |1 + 1
            }
        </div>
    </section>


    <section>
        @comp.snippet {
            |1 + 1
        }
        @comp.console {
            |res0: Int = 2
        }
    </section>


</div>
}