@(title: String, open: Boolean = false, clazz: String = "", head: Html = Html(""))(content: Html)
<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8">
        <meta name="robots" content="NOINDEX"/>

        <title>@title</title>

        @* STYLE *@
        <link href='@MyAssets.css_app' type="text/css" rel="stylesheet">

        @head

        @* SCRIPT *@
        <script type="text/javascript" src="@MyAssets.js_base"></script>
        <script type="text/javascript" src="@MyAssets.js_util"></script>
        <script type="text/javascript" src="@MyAssets.js_editor"></script>
    </head>

    <body class="@clazz">
        @* NAV BAR *@
        @if(open) {
            @sub.navi_pub()
        }

        @content

        @* NAV SLIP *@
        @if(!open) {
            @sub.navi_app()
        }

        @* FOOTER *@
        @if(open) {
            @*@sub.footer()*@
        }

        @* GA *@
        @sub.analytics()
    </body>

</html>