@(title: String, open: Boolean = false, clazz: String = "", head: Html = Html(""))(content: Html)
<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8">
        <meta name="robots" content="NOINDEX"/>

        <title>@title</title>

        @* STYLE *@
        <link href='@MyAssets.css_app._2' type="text/css" rel="stylesheet">

        @head

        @* SCRIPT *@
        <script type="text/javascript" src="@MyAssets.js_base._2"></script>
        <script type="text/javascript" src="@MyAssets.js_util._2"></script>
        <script type="text/javascript" src="@MyAssets.js_editor._2"></script>
    </head>

    <body class="@clazz">
        @content

        @if(!open) {
            @sub.navi_app()
        }

        @sub.analytics()
    </body>

</html>