@(title: String, baseTitle: String, heading: String, meta: String = "")(sidebar: Html)(content: Html)

@layout.public(title = baseTitle + title, meta = meta, classes = "training") {

    @*<a href='@routes.Training.trainings("berlin")'>
        <img src="http://www.eventbrite.de/custombutton?eid=3910432208" alt="Scala-Schulung in Berlin"/>
    </a>*@

    <div class="row">
        <div class="unit">
            <h2>
                @heading
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="span8">
            @content
        </div>
        <div class="span3 events_v">
            @sidebar
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function() {
        var href = window.location.href;
        if(href.indexOf("/vorteil") > -1) {
            $(".why a").addClass("active")
        } else if(href.indexOf("/folie") > -1) {
            $(".slide a").addClass("active")
        } else {
            $(".descr a").addClass("active")
        }

        if(href.indexOf("/akka") > -1) {
            $("a.akka").addClass("active")
        } else {
            $("a.scala").addClass("active")
        }
    });
</script>