@(title: String = "", crawl: Boolean = true, hideNav: Boolean = false, subtitle: Html = null,  meta: String = "", classes: String = "")(content: Html)

@import controllers.MyAssets._

<!DOCTYPE html>

<html>

    <head>
        <title>@title</title>

        @* META *@
        <meta charset="utf-8">
        @if(crawl) {
            <meta name="robots" content="INDEX, FOLLOW"/>
        } else {
            <meta name="robots" content="NOINDEX"/>
        }
        <meta name="description" content="@meta"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        @* FAVICON *@
        @* For retina-display iPads *@
        <link href='@urlOf("apple-touch-icon-xlarge.png", "img")' rel="apple-touch-icon-precomposed" sizes="144x144" type="image/png"/>
        @* For retina-display iPhones *@
        <link href='@urlOf("apple-touch-icon-large.png", "img")' rel="apple-touch-icon-precomposed" sizes="114x114" type="image/png"/>
        @* For iPad 1 *@
        <link href='@urlOf("apple-touch-icon-medium.png", "img")' rel="apple-touch-icon-precomposed" sizes="72x72" type="image/png"/>
        @* For iPhone 3G, iPod Touch and Android *@
        <link href='@urlOf("apple-touch-icon-small.png", "img")' rel="apple-touch-icon-precomposed" type="image/png"/>
        @* For Nokia *@
        <link href='@urlOf("apple-touch-icon-small.png", "img")' rel="shortcut icon"/>
        @* For everything else *@
        <link href='@urlOf("favicon.png", "img")' rel="shortcut icon" type="image/png"/>
        <link href='@urlOf("favicon.ico", "img")' rel="shortcut icon" type="image/x-icon"/>

        @* STYLE *@
        <link href='@css_pub' type="text/css" rel="stylesheet">

        @* SCRIPT *@
        @comp.jsloader(List(js_base))
    </head>

    <body class="@classes">

        @sub.navi_pub()

        <div class="container">
            <section id="main">
                @content
            </section>

            @sub.footer()
        </div>

        @sub.analytics()

        <script type="text/javascript">
            $(document).ready(function() {
                var href = window.location.href;
                if(href.indexOf("/schulung") > -1) {
                   $(".train").addClass("active")
                } else if(href.indexOf("/link") > -1) {
                    $(".link").addClass("active")
                } else if(href.indexOf("/kontakt") > -1) {
                    $(".mail").addClass("active")
                } else if(pathname = "/" || href.indexOf("/2012/") > -1 || href.indexOf("/2013/") > -1) {
                    $(".blog").addClass("active")
                }
            });
        </script>
    </body>

</html>
