@(title: String = "", crawl: Boolean = true, hideNav: Boolean = false, subtitle: Html = null)(content: Html)(implicit req: RequestHeader)
<!DOCTYPE html>

<html>

    <head>
        @t = @{
            if(title.isEmpty) "" else "| " + title
        }
        <title>Lernen Sie Scala - @t</title>

        @*<!-- META -->*@
        <meta charset="utf-8">
        @if(crawl) {
            <meta name="robots" content="INDEX, FOLLOW"/>
        } else {
            <meta name="robots" content="NOINDEX"/>
        }
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        @*<!-- STYLE -->*@
        <link href='@MyAssets.css_pub._2' type="text/css" rel="stylesheet">

        @*<!-- SCRIPT -->*@
        <script type="text/javascript" src="@MyAssets.js_base._2"></script>
    </head>

    <body>

        @sub.navi_pub()

        <div class="container">
            <section id="main">
                @content
            </section>

            <footer id="bottom">
                <div>
                    <a href="/">Home</a> | <a href="@routes.Home.contact">Kontakt</a> | <a href="@routes.Home.AGB">AGB</a> | <a href="@routes.Home.imprint">Impressum</a>
                </div>
                <div>
                    Copyright 2011 - 2012, 101 Loops
                </div>
            </footer>
        </div>

        @sub.analytics()
    </body>

</html>
