@(title: String, subtitle: String = "", showhHead: Boolean = true, clazz: String = "", showHomeBtn: Boolean = true)(content: Html)

@homeBtn = {
    @if(showHomeBtn) {
        <a class="btn btn-icon" id="btn-glossary" href="/app/glossary"></a>
    }
}

@layout.slidedeck(title, clazz = "light " + clazz) {
    @if(showhHead) {
        @headslide() {
            @title
            @if(subtitle != "") {
                :
                <span style="font-size: 75%; padding-left: 10px;">
                    @subtitle
                </span>
            }
        } {
            @content
            @homeBtn
        }
    } else {
        @slide() {
            @content
            @homeBtn
        }
    }
}