@(title: String, clazz: String = "", open: Boolean = false, history: Boolean = true)(content: Html)

@head = {
    <link href='@MyAssets.css_slide' type="text/css" media="all" rel="stylesheet">
}

@internal(title, clazz=clazz + (if(open) " open" else " closed"), open=open, head=head) {

    <div id="slidedeck" class="reveal">

        <!-- background -->
        <div class="state-background"></div>

        <!-- slides -->
        <div class="slides">
            @content

            <!-- timer -->
            <div id="timer" data-percent="100">
                <div></div>
            </div>
        </div>

        <!-- progress bar -->
        <div class="progress" style="display: none; ">
            <span style="width: 0;"></span>
        </div>
    </div>

    <!-- SLIDE -->
    <script type="text/javascript">
        require(["lib/reveal", "app/slide/init"], function(Reveal, SlideInit) {
            @* Parse the query string into a key/value object *@
            var query = {};
            location.search.replace( /[A-Z0-9]+?=(\w*)/gi, function(a) {
                query[ a.split( '=' ).shift() ] = a.split( '=' ).pop();
            } );

            Reveal.initialize({
                @* Display controls in the bottom right corner *@
                controls: false,

                @* Display a presentation progress bar *@
                progress: true,

                @* If true; each slide will be pushed to the browser history *@
                history: @history,

                @* Loops the presentation, defaults to false *@
                loop: false,

                @* Flags if mouse wheel navigation should be enabled *@
                mouseWheel: false,

                @* Apply a 3D roll to links on hover *@
                rollingLinks: false,

                @* UI style *@
                theme: query.theme || 'default', @* default/neon *@

                @* Transition style *@
                transition: query.transition || 'fade' @* linear *@
            });

            var slides = $("#slidedeck section").length;

            Reveal.addEventListener('slidechanged', function (event) {
                if(slides - event.indexh === 1) {
                    require(["app/util/progress"], function(Progress) {
                        Progress.write("progress." + location.pathname + "#/", true)
                    });
                }
            });

            new SlideInit();
        })
    </script>

    <!-- Style modal -->
    <div id="styleModal" class="modal hide">
        <div class="modal-body">
            <br/>
            TODO
            <br/>
        </div>
    </div>

    <!-- Glossary modal -->
    <div id="glossaryModal" class="fullscreen modal hide slim">
        <div class="modal-body" style="overflow: hidden"></div>
    </div>

    <!-- Countdown modal -->
    <div id="countdownModal" class="modal hide">
        <div class="modal-body">
            @countdown(15)
        </div>
    </div>

    <!-- IDE modal -->
    <div id="ideModal" class="fullscreen modal hide">
        <div class="modal-body ide">
            @ide_base()
        </div>
    </div>

    <!-- API doc modal -->
    <div id="docsModal" class="fullscreen modal hide" style="overflow: hidden">
        <div class="modal-body docs" style="overflow: hidden"></div>
    </div>
}