@(title: String, clazz: String = "")(content: Html)

@head = {
    <link href='@MyAssets.css_slide._2' type="text/css" media="all" rel="stylesheet">
    <!--<link href='@MyAssets.css_slide_print._2' type="text/css" media="print" rel="stylesheet">-->
    <!--document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' ); -->
}

@internal(title, clazz=clazz, head=head) {
    <div id="slidedeck" class="reveal">
        <!-- background -->
        <div class="state-background"></div>

        <!-- slides -->
        <div class="slides">
            @content

            <div id="timer" data-percent="100">
                <div></div>
            </div>
        </div>

        <!-- progress bar -->
        <div class="progress" style="display: none; ">
            <span style="width: 0;"></span>
        </div>
    </div>

    <!-- SLIDE -->
    <script type="text/javascript" src="@MyAssets.js_slide._2"></script>
    <script type="text/javascript">
        require(["lib/reveal", "app/slide/init"], function(Reveal, SlideInit) {
            // Parse the query string into a key/value object
            var query = {};
            location.search.replace( /[A-Z0-9]+?=(\w*)/gi, function(a) {
                query[ a.split( '=' ).shift() ] = a.split( '=' ).pop();
            } );

            Reveal.initialize({
                // Display controls in the bottom right corner
                controls: false,

                // Display a presentation progress bar
                progress: true,

                // If true; each slide will be pushed to the browser history
                history: true,

                // Loops the presentation, defaults to false
                loop: false,

                // Flags if mouse wheel navigation should be enabled
                mouseWheel: false,

                // Apply a 3D roll to links on hover
                rollingLinks: false,

                // UI style
                theme: query.theme || 'default', // default/neon

                // Transition style
                transition: query.transition || 'fade' // linear
            });

            Reveal.addEventListener('slidechanged', function (event) {
                //logSlide(event.indexh)
            });

            new SlideInit();
        })
    </script>

    <!-- Style modal -->
    <div id="styleModal" class="modal hide">
        <div class="modal-body">
            <br/>
            TODO
            <br/>
        </div>
    </div>

    <!-- Glossary modal -->
    <div id="glossaryModal" class="fullscreen modal hide slim">
        <div class="modal-body" style="overflow: hidden"></div>
    </div>

    <!-- IDE modal -->
    <div id="ideModal" class="fullscreen modal hide">
        <div class="modal-body ide">
            @ide_base()
        </div>
    </div>

    <!-- API doc modal -->
    <div id="docsModal" class="fullscreen modal hide" style="overflow: hidden">
        <div class="modal-body docs" style="overflow: hidden"></div>
    </div>
}