@layout.public("Access Denied") {

<div class="box header-box alert-box error-box">

    <header class="warn">
        <h2><span>Well, ehm. You are not allowed here.</span></h2>
    </header>

    <section>
        <div>
            Apparently you tried to open a site you don't have access rights to. Bummer.
        </div>

        <div>
            If this is not right and you should actually have access,
            please <a href="/contact">report this</a>
            - including a short description of what you tried to do. Thank you!
        </div>
    </section>

    <footer></footer>

</div>

}