@layout.public() {

<div>
    <div class="unit">
        <hr class="soften"/>
        <h3>Schulungsinhalte</h3>
        <hr class="soften"/>
    </div>

    <div class="row">
        <div class="span2">&nbsp;</div>
        <div class="span4 contents">
            <ul>
                <li>
                    <h4>Grundlagen</h4>
                    <ul>
                        <li>Syntax</li>
                        <li>Kontrollstrukturen</li>
                        <li>Case classes</li>
                        <li>Typinferenz und -konvertierung</li>
                        <li>Named and default Arguments</li>
                        <li>Überladen von Operatoren</li>
                        <li>Pakete und Imports</li>
                        <li>Singletons und Companion Objects</li>
                        <li>Predef</li>
                        <li>Java Interoperabilität</li>
                        <li>Fehlerbehandlung</li>
                        <li>For-Expressions</li>
                        <li>Coding conventions</li>
                        <li>XML-Verarbeitung</li>
                    </ul>
                </li>
                <li>
                    <h4>Objektorientierung</h4>
                    <ul>
                        <li>Typenübersicht</li>
                        <li>Komposition mit Traits</li>
                        <li>Tuples, Option</li>
                        <li>Self-types</li>
                        <li>Apply-Mechanismus</li>
                        <li>Abstrakte Klassen</li>
                        <li>Cake Pattern</li>
                        <li>Final und Sealed Klassen</li>
                        <li>Überschreiben von Feldern</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="span4 contents">
            <ul>
                <li>
                    <h4>Funktionale Features</h4>
                    <ul>
                        <li>Theoretische Einführung</li>
                        <li>Mutable versus Immutable</li>
                        <li>Array, Set, Seq, Map, List</li>
                        <li>Pattern Matching</li>
                        <li>Closures</li>
                        <li>Higher Order Functions</li>
                        <li>Funktionen map, flatMap und filter</li>
                        <li>Rekursion inkl. Tail-Recursion</li>
                        <li>Partial functions</li>
                        <li>Currying</li>
                    </ul>
                </li>
                <li>
                    <h4>Entwicklungswerkzeuge</h4>
                    <ul>
                        <li>Eclipse IDE plugin</li>
                        <li>IntelliJ IDE plugin</li>
                        <li>SBT build tool</li>
                        <li>Interactive REPL</li>
                        <li>Maven plugin</li>
                    </ul>
                </li>
                <li>
                    <h4>Testen mit Scala</h4>
                    <ul>
                        <li>BDD-Bibliothek specs2</li>
                        <li>Continuous Testing mit sbt</li>
                    </ul>
                </li>
                <li>
                    <h4>Ausblick</h4>
                    <ul>
                        <li>Roadmap von Scala</li>
                        <li>Web-Entwicklung mit play2</li>
                        <li>Parallele Programmierung mit Akka</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="span2">&nbsp;</div>
    </div>


    <hr class="soften"/>
    <h3 id="#preview">Einführungsfolie</h3>
    <hr class="soften"/>

    <div class="unit" style="width: 540px">
        <script async class="speakerdeck-embed"
                data-id="4ff48cb6a4fa25001f016245" data-ratio="1.5753846153846154"
                src="//speakerdeck.com/assets/embed.js"></script>
    </div>


    <div class="unit">
        <hr class="soften"/>
        <h3>Trainer</h3>
        <hr class="soften"/>

        <p>
            Ihr Trainer bin ich: Stephan Behnke.
            Ich bin selbstständiger Unternehmer und Softwareentwickler.
            Nach einem Studium in Wirtschaftsinformatik half ich mehreren Firmen bei der Entwicklung ihres
            Backend-Systems, anfangs mit Hilfe von Java, später dann mit Scala. Insgesamt habe ich
            <strong>drei Scala-basierte Produktivsysteme</strong> auf den Weg gebracht.
        </p>
    </div>

</div>

}