@layout.public() {

<div>
    <div class="unit">
        <hr class="soften"/>
        <h3>Themen</h3>
        <hr class="soften"/>

        <div style="width: 66%; margin: 0 auto;">
            <p>
            <ul>
                <li>
                    Entwicklungsumgebung
                    <ul>
                        <li>Eclipse/IntelliJ IDE</li>
                        <li>SBT build tool</li>
                    </ul>
                </li>
                <li>
                    Unterschiede zu Java
                    <ul>
                        <li>Lazy</li>
                        <li>Type Inference</li>
                        <li>Companion Object</li>
                        <li>Pattern Matching</li>
                        <li>&Uuml;berladen von Operatoren</li>
                    </ul>
                </li>
                <li>
                    Datentypen
                    <ul>
                        <li>Listen und Arrays</li>
                        <li>Tuple</li>
                    </ul>
                </li>
                <li>
                    Funktionale Programmierung
                    <ul>
                        <li>Closures</li>
                        <li>Immutability</li>
                        <li>Higher Order Functions</li>
                    </ul>
                </li>
                <li>
                    Vererbungs- und Kompositionsmuster
                    <ul>
                        <li>Traits</li>
                        <li>Self-Types</li>
                        <li>Cake Pattern</li>
                        <li>Multiple Inheritance</li>
                    </ul>
                </li>
                <li>Testen mit specs2</li>
            </ul>
        </div>
        </p>
    </div>
</div>

}