@layout.public() {

<div>

    <div class="unit">
        <!--<p>
            Momentan wird jeden Monat eine <strong>2-tägige</strong> Schulung
            über ingesamt 14 Stunden in <strong>Berlin</strong>
            mit <strong>bis zu 8 Teilnehmern</strong> durchgeführt.
        </p>-->
        <p>
            Auf Anfrage kann auch eine <strong>firmeninterne Schulung</strong>
            in ganz Deutschland, Österreich und der Schweiz
            vereinbart werden - über 2, 3 oder gar 4 Tage und Ihren ganz speziellen Anforderungen.
        </p>
        <p>
            Bitte setzen Sie sich dafür mit meinem
            <strong>Kooperationspartner tutego</strong> in Verbindung:
            <a href="mailto:info@@tutego.de?subject=Scala-Schulung+mit+Stephan+Behnke">info@@tutego.de</a>
            oder telefonisch unter <strong>0800 888 3467</strong>.
        </p>
    </div>

    <div class="unit">
        <hr class="soften"/>
        <h3>August</h3>
        <hr class="soften"/>

        <p>
            In Vorbereitung: Unverbindliche Voranmeldung ist <a href="@routes.Home.contact?voranmeldung">hier</a> möglich.
        </p>
    </div>

    @*<!--<div class="unit">
        <hr class="soften"/>
        <h3>August</h3>
        <hr class="soften"/>

        <p>
            Der Termin für den August steht fest: <strong>30. - 31.8</strong>.
            Der Veranstaltungsort wird wahrscheinlich wieder ...
        </p>
    </div>-->*@

    <div class="unit">
        <hr class="soften"/>
        <h3>Juli @@ devbliss GmbH</h3>
        <hr class="soften"/>

        <p>
            Die Schulung vom <strong>30. - 31. Juli</strong> ist eine firmeninterne
            der <a href="https://www.devbliss.com/">devbliss GmbH</a>,
            einer Tochtergesellschaft der Holzbrinck Verlagsgruppe.
        </p>
    </div>

</div>

}