@layout.public() {

<div>

    <div class="row">
        <div class="span2">&nbsp;</div>
        <div class="span8">
            <div class="row">
                <div class="span4">
                    <hr class="soften"/>
                    <h3>Öffentlich</h3>
                    <hr class="soften"/>
                    <p>
                        In Vorbereitung.<br/>
                        Momentan Priorität für firmeninterne Anfragen.<br/><br/>
                        Unverbindliche Voranmeldung ist <a href="@routes.Home.contact?voranmeldung">hier</a> möglich.
                    </p>
                </div>

                <div class="span4">
                    <hr class="soften"/>
                    <h3>Firmenintern</h3>
                    <hr class="soften"/>
                    <p>
                        In ganz Deutschland, Österreich und der Schweiz
                        möglich - über 2, 3 oder gar 4 Tage, mit bis zu 12 Teilnehmern
                        und Ihren speziellen Anforderungen.
                    </p>

                    <p>
                        Bitte setzen Sie sich dafür mit meinem
                        <strong>Kooperationspartner tutego</strong> in Verbindung:
                        <ul>
                            <li><a href="mailto:info@@tutego.de?subject=Scala-Schulung+mit+Stephan+Behnke">info@@tutego.de</a> oder</li>
                            <li>telefonisch unter <strong>0800 888 3467</strong></li>
                        </ul>
                    </p>
                    <br/>
                    <p>
                        <strong>Nächste Termine:</strong>
                        <ul>
                            <li>Juli: <a href="https://www.devbliss.com/">devbliss GmbH</a>, Berlin</li>
                            @*<!--<li>August: Esslingen</li>-->*@
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>

}