@layout.public() {

<div>

    <div class="unit">
        <p>
            Momentan wird jeden Monat eine <strong>2-tägige</strong> Schulung
            über ingesamt 14 Stunden in <strong>Berlin</strong>
            mit <strong>bis zu 8 Teilnehmern</strong> durchgeführt.
        </p>
        <p>
            Auf Anfrage kann auch eine firmeninterne Schulung in ganz Deutschland
            vereinbart werden: <a href="@routes.Home.contact">Kontakt</a>.
        </p>
    </div>

    <div class="unit">
        <hr class="soften"/>
        <h3>August</h3>
        <hr class="soften"/>

        <p>
            Der Termin für den August steht fest: <strong>30. - 31.8</strong>.
            Der Veranstaltungsort wird wahrscheinlich wieder ...
        </p>
    </div>

    <div class="unit">
        <hr class="soften"/>
        <h3>Juli @@ devbliss GmbH</h3>
        <hr class="soften"/>

        <p>
            Die Schulung vom <strong>30. - 31. Juli</strong> ist eine firmeninterne
            der <a href="https://www.devbliss.com/">devbliss GmbH</a>,
            einer Tochtergesellschaft der Holzbrinck Verlagsgruppe.
            Externe Interessenten können erst wieder in der August-Schulung teilnehmen.
        </p>
    </div>

</div>

}