@()(implicit flash: Flash)

@layout.public() {

<div>

    <div class="row">
        <div class="span2">&nbsp;</div>
        <div class="span8" style="margin-bottom: 20px">
            <p>
                Scala ist <strong>das neue Java</strong>: Eine moderne, typensichere Sprache,
                die objektorientierte und funktionale Programming <strong>auf der bekannten Java-Plattform</strong>
                vereint und sich doch <strong>wie eine dynamische Sprache</strong> anfühlt.
                Damit werden Programme deutlich kürzer, verständlicher, performanter und fehlerfreier
                - die Schulung hilft Ihnen diese <strong>Vorteile schnellstmöglich zu nutzen</strong>.
                <a href="@routes.Home.details">Lernen Sie mehr</a>.
            </p>
        </div>
        <div class="span2">&nbsp;</div>
    </div>

    <div class="row">
        <div class="span2">&nbsp;</div>
        <div class="span8">
            <div class="row">
                <div class="span4">
                    <div>
                        <hr class="soften"/>
                        <h3>Manager ?</h3>
                        <hr class="soften"/>

                        <p>
                            Scala ermöglicht es Entwicklern <strong>produktiver</strong> zu sein. Wie?
                            Programmcode wird durchschnittlich <strong>um über 50% reduziert</strong>,
                            behält dabei aber die Performanz und <strong>Qualität von Java</strong>.
                        </p>

                        <p>
                            Scala ist zwar eine eigene Sprache, weil es aber
                            auf der Java-Plattform aufsetzt, können Sie
                            <strong>bestehenden Java-Code</strong> und
                            <strong>bekannte Bibliotheken weiterverwenden</strong>.
                        </p>

                        <p>
                            Scala wird von Startups wie <strong>Twitter und LinkedIn</strong>
                            aber auch etablierten Firmen wie <strong>Guardian und Sony</strong> verwendet.
                            Die Sprache ist in den letzten 9 Jahren zu einem stabilen und produktiven Werkzeug gereift
                            - inklusive der <strong>kommerziellen Firma 'Typesafe'</strong> im Rücken.
                        </p>

                        <p class="center">
                            <a href="@routes.Home.details">&gt; Lernen Sie mehr &lt</a>
                        </p>
                    </div>
                </div>
                <div class="span4">
                    <div>
                        <hr class="soften"/>
                        <h3>Entwickler ?</h3>
                        <hr class="soften"/>

                        <p>
                            Scala ist eine <strong>Revolution</strong>.
                            Es mutet an <strong>wie eine dynamische Sprache</strong> a la Groovy,
                            doch behält die Performanz und <strong>Typensicherheit</strong>
                            die man von Java gewohnt ist.
                        </p>

                        <p>
                            Viele wertvolle Features wie <i>closures</i>, <i>type inference</i>,
                            <i>traits</i> und <i>case classes</i>
                            machen Programme <strong>kürzer, lesbarer und sicherer</strong>
                            als in Java - und auch noch <strong>Spaß</strong>.
                        </p>

                        <p>
                            Aber durch diesen Djungel an neuen Möglichkeiten muss erst einmal durchgefunden werden.
                            Dieser Kurs <strong>hilft bei einem zielführenden Start</strong>
                            mit Scala - doch seien Sie gewarnt,
                            danach wird Ihnen Java-Code wie aus einer antiken Zeit vorkommen.
                        </p>

                        <br/>
                        <p class="center">
                            <a href="@routes.Home.details">&gt; Lernen Sie mehr &lt</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="span1">&nbsp;</div>
    </div>
</div>

}