@()(implicit flash: Flash)

@layout.public() {

<div>

    <div class="row">
        <div class="span2">&nbsp;</div>
        <div class="span8" style="margin-bottom: 20px">
            <p>
                Scala ist eine moderne, typensichere Sprache,
                die <strong>objektorientierte und funktionale</strong> Programmierung
                <strong>auf der bekannten Java-Plattform</strong>
                vereint und sich doch <strong>wie eine dynamische Sprache</strong> anfühlt.
            </p>

            <p>
                Damit werden Programme deutlich kürzer, verständlicher, performanter und fehlerfreier
                - die Schulung hilft Ihnen diese <strong>Vorteile schnellstmöglich zu nutzen</strong>.
                <a href="@routes.Home.details">Lernen Sie mehr</a>.
            </p>
        </div>
        <div class="span2">&nbsp;</div>
    </div>

    <div class="row">
        <div class="span2">&nbsp;</div>
        <div class="span8">
            <div class="row">
                <div class="span4">
                    <div>
                        <hr class="soften"/>
                        <h3>Manager ?</h3>
                        <hr class="soften"/>

                        <p>
                            Scala ermöglicht es Entwicklern <strong>produktiver</strong> zu sein. Wie?
                            Programmcode wird durchschnittlich <strong>um über 50% reduziert</strong>,
                            behält dabei aber die Leistung und <strong>Qualität von Java</strong>.
                        </p>

                        <br/>

                        <p>
                        <h5>5 Gründe auf Scala zu setzen:</h5>
                        <ul class="reasons">
                            <li>
                                <strong>100% kompatibel mit Java</strong>:
                                verwenden Sie existierende Bibliotheken und Code-Zeilen
                            </li>
                            <li>
                                <strong>9 Jahre Entwicklung</strong>:
                                Stabilität und kontinuierliche Weiterentwicklung
                            </li>
                            <li>
                                <strong>Nutzung bei Startups und Firmen</strong>:
                                Twitter, SAP, Guardian, LinkedIn, Sony und viele mehr
                            </li>
                            <li>
                                <strong>Reduzierung der Code-Zeilen</strong>:
                                schneller verstehen und weniger Fehler machen
                            </li>
                            <li>
                                <strong>Kommerzielle Unterstützung</strong>:
                                das Unternehmen 'Typesafe' steht hinter Scala
                            </li>
                        </ul>
                        </p>

                        <p class="center">
                            <a href="@routes.Home.details">&gt; Erfahren Sie mehr &lt</a>
                        </p>
                    </div>
                </div>
                <div class="span4">
                    <div>
                        <hr class="soften"/>
                        <h3>Entwickler ?</h3>
                        <hr class="soften"/>

                        <p>
                            Scala ist eine <strong>Revolution</strong>.
                            Oberflächlich erscheint es <strong>wie eine dynamische Sprache</strong>,
                            im Kern findet man aber die Geschwindigkeit und <strong>Typensicherheit</strong>
                            die man von Java gewohnt ist.
                        </p>

                        <br/>

                        <p>
                        <h5>5 Gründe Scala zu lernen:</h5>
                        <ul class="reasons">
                            <li>
                                <strong>Knapper und prägnanter Code</strong>:
                                um weniger zu lesen und mehr zu schreiben
                            </li>
                            <li>
                                <strong>Erkennung von Datentypen</strong>:
                                weniger Redundanz durch Typenerkennung
                            </li>
                            <li>
                                <strong>Eigene Kontrollstrukturen</strong>:
                                erschaffen von eigenen Befehlen und sogar DSLs
                            </li>
                            <li>
                                <strong>Komposition von Klassen</strong>:
                                kombinieren von mehreren <i>traits</i> zu einer Klasse
                            </li>
                            <li>
                                <strong>Java-Laufzeitumgebung</strong>:
                                bekannte Geschwindigkeit und Stabilität
                            </li>
                        </ul>
                        </p>

                        <p class="center">
                            <a href="@routes.Home.details">&gt; Erfahren Sie mehr &lt</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="span1">&nbsp;</div>
    </div>
</div>

}