@()(implicit flash: Flash)

@layout.public() {

<div>

    <div class="row">
        <div class="span2">&nbsp;</div>
        <div class="span8" style="margin-bottom: 20px">
            <p>
                Scala ist das neue Java: Eine moderne, typensichere Sprache,
                die objektorientierte und funktionale Programming auf der bekannten Java-Plattform vereint
                und sich doch wie eine dynamische Sprache anfühlt.
                Damit werden Programme deutlich kürzer, verständlicher, performanter und fehlerfreier
                - die Schulung hilft Ihnen diese Vorteile schnellstmöglich zu nutzen.
            </p>
        </div>
        <div class="span2">&nbsp;</div>
    </div>

    <div class="row">
        <div class="span2">&nbsp;</div>
        <div class="span8">
            <div class="row">
                <div class="span4">
                    <div>
                        <hr class="soften"/>
                        <h3>Manager ?</h3>
                        <hr class="soften"/>

                        <p>
                            Scala ermöglicht es Entwicklern produktiver zu sein. Wie?
                            Es reduziert die Code-Zeilen für Programme um 50%, behält dabei aber
                            die Qualität und Performanz von Java.
                        </p>

                        <p>
                            Scala ist zwar eine eigene Sprache, läuft aber auf der Java-Plattform.
                            Das heißt bestehende Bibliotheken und Programme können einfach weiterverwendet werden.
                        </p>

                        <p>
                            Scala wird von Startups wie Twitter und LinkedIn
                            aber auch etablierten Firmen wie Guardian und Sony verwendet.
                            Die Sprache ist in den letzten 9 Jahren zu einem stabilen und produktiven Werkzeug gereift
                            - seit kurzem auch mit der speziell gegründeten Firma Typesafe im Rücken.
                        </p>

                        <p class="center">
                            <a href="@routes.Home.details">&gt; Lernen Sie mehr &lt</a>
                        </p>
                    </div>
                </div>
                <div class="span4">
                    <div>
                        <hr class="soften"/>
                        <h3>Entwickler ?</h3>
                        <hr class="soften"/>

                        <p>
                            Scala ist eine Revolution. Es mutet an wie eine dynamische Sprache a la Groovy,
                            doch behält die volle Typensicherheit und Performanz die man von Java gewohnt ist.
                        </p>

                        <p>
                            Viele wertvolle Features wie <i>closures</i>, <i>type inference</i>,
                            <i>traits</i> und <i>case classes</i>
                            machen Programme in Scala kürzer, lesbarer und sicherer als in Java - und auch noch Spaß.
                        </p>

                        <p>
                            Aber durch diesen Djungel an neuen Möglichkeiten muss erst einmal durchgefunden werden.
                            Dieser Kurs hilft bei einem zielführenden Start mit Scala - doch seien Sie gewarnt,
                            danach wird Ihnen Java-Code wie aus einer antiken Zeit vorkommen.
                        </p>

                        <br/>
                        <p class="center">
                            <a href="@routes.Home.details">&gt; Lernen Sie mehr &lt</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="span1">&nbsp;</div>
    </div>
</div>

}