@layout.slide("test") {

    <div class="state-background"></div>

    <div class="slides">


        <section>
            <h1>Scala</h1>

            <h3>CSS 3D Presentations</h3>
        </section>


        <section>
            <h2>Heads <em>Up</em></h2>

            <p>
                reveal.js is an easy to use, HTML based, presentation tool. You'll need a modern browser with
                support for CSS 3D transforms to see it in its full glory.
            </p>
        </section>


    </div>
}