<html lang="en" class="begin"><head>
		<meta charset="utf-8">
		
		<title>Studio Nord</title>
		
		<meta name="author" content="Studio Nord">
		<meta name="description" content="A design and development studio from Istanbul, committed to developing cutting-edge digital solutions and engaging multi-platform experiences.">
		
		<meta property="og:title" content="Studio Nord"> 
		<meta property="og:description" content="A design and development studio from Istanbul, committed to developing cutting-edge digital solutions and engaging multi-platform experiences.">
		<meta property="og:url" content="http://www.studionord.org/"> 
		<meta property="og:image" content="http://www.studionord.org/images/facebook.jpg">
		<link rel="image_src" href="http://www.studionord.org/images/facebook.jpg">
		
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		
		<link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=PT+Sans:400italic,400,700,700italic" rel="stylesheet" type="text/css">
		
        <link rel="stylesheet" href="@MyAssets.css_slide._1">
	</head>
	
	<body>
		
		<div id="reveal">

			<!-- Used to fade in a background when a specific slide state is reached -->
			<div class="state-background"></div>
			
			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				
				<section data-state="begin" style="display: block; " class="present">				
					<p>
						<img width="189" height="300" src="img/logo.png">
					</p>

					<p id="hint1_1" style="font-size: 16px; text-shadow: none; line-height: 8px; display: block; "><strong>hint:</strong>use arrow keys to navigate</p>
					<p id="hint1_2" style="font-size: 16px; text-shadow: none; line-height: 8px; display: block; ">or use your mouse to scroll</p> 
					<p id="hint1_3" style="font-size: 16px; text-shadow: none; line-height: 8px; display: block; ">...</p>		
					<p id="hint1_4" style="font-size: 16px; text-shadow: none; line-height: 8px; display: block; opacity: 0.9969804777275898; ">whatever</p>					
				</section>
				
				<section data-state="do" style="display: block; " class="future">
					<h1>What we do</h1>
					<ul id="worklist">
						<li>iOS Application &amp; Game Development</li>
						<li>Web Application &amp; Game Development</li>
						<li>Mac OS X Application Development</li>
						<li>iOS Interaction / UX Design</li>
						<li>Game &amp; Level Design</li>
					</ul>
				</section>
				
				<!-- Example of nested vertical slides -->
				<section style="display: block; " class="future stack">
				<h1 style="margin: 0;">What we did</h1>
				<p style="font-size: 20px; text-shadow: none;margin: 0;">Mobile</p>
					<section data-state="did_mobile_9">
						<div class="projects">					
							<div class="project_left">
								<div id="slider_mobile_9">
									<div><img src="img/moustagram_2.png"></div>
                                    <div><img src="img/moustagram_1.png"></div>
									<div><img src="img/moustagram_4.png"></div>
								</div>	
							</div>							
							<div class="project_right">
								<h2>Moustagram</h2>		
								<p>Moustagram is an application that allows users to take photos with fancy moustaches on them. You can also share your Moustagram photos with your friends via Facebook and Twitter. <br> <a href="http://itunes.apple.com/app/moustagram/id531864119" target="_blank" class="roll"><span data-title="App Store">App Store</span></a></p>
								<div class="list">			
									<ul>
										<li>Consultancy</li>
										<li class="did">Art Direction</li>
										<li class="did">Interface Design</li>
										<li class="did">Functional Design</li>
										<li class="did">Concept Design</li>
										<li class="did">iOS Development</li>
										<li>Backend Development</li>								
									</ul>
								</div>
							</div>
						</div>
						<div class="h30"></div>
						<p class="triangle-down"> </p>
					</section>
                    <section data-state="did_mobile_8">
						<div class="projects">					
							<div class="project_left">
								<div id="slider_mobile_8">
									<div><img src="img/docu_1.png"></div>
									<div><img src="img/docu_2.png"></div>
									<div><img src="img/docu_3.png"></div>
								</div>	
							</div>							
							<div class="project_right">
								<h2>Documentarist</h2>		
								<p>An iPhone application for The 5th edition of DOCUMENTARIST Istanbul Documentary Days that took place between June 1st and June 6th, 2012. <br> <a href="http://itunes.apple.com/us/app/id528243574" target="_blank" class="roll"><span data-title="App Store">App Store</span></a></p>
								<div class="list">			
									<ul>
										<li class="did">Consultancy</li>
										<li>Art Direction</li>
										<li>Interface Design</li>
										<li>Functional Design</li>
										<li>Concept Design</li>
										<li class="did">iOS Development</li>
										<li class="did">Backend Development</li>								
									</ul>
								</div>
							</div>
						</div>
						<div class="h30"></div>
						<p class="triangle-down"> </p>
					</section>
					<section data-state="did_mobile_7">
						<div class="projects">					
							<div class="project_left">
								<div id="slider_mobile_7">
									<div><img src="img/photos_plus_1.png"></div>
									<div><img src="img/photos_plus_2.png"></div>
								</div>	
							</div>							
							<div class="project_right">
								<h2>Photos Plus!</h2>		
								<p>An extended iPhone album application. As well as accessing the photos on your device, you can also connect several services, export photos between them and do little interactions. <br> <a href="http://bit.ly/photosplusapp" target="_blank" class="roll"><span data-title="App Store">App Store</span></a></p>
								<div class="list">			
									<ul>
										<li>Consultancy</li>
										<li>Art Direction</li>
										<li class="did">Interface Design</li>
										<li class="did">Functional Design</li>
										<li class="did">Concept Design</li>
										<li class="did">iOS Development</li>
										<li>Backend Development</li>								
									</ul>
								</div>
							</div>
						</div>
						<div class="h30"></div>
						<p class="triangle-down"> </p>
					</section>
										
					<section data-state="did_mobile_6">
						<div class="projects">					
							<div class="project_left">
								<div id="slider_mobile_6">
									<div><img src="img/iannem_1.png"></div>
									<div><img src="img/iannem_2.png"></div>
								</div>	
							</div>
							
							<div class="project_right">
								<h2>iAnnemiAramadım</h2>										
								<p>An application which reminds you to call your mom in the intervals you set. <br> <a href="http://bit.ly/iAnnemiAramadim" target="_blank" class="roll"><span data-title="App Store">App Store</span></a></p>		
								<div class="list">					
									<ul>
										<li class="did">Consultancy</li>
										<li>Art Direction</li>
										<li>Interface Design</li>
										<li>Functional Design</li>
										<li>Concept Design</li>
										<li class="did">iOS Development</li>
										<li>Backend Development</li>	
									</ul>
								</div>
							</div>
						</div>
						<div class="h30"></div>
						<p class="triangle-down"> </p>
					</section>

					<section data-state="did_mobile_5">
					
						<div class="projects">					
							<div class="project_left">
								<div id="slider_mobile_5">
									<div><img src="img/miller_1.png"></div>
									<div><img src="img/miller_2.png"></div>
								</div>	
							</div>
							
							<div class="project_right">
								<h2>Miller Time</h2>		
								<p>An interactive, music, art and fashion magazine that is published quarterly.  <br><a href="http://itunes.apple.com/tr/app/miller-time/id418719060?mt=8" target="_blank" class="roll"><span data-title="App Store">App Store</span></a></p>	
								<div class="list">			
									<ul>
										<li>Consultancy</li>
										<li>Art Direction</li>
										<li>Interface Design</li>
										<li class="did">Functional Design</li>
										<li>Concept Design</li>
										<li class="did">iOS Development</li>
										<li class="did">Backend Development</li>						
									</ul>
								</div>
							</div>
						</div>	
						<div class="h30"></div>					
						<p class="triangle-down"> </p>
						
					</section>
					<section data-state="did_mobile_4">
						<div class="projects">					
							<div class="project_left">
								<div id="slider_mobile_4">
									<div><img src="img/siemens_1.png"></div>
									<div><img src="img/siemens_2.png"></div>
								</div>	
							</div>
							
							<div class="project_right">
								<h2>Siemens Aplikasyon TV</h2>		
								<p>In-house distributed video platform for iPad. You can watch tutorial videos of the Siemens Healthcare products as well as commenting on them.</p>		
								<div class="list">					
									<ul>
										<li class="did">Consultancy</li>
										<li class="did">Art Direction</li>
										<li class="did">Interface Design</li>
										<li class="did">Functional Design</li>
										<li class="did">Concept Design</li>
										<li class="did">iOS Development</li>
										<li class="did">Backend Development</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="h30"></div>
						<p class="triangle-down"> </p>
					</section>
					
					<section data-state="did_mobile_3">
						<div class="projects">					
							<div class="project_left">
								<div id="slider_mobile_3">
									<div><img src="img/bobi_1.png"></div>
									<div><img src="img/bobi_2.png"></div>
									<div><img src="img/bobi_3.png"></div>
								</div>	
							</div>
							
							<div class="project_right">
								<h2>Bobiler Paralel Evren</h2>		
								<p>Location based "monte" browser. <br><a href="http://itunes.apple.com/tr/app/bobiler.org-evreni/id511929790?mt=8" target="_blank" class="roll"><span data-title="App Store">App Store</span></a></p>		
								<div class="list">					
									<ul>
										<li class="did">Consultancy</li>
										<li class="did">Art Direction</li>
										<li class="did">Interface Design</li>
										<li class="did">Functional Design</li>
										<li class="did">Concept Design</li>
										<li class="did">iOS Development</li>
										<li class="did">Backend Development</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="h30"></div>
						<p class="triangle-down"> </p>
					</section>
					
					<section data-state="did_mobile_2">
						<div class="projects">					
							<div class="project_left">
								<div id="slider_mobile_2">
									<div><img src="img/drmn_1.png"></div>
									<div><img src="img/drmn_2.png"></div>
									<div><img src="img/drmn_3.png"></div>
									<div><img src="img/drmn_4.png"></div>
								</div>									
							</div>
							
							<div class="project_right">
								<h2>D.R.M.N Game Framework</h2>		
								<p>A game framework for platform games which runs <strong>natively</strong> on both iOS and Flash! Snap!</p>	
								<div class="list">			
									<ul>										
										<li class="did">Consultancy</li>
										<li>Art Direction</li>
										<li>Interface Design</li>
										<li class="did">Functional Design</li>
										<li class="did">Concept Design</li>
										<li class="did">iOS Development</li>
										<li class="did">AS3 Development</li>
										<li class="did">Architecture</li>
										<li class="did">Backend Development</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="h10"></div>
						<p id="hint3_1" style="font-size: 16px; text-shadow: none;line-height: 8px;"></p>
						<p id="hint3_2" style="font-size: 16px; text-shadow: none;line-height: 8px"></p> 
						<div class="h20"></div>
						<p id="hint3_3"></p><p>
						
					</p></section>
					<section data-state="did_mobile_1">
						<div class="h30"></div>
						<h4 style="text-transform: none;">We have also developed more than 35 In-house distributed iOS applications for these clients.</h4>						
						<ul style="font-size: 20px;">							
							<li>Roche</li>
							<li>Pfizer</li>
							<li>Boehringer Ingelheim</li>
							<li>Bristol Myers</li>
							<li>Novartis</li>
							<li>The Coca Cola Company</li>
							<li>Beko</li>							
						</ul>
						<div class="h20"></div>
						<p style="font-size: 16px; text-shadow: none;">Still want more? <a href="mailto:marvin@@studionord.org?subject=Hej!" class="roll"><span data-title="Drop us a mail">Drop us a mail</span></a></p>
						<div class="h20"></div>
						
						<p class="triangle-up"> </p>

					</section>
				</section>

				<section style="display: block; " class="future stack">
					<h1 style="margin: 0;">What we did</h1>
					<p style="font-size: 20px; text-shadow: none;margin: 0;">Web</p>
					<section data-state="did_web_5">
						<div class="projects">					
							<div class="project_left">
								<div id="slider_web_5">
									<div><img src="img/cnn_1.png"></div>
								</div>	
							</div>
							
							<div class="project_right">
								<h2>CNN Turk Hızlıhaber</h2>		
								<p>A smart news feed for CNN Turk. <br><a href="http://hizlihaber.cnnturk.com" target="_blank" class="roll"><span data-title="Link">Link</span></a></p>		
								<div class="list">					
									<ul>
										<li class="did">Consultancy</li>
										<li>Art Direction</li>
										<li>Interface Design</li>
										<li>Functional Design</li>
										<li>Concept Design</li>
										<li class="did">Frontend Development</li>
										<li class="did">Backend Development</li>
										
									</ul>
								</div>
							</div>
						</div>
						<div class="h30"></div>
						<p class="triangle-down"> </p>
					</section>
					<section data-state="did_web_4">
						<div class="projects">					
							<div class="project_left">
								<div id="slider_web_4">
									<div><img src="img/evim_1.png"></div>
								</div>
							</div>
							
							<div class="project_right">
								<h2>Yeni Rakı - Evini Yenile</h2>		
								<p>A Facebook application with photo sharing and badge placement capabilities.</p>		
								<div class="list">					
									<ul>
										<li class="did">Consultancy</li>
										<li>Art Direction</li>
										<li>Interface Design</li>
										<li>Functional Design</li>
										<li>Concept Design</li>
										<li class="did">Frontend Development</li>
										<li class="did">Backend Development</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="h30"></div>
						<p class="triangle-down"> </p>
					</section>
					<section data-state="did_web_3">
						<div class="projects">					
							<div class="project_left">
								<div id="slider_web_3">
									<div><img src="img/instarakim_1.png"></div>
									<div><img src="img/instarakim_2.png"></div>
								</div>
							</div>
							
							<div class="project_right">
								<h2>Yeni Rakı - Instarakım</h2>		
								<p>First Facebook application with photo sharing capabilities built on Instagram API in Turkey.</p>		
								<div class="list">					
									<ul>
										<li class="did">Consultancy</li>
										<li>Art Direction</li>
										<li>Interface Design</li>
										<li class="did">Functional Design</li>
										<li>Concept Design</li>
										<li class="did">Frontend Development</li>
										<li class="did">Backend Development</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="h30"></div>
						<p class="triangle-down"> </p>
					</section>
					
					<section data-state="did_web_2">
						<div class="projects">					
							<div class="project_left">
								<div id="slider_web_2">
									<div><img src="img/usla_1.png"></div>
									<div><img src="img/usla_2.png"></div>
								</div>
							</div>
							
							<div class="project_right">
								<h2>USLA Corporate Website</h2>		
								<p>USLA Corporate Website <br> <a href="http://www.usla.com.tr" target="_blank" class="roll"><span data-title="Link">Link</span></a></p>		
								<div class="list">					
									<ul>
										<li class="did">Consultancy</li>
										<li>Art Direction</li>
										<li>Interface Design</li>
										<li>Functional Design</li>
										<li>Concept Design</li>
										<li class="did">Frontend Development</li>
										<li>Backend Development</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="h10"></div>
						<p id="hint4_1" style="font-size: 16px; text-shadow: none;line-height: 8px;"></p>
						<p id="hint4_2" style="font-size: 16px; text-shadow: none;line-height: 8px"></p> 
						<div class="h20"></div>
						<p id="hint4_3"></p>
					</section>
					<section data-state="did_web_1">
						<div class="h30"></div>
						<h4 style="text-transform: none;">We love your browser like you do. Seriously. This is the rest of our clients.</h4>						
						<ul style="font-size: 20px;">							
							<li>Microsoft</li>
							<li>Nokia</li>
							<li>Ülker</li>
							<li>Colgate</li>
							<li>Motion Films</li>
							<li>Evrim</li>					
							<li>Selin's Kitchen Studio</li>
							<li>3bes7</li>
												
						</ul>
						<div class="h20"></div>
						<p style="font-size: 16px; text-shadow: none;">Interested? <a href="mailto:marvin@@studionord.org?subject=Hej!" class="roll"><span data-title="Drop us a mail">Drop us a mail</span></a></p>
						<div class="h20"></div>
						<p class="triangle-up"> </p>
						
					</section>
				</section>
				
				<section data-state="short" style="display: block; " class="future">
					<h1>Long story short</h1>
					<div class="h30"></div>
					<div style="width: 500px;margin: 0 auto;">
					<blockquote>					
					We are a design and development studio from Istanbul, committed to developing cutting-edge digital solutions and engaging multi-platform experiences.
					</blockquote>

					<div class="h30"></div>
					<div style="width: 700px;text-align: left;margin: 0 auto;">
						<p><strong>address</strong> halaskargazi cad. t.m. alibey sok. papatya apt. kat 8 şişli - istanbul</p>
						<p><strong>tel</strong> +90 212 292 40 95</p>
						<p><strong>mail</strong> <a href="mailto:marvin@@studionord.org?subject=Hej!" class="roll"><span data-title="marvin@@studionord.org">marvin@@studionord.org</span></a></p>	
					</div>
					</div>
				</section>

				<section data-state="join" style="display: block; " class="future">
					<h1>And.. One last thing</h1>
					<div class="h30"></div>					
					<div class="fragment">
						<p>If any of those images</p>
						<img id="join_image_1" style="border: 1px solid #333;" src="img/join1.png" width="200" height="200">
						<img id="join_image_2" style="border: 1px solid #333;" src="img/join2.png" width="200" height="200">
						<img id="join_image_3" style="border: 1px solid #333;" src="img/join3.png" width="200" height="200">
					</div>
					<div class="h20"></div>					
					
					<div class="fragment">
						<p>make sense to you</p>
					</div>
					
					<div class="fragment">
						<p>Drop us a <a href="mailto:marvin@@studionord.org?subject=Hej!" class="roll"><span data-title="mail">mail</span></a>! We are hiring!</p>
						<p style="font-size: 12px;">(nonsense? <a href="javascript:;" id="hit_me" class="roll"><span data-title="try again">try again</span></a>)</p>
					</div>
															
				</section>
	
				<section data-state="end" style="display: block; " class="future">
					
					<br>
					<h1>THE END</h1>
					<p id="hintend_1" style="font-size: 16px; text-shadow: none;line-height: 8px"></p>
					<p id="hintend_2" style="font-size: 16px; text-shadow: none;line-height: 8px"></p> 
					<p id="hintend_3"></p> 
				</section>
				
			</div>

			<!-- The navigational controls UI -->
			<aside class="controls" style="display: block; ">
				<a class="left" href="#">◄</a>
				<a class="right enabled" href="#">►</a>
				<a class="up" href="#">▲</a>
				<a class="down" href="#">▼</a>
			</aside>

			<!-- Displays presentation progress, max value changes via JS to reflect # of slides -->
			<div class="progress" style="display: block; "><span style="width: 0px; "></span></div>
			
		</div>

        <script src="@MyAssets.js_slide._1"></script>
		
	
<div class="extLives"></div></body></html>