@layout.slide("test") {

<div class="state-background"></div>

<div class="slides">


    <section>
        <h1>Scala</h1>
    </section>


    <section>
        <h2>Heads <em>Up</em></h2>

        <p>
            bla bla bla
        </p>
    </section>


    <section>
        <textarea class="editor" id="code">
def partition(p: A => Boolean): (Repr, Repr) = {
  val l, r = newBuilder
  for (x <- this) (if (p(x)) l else r) += x
  (l.result, r.result)
}
        </textarea>
    </section>


    <section>
        <h2>La
            <emp>Fin</emp>
        </h2>
    </section>


</div>
}