body.print {
    .reveal .slides {

        // remove any borders
        border: 0;

        // hide glossary navi
        #btn-glossary { display: none; }

        // hide timer
        #timer { display: none; }
    }

    // hide main navi
    #navi { display: none; }

    // disable animation
    .reveal.fade .slides {
        .transition(none);
    }
}